.DS_Store

application/cache/*
!application/cache/index.html

application/logs/*
!application/logs/index.html

application/libraries/*
!application/libraries/*.php
!application/libraries/index.html

!application/*/.htaccess

composer.lock

user_guide/

/vendor/
/vendor_php7.2/
/vendor_php7.3/

# IDE Files
#-------------------------
.htaccess
._*
*.sh
/nbproject/
.idea/*
.well-known/*
art/*
log/*
doc/*.htaccess
export_file/*
itm/*
pub/be/*
!pub/be/images/
pub/captcha/*
pub/front/*
pub/uploads/*
session_file/*
system/*
thumbnail/*
upload_files/*