    {{include file="{{$tv_kind}}/header.html"}}
    <script type="text/javascript" src="{{$tv_pub_url}}/js/wizard.js"></script>
    <script type="text/javascript" src="{{$tv_pub_url}}/js/wizard-5.js"></script>
    <script type="text/javascript" src="{{$tv_pub_url}}/js/formValidation.min.js"></script>
    <script src="{{$tv_pub_url}}/js/validator.min.js"></script>
    <script src="{{$tv_pub_url}}/js/jquery.twzipcode.min.js"></script>
    <script>
      $(function(){
        $("#de06_1").val(null)
        $("#de06_2").val(null)
        $('#twzipcode').twzipcode();
        $("#step-1").attr('data-wizard-state','current');
        $("#step1-content").attr('data-wizard-state','current');
        $("#step-2").attr('data-wizard-state','pending');
        $("#step-3").attr('data-wizard-state','pending');
        $("#step-4").attr('data-wizard-state','pending');
        $("#step4-content").attr('data-wizard-state','done');
        $("#save").hide();
        $("#donate_prev").css('display','none');

        $("input[name=de05]").click(function () {
          if ($("input[name=de05]:checked").val() == "N") {
            $('#pay_invoiceCollapse').find('input:text').val('');
            $('#pay_invoiceCollapse').find('input:radio').prop("checked", false);
            $("#pay_invoiceCollapse").collapse('hide');
          }
        });

        $(".radio_de06_cancel").click(function(){
          $("input[name=radio_de06]").each(function(){
            $(this).prop("checked",false);
          });
          $("#de06").val('');
          $("#de06_1").removeAttr('disabled');
          $("#de06_2").removeAttr('disabled');
        });

        $(".radio_de06").click(function(){
          $("#radio_de06_cancel").prop("checked",false);
          var de06 = "";
          $("input[name=radio_de06]:checked").each(function () {
            de06 = $(this).val();
          });
          $("#de06").val(de06);
          $("#de06_1").val(null);
          $(".de06-text").text("NTD "+ de06);
          $("#de06_1").attr('disabled', 'disabled');
          $("#radio_de06_cancel").show();
        });

        $(".radio_de06_2").click(function(){
          $("#radio_de06_cancel").prop("checked",false);
          var de06 = "";
          $("input[name=radio_de06]:checked").each(function () {
            de06 = $(this).val();
          });
          $("#de06").val(de06);
          $("#de06_2").val(null);
          $(".de06-text").text(de06+" NTD");
          $("#de06_2").attr('disabled', 'disabled');
          $("#radio_de06_cancel_2").show();
        });

        $("#de06_1").blur(function(){
          var de06 = $(this).val();
          $("input[name=radio_de06]").each(function () {
            $("input[name=radio_de06]").attr("checked",false); 
          });
          if(de06 < 100){
            $(".de06_1").text('金額不可低於 100 NTD!!!');
          }else{
            $(".de06_1").text('');
          }
          $("#de06").val(de06);
          $("#de06_2").val('');
          $(".de06-text").text(de06+" NTD");
        });

        $("#de06_2").blur(function(){
          var de06 = $(this).val() ;
          $("input[name=radio_de06]").each(function () {
            $("input[name=radio_de06]").attr("checked",false); 
          });
          if(de06 < 100){
            $(".de06_2").text('金額不可低於 100 NTD!!!');
          }else{
            $(".de06_2").text('');
          }
          $("#de06").val(de06);
          $("#de06_1").val('');
          $(".de06-text").text(de06+" NTD");
        });

        $('input[name=de22]').change(function(){
          var de22 = $("input[name=de22]:checked").val();
          if(de22 === 'Y') {
            $('#de12').prop('required',true);
            $('.asterisk').text('*');
          }else{
            $('#de12').prop('required',false);
            $('.asterisk').text('');
          }
        });

        $("input[id=no_input_email]").click(function () {
          if ($(this).is(':checked')) {
            $("#de03_email").val('gentlemind999@gmail.com'); 
            $('#de03_email').prop('required',false);
          }
          else {
            $("#de03_email").val('');
            $('#de03_email').prop('required',true);
          }
        });

        $("#save").click(function(){
          $('#donate_form').validator('validate');
          if($('.with-errors').text() != '') {
            alert('{{$tv_validate_err}}');
            return;
          }
          // var captcha = $('#captcha').val();
          //console.log(captcha);
          // if(captcha == null) {
          //  alert('請輸入驗證碼!!');
          //  return;
          // }
          $('#donate_form').submit();
        });
        
        $('#donate_next').click(function() { // 點擊下一步
          var de01 = $('#de01').val();
          var de02 = $('#de02').val();
          var de03_phone = $('#de03_phone').val();
          var de03_email = $('#de03_email').val();
          var de04_zipcode = $('#de04_zipcode').val();
          var de04_county = $('#de04_county').val();
          var de04_district = $('#de04_district').val();
          var de04_addr = $('#de04_addr').val();
          var de05 = $("input[name=de05]:checked").val();
          var de06 = $("#de06").val();
          var de10 = $("#de10").val();
          var de12 = $("#de12").val();
          var de09 = $("input[name=de09]:checked").val();
          var de22 = $("input[name=de22]:checked").val();
          $(".name").text(de01+de02);
          $(".de03_phone").text(de03_phone);
          $(".de03_email").text(de03_email);
          $(".de10").text(de10);
          $(".addr").text(de04_zipcode+de04_county+de04_district+de04_addr);
          var de14 = $("input[name=de14]:checked").val();
          if(de05 == 2) {
            $(".de05").text("紙本年度收據，響應環保節省資源");
          }
          else if(de05 == 3){
            $(".de05").text("紙本單筆收據");
          }
          else if(de05 == 1){
            $(".de05").text("不索取");
          }
          switch (Number(de09)) {
            case 1:
              $(".de09").text("信用卡(一次付清)");
              $("#donate_type").val("credit");
              break;
            case 2:
              $(".de09").text("Line Pay");
              $("#donate_type").val("linepay");
              break;  
            case 3:
              $(".de09").text("ATM轉帳");
              $("#donate_type").val("vacc");
              break;      
            case 4:
              $(".de09").text("超商繳費");
              $("#donate_type").val("cvs");
              break;       
            case 5:
              $(".de09").text("超商條碼繳費");
              $("#donate_type").val("barcode");
              break;
            case 6:
              $(".de09").text("GOOGLE PAY");
              $("#donate_type").val("androidpay");
              break;     
            case 7:
              $(".de09").text("信用卡(定期定額)");
              $("#donate_type").val("period");
              break;
            case 8:
              $(".de09").text("WebATM");
              $("#donate_type").val("webatm");
              break;
          }
          
          if(de22 === 'Y'){
            $(".de22").text("是");
          }else if(de22 === 'N'){
            $(".de22").text("否");
          }
                    
          var num = parseInt($("#num").val());
          if(num == 1){
            if(!de06){
              alert('捐款金額未填寫!!!');
              return;
            }
            if(de06 < 100){
              alert('金額不可低於 100 NTD!!!');
              return;
            }
          }else if(num == 2){
            $('#donate_form').validator('validate');
            if($('.with-errors').text() != '') {
              alert('{{$tv_validate_err}}');
              return;
            }
            if(de12) {
              $("#certificate").show();
              $(".de12").text(de12);
            }else{
              $("#certificate").hide();
              $(".de12").text('');
            }
          }
          $("#step-"+num).attr('data-wizard-state','pending');
          $("#step"+num+"-content").attr('data-wizard-state','done');
          num = num+1;
          //console.log(num);
          $("#step-"+num).attr('data-wizard-state','current');
          $("#step"+num+"-content").attr('data-wizard-state','current');
          $('html,body').animate({scrollTop:$("#step"+num+"-content").offset().top},800);
          $("#num").val(num);
          if(num == 4){
            $("#donate_next").hide();
            $("#save").show();
          }else{
            $("#donate_prev").show();
            $("#save").hide();
          }
        });

        $('#donate_prev').click(function(){ // 點擊上一步
          var num = parseInt($("#num").val());
          $("#step-"+num).attr('data-wizard-state','pending');
          $("#step"+num+"-content").attr('data-wizard-state','done');
          num = num-1;
          $("#step-"+num).attr('data-wizard-state','current');
          $("#step"+num+"-content").attr('data-wizard-state','current');
          $('html,body').animate({scrollTop:$("#step"+num+"-content").offset().top},800);
          $("#num").val(num);
          if(num === 1){
            $("#donate_prev").hide();
          }else{
            $("#save").hide();
            $("#donate_next").show();
          }
        });
        
        var di01 = $("#di_s_num option:selected").data('di01');
        $('.di01').text(di01);
        $('#di_s_num option:selected').change(function(){
          var di01 = $("#di_s_num option:selected").data('di01');
          $('.di01').text(di01);
        });
        
        // 個資蒐集前告知函視窗彈出
        $('#PI_detail').click(function(){
          $('#PI_Modal').modal("show");
        });
        
        // 判斷是否有勾選個資蒐集選項
        $('#save').prop('disabled', true);
        var flag = false;
        $('#confirm_PI').click(function(){
          flag = $(this).prop('checked');
          //console.log(flag);
          if(flag===true) {
            $('#save').prop('disabled', false);
          }
          else {
            $('#save').prop('disabled', true);
          }
        });
        
        // 驗證碼
        // $('.refresh').click(function(){
          // $.ajax({
            // type:'post',
            // url: '{{$tv_captcha_link}}',
            // error: function(xhr) {
              // strMsg += 'Ajax request發生錯誤[{{$tv_captcha_link}}]:'+xhr+'\n請重試';
            // },
            // success: function (rs) {
              // $('.captcha').attr('src','{{$tv_cap_path}}'+rs)
              //console.log(rs);
            // }
          // });
        // });
      });
    </script>
    <main class="page-main bgecee">
      <div class="section-hero">
        <div class="section-hero__bg" style="background-image: url({{$tv_pub_url}}/img/banner-1.jpg)">
          <div class="uk-container">
            <div class="section-hero__content">
              <div class="section-hero__title"> 
                <div class="uk-h1">傳心之路送餐交通費募集</div>
              </div>
              <div class="section-hero__breadcrumb">
                <ul class="uk-breadcrumb">
                  <li><a href="{{$tv_main_link}}">首頁</a></li>
                  <li><span>傳心之路送餐交通費募集</span></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="page-content mb-10">
        <div class="uk-section-large uk-container">
          <div class="card card-custom">
            <div class="card-body p-0">
              <!--begin::Wizard 5-->
                <div class="wizard wizard-5 d-flex flex-column flex-lg-row flex-row-fluid" id="kt_wizard">
                    <!--begin::Aside-->
                    <div class="wizard-aside bg-white d-flex flex-column flex-row-auto w-100 w-lg-300px w-xl-400px w-xxl-500px">
                        <!--begin::Aside Top-->
                        <div class="d-flex flex-column-fluid flex-column px-xxl-30 px-10">
                          <!--begin: Wizard Nav-->
                          <div class="wizard-nav d-flex d-flex justify-content-center pt-10 pt-lg-20 pb-5">
                            <input type="hidden" id="num" value="1">
                            <!--begin::Wizard Steps-->
                              <div class="wizard-steps">
                                <!--begin::Wizard Step 1 Nav-->
                                <div id="step-1" class="wizard-step" data-wizard-type="step" data-wizard-state="current">
                                  <div class="wizard-wrapper">
                                    <div class="wizard-icon">
                                      <i class="wizard-check ki ki-check"></i>
                                      <span class="wizard-number">1</span>
                                    </div>
                                    <div class="wizard-label">
                                      <h3 class="wizard-title">捐款金額</h3>
                                      <div class="wizard-desc">請在此選擇您想要捐款的金額</div>
                                    </div>
                                  </div>
                                </div>
                                <!--end::Wizard Step 1 Nav-->
                                <!--begin::Wizard Step 2 Nav-->
                                <div id="step-2" class="wizard-step" data-wizard-type="step">
                                  <div class="wizard-wrapper">
                                    <div class="wizard-icon">
                                      <i class="wizard-check ki ki-check"></i>
                                      <span class="wizard-number">2</span>
                                    </div>
                                    <div class="wizard-label">
                                      <h3 class="wizard-title">捐款人資料及收據</h3>
                                      <div class="wizard-desc">填寫捐款人資訊以及收據資訊</div>
                                    </div>
                                  </div>
                                </div>
                                <!--end::Wizard Step 2 Nav-->
                                <!--begin::Wizard Step 3 Nav-->
                                <div id="step-3" class="wizard-step" data-wizard-type="step">
                                  <div class="wizard-wrapper">
                                    <div class="wizard-icon">
                                      <i class="wizard-check ki ki-check"></i>
                                      <span class="wizard-number">3</span>
                                    </div>
                                    <div class="wizard-label">
                                    <h3 class="wizard-title">確認填寫資料</h3>
                                      <div class="wizard-desc">再次確認捐款人及收據資訊</div>
                                    </div>
                                  </div>
                                </div>
                                <!--end::Wizard Step 3 Nav-->
                                <!--begin::Wizard Step 4 Nav-->
                                <div id="step-4" class="wizard-step" data-wizard-type="step">
                                  <div class="wizard-wrapper">
                                    <div class="wizard-icon">
                                      <i class="wizard-check ki ki-check"></i>
                                      <span class="wizard-number">4</span>
                                    </div>
                                    <div class="wizard-label">
                                    <h3 class="wizard-title">金流資料</h3>
                                      <div class="wizard-desc">將透過藍新金流付款（有安全驗證機制）</div>
                                    </div>
                                  </div>
                                </div>
                                <!--end::Wizard Step 4 Nav-->
                              </div>
                            <!--end::Wizard Steps-->
                          </div>
                          <!--end: Wizard Nav-->
                        </div>
                        <!--end::Aside Top-->
                        <!--begin::Aside Bottom-->
                        <div class="d-none d-sm-none d-md-none d-lg-block flex-row-auto bgi-no-repeat bgi-position-y-bottom bgi-position-x-center bgi-size-contain pt-2 pt-lg-5 h-350px " style="background-image: url({{$tv_pub_url}}/img/icon/love.svg)"></div>
                        <!--end::Aside Bottom-->
                    </div>
                    <!--begin::Aside-->
                    <!--begin::Content-->
                    <div class="wizard-content bg-gray-100 d-flex flex-column flex-row-fluid py-15 px-5 px-lg-10">
                        <!--begin::Title-->
                        <!--
                        <div class="text-right mb-lg-30 mb-15 mr-xxl-10">
                          <span class="font-weight-bold text-muted font-size-h5">Having issues?</span>
                          <a href="javascript:;" class="font-weight-bolder text-primary font-size-h4" id="kt_login_signup">Get Help</a>
                        </div>
                        -->
                        <!--end::Title-->
                        <!--begin::Form-->
                        <div class="d-flex justify-content-center flex-row-fluid">
                          <form class="pb-5 w-100 w-md-450px w-lg-500px" id="donate_form" action="{{$tv_pay_link}}" method="post">
                            <div id="step1-content" class="pb-5" data-wizard-type="step-content" data-wizard-state="current">
                              <!--begin::Title-->
                                <div class="pb-10 pb-lg-15">
                                  <h3 class="font-weight-bolder text-dark font-size-h2">填寫捐款金額</h3>
                                </div>
                                <div class="form-group row custom-input-block">
                                  <label for="de08" class="col-4 col-form-labeld pr-0">捐款項目</label>
                                  <select class="form-control col-5 px-0" id="di_s_num" name="di_s_num" required>
                                    {{foreach from=$tv_donate_item_row key=k item=v}}
                                      <option value="{{$v.s_num}}" data-di01="{{$v.di01}}">{{$v.di01}}</option>
                                    {{/foreach}}
                                  </select>
                                </div>
                                <!--begin::捐款金額-->
                                <input type="hidden" id="de06" name="de06" min="100" required>
                                <ul class="nav nav-success nav-pills mb-3 mt-3" id="pills-tab" role="tablist">
                                  <li class="nav-item">
                                    <a class="nav-link uk-h3 active" id="pills-regular-tab" data-toggle="pill" href="#pills-regular" role="tab" aria-controls="pills-regular" aria-selected="true">定期捐款</a>
                                  </li>
                                  <li class="nav-item ">
                                    <a class="nav-link uk-h3" id="pills-single-tab" data-toggle="pill" href="#pills-single" role="tab" aria-controls="pills-single" aria-selected="false">單筆捐款</a>
                                  </li>
                                </ul>
                                <div class="tab-content " id="pills-tabContent">
                                   <div class="tab-pane fade show active" id="pills-regular" role="tabpanel" aria-labelledby="pills-regular-tab">
                                     <label class="h4 text-success mb-2">點選金額或自訂金額</label>
                                     <div class="mt-3 ">
                                        <div class="custom-control custom-control-size mb-2">
                                          <input type="radio" class="custom-control-input radio_de06" name="radio_de06" id="qprice1" value="300" data-toggle="form-caption" data-target="#modalProductSizeCaption">
                                          <label class="custom-control-label" for="qprice1">
                                            <span class="amount">300</span>
                                          </label>
                                        </div>
                                        <div class="custom-control custom-control-size mb-2">
                                          <input type="radio" class="custom-control-input radio_de06" name="radio_de06" id="qprice2" value="900" data-toggle="form-caption" data-target="#modalProductSizeCaption">
                                          <label class="custom-control-label" for="qprice2">
                                            <span class="amount">900</span>
                                          </label>
                                        </div>
                                        <div class="custom-control custom-control-size mb-4">
                                          <input type="radio" class="custom-control-input radio_de06" name="radio_de06" id="qprice3" value="3600" data-toggle="form-caption" data-target="#modalProductSizeCaption">
                                          <label class="custom-control-label" for="qprice3">
                                            <span class="amount">3,600</span>
                                          </label>
                                        </div>
                                        <div id="radio_de06_cancel" class="radio-list">
                                          <label class="radio radio-outline radio-outline-2x radio-success" >
                                            <button type="button" class="btn btn-outline-danger radio_de06_cancel">取消點選金額</button>
                                          </label>
                                        </div>
                                        <br>
                                        <div class="form-group row custom-input-block">
                                          <label for="qprice-input" class="col-4 col-form-labeld pr-0">自訂每月捐款金額</label>
                                          <div class="col-8">
                                            <input class="form-control d-inline" type="number" min="100" placeholder="請輸入" id="de06_1">
                                            <small class='text-danger d-inline'>最低金額 100 NTD</small>
                                          </div>
                                          <div class='ml-3 help-block text-danger with-errors de06_1'></div>
                                        </div>
                                        <div class="form-group row custom-input-block">
                                          <label for="qprice-number-input" class="col-4 col-form-labeld pr-0">自訂授權捐款期數</label>
                                          <div class="col-8">
                                            <select class="form-control col-5 px-0" id="de07" name="de07">
                                             <option value="1">1</option>
                                             <option value="2">2</option>
                                             <option value="3">3</option>
                                             <option value="4">4</option>
                                             <option value="5">5</option>
                                             <option value="6">6</option>
                                             <option value="7">7</option>
                                             <option value="8">8</option>
                                             <option value="9">9</option>
                                             <option value="10">10</option>
                                             <option value="11">11</option>
                                             <option value="12">12</option>
                                            </select>
                                          </div>
                                        </div>
                                        <div class="form-group custom-input-block row ">
                                          <label for="de08" class="col-4 col-form-labeld pr-0">自訂每月扣款日</label>
                                          <select class="form-control col-5 px-0" id="de08" name="de08">
                                           <option value="05">5</option>
                                           <option value="10">10</option>
                                           <option value="15">15</option>
                                           <option value="20">20</option>
                                           <option value="25">25</option>
                                           <option value="30">30</option>
                                          </select>
                                        </div>
                                        <div class="form-group custom-input-text">
                                          <label>付款方式<span class="text-danger text-bold">*</span></label>
                                          <span class="text-dark-50">信用卡才能進行定期捐款</span>
                                          <div class="radio-list">
                                            <label class="radio radio-outline radio-outline-2x radio-success" >
                                                <input type="radio" name="de09" checked="checked" value="7">
                                                <span></span>
                                                信用卡
                                            </label>
                                          </div>
                                        </div>
                                        <div class="custom-label-text">將透過藍新金流付款（有安全驗證機制）</div>
                                     </div>
                                   </div>
                                   <div class="tab-pane fade" id="pills-single" role="tabpanel" aria-labelledby="pills-single-tab">
                                     <label class="h4 text-success mb-2">點選金額或自訂金額</label>
                                     <div class="mt-3 ">
                                        <div class="custom-control custom-control-size mb-2">
                                          <input type="radio" class="custom-control-input radio_de06_2" name="radio_de06" id="qprice5" value="300" data-toggle="form-caption" data-target="#modalProductSizeCaption">
                                          <label class="custom-control-label" for="qprice5">
                                            <span class="amount">300</span>
                                          </label>
                                        </div>
                                        <div class="custom-control custom-control-size mb-2">
                                          <input type="radio" class="custom-control-input radio_de06_2" name="radio_de06" id="qprice6" value="900" data-toggle="form-caption" data-target="#modalProductSizeCaption">
                                          <label class="custom-control-label" for="qprice6">
                                            <span class="amount">900</span>
                                          </label>
                                        </div>
                                        <div class="custom-control custom-control-size mb-4">
                                          <input type="radio" class="custom-control-input radio_de06_2" name="radio_de06" id="qprice7" value="1200" data-toggle="form-caption" data-target="#modalProductSizeCaption">
                                          <label class="custom-control-label" for="qprice7">
                                            <span class="amount">1,200</span>
                                          </label>
                                        </div>
                                        <div class="custom-control custom-control-size mb-4">
                                          <input type="radio" class="custom-control-input radio_de06_2" name="radio_de06" id="qprice4" value="3600" data-toggle="form-caption" data-target="#modalProductSizeCaption">
                                          <label class="custom-control-label" for="qprice4">
                                            <span class="amount">3,600</span>
                                          </label>
                                        </div>
                                        <div id="radio_de06_cancel_2" class="radio-list">
                                          <label class="radio radio-outline radio-outline-2x radio-success" >
                                            <button type="button" class="btn btn-outline-danger radio_de06_cancel">取消點選金額</button>
                                          </label>
                                        </div>
                                        <br>
                                        <div class="form-group row custom-input-block">
                                          <label for="qprice-input" class="col-2 col-form-labeld pr-0">自訂金額</label>
                                          <div class="col-8 ">
                                            <input class="form-control d-inline" type="number" min="100" placeholder="請輸入" id="de06_2">
                                            <small class='text-danger d-inline'>最低金額 100 NTD</small>
                                          </div>
                                          <div class='ml-3 help-block text-danger with-errors de06_2'></div>
                                        </div>
                                        <div class="form-group custom-input-text">
                                          <label class="col-form-label pr-0">選擇付款方式<span class="text-danger text-bold">*</span></label>
                                          <div class="list-group list-group-sm mb-7">
                                            <div class="list-group-item">
                                              <label class="radio radio-outline radio-outline-2x radio-success" >
                                                <input type="radio" name="de09" value="1">
                                                <span></span>
                                                <div class="ml-3 custom-label-text">信用卡(一次付清) <a href="{{$tv_pub_url}}/pdffile/creditcard.pdf" target="_blank"><small>流程說明</small></a></div>
                                              </label>
                                            </div>
                                            <!--div class="list-group-item">
                                              <label class="radio radio-outline radio-outline-2x radio-success" >
                                                <input type="radio"  name="de09" value="2">
                                                <span></span>
                                                <div class="ml-3 custom-label-text"><img src="{{$tv_pub_url}}/img/LINE-Pay_W61_n.png"></div>
                                              </label>
                                            </div-->
                                            <div class="list-group-item">
                                              <label class="radio radio-outline radio-outline-2x radio-success" >
                                                <input type="radio"  name="de09" value="3">
                                                <span></span>
                                                <div class="ml-3 custom-label-text">ATM轉帳(捐款金額不可超過5萬元)</div>
                                              </label>
                                            </div>
                                            <div class="list-group-item">
                                              <label class="radio radio-outline radio-outline-2x radio-success" >
                                                <input type="radio"  name="de09"  value="4">
                                                <span></span>
                                                <div class="ml-3 custom-label-text">超商繳費(捐款金額不可超過2萬元) <a href="{{$tv_pub_url}}/pdffile/superstorepayment.pdf" target="_blank"><small>流程說明</small></a></div>
                                              </label>
                                            </div>
                                            <div class="list-group-item">
                                              <label class="radio radio-outline radio-outline-2x radio-success" >
                                                <input type="radio"  name="de09"  value="5">
                                                <span></span>
                                                <div class="ml-3 custom-label-text">超商條碼繳費(捐款金額不可超過4萬元) <a href="{{$tv_pub_url}}/pdffile/barcodepayment.pdf" target="_blank"><small>流程說明</small></a></div>
                                              </label>
                                            </div>
                                            <div class="list-group-item">
                                              <label class="radio radio-outline radio-outline-2x radio-success" >
                                                <input type="radio"  name="de09"  value="6">
                                                <span></span>
                                                <div class="ml-3 custom-label-text">GOOGLE PAY</div>
                                              </label>
                                            </div>
                                            <div class="list-group-item">
                                              <label class="radio radio-outline radio-outline-2x radio-success" >
                                                <input type="radio"  name="de09"  value="2">
                                                <span></span>
                                                <div class="ml-3 custom-label-text">LINE PAY</div>
                                              </label>
                                            </div>
                                          </div>
                                        </div>
                                        <div class="custom-label-text">將透過藍新金流付款（有安全驗證機制）</div>
                                     </div>
                                   </div>
                                </div>
                                
                                <!--end::捐款金額-->
                              </div>
                            <!--end: Wizard Step 1-->
                            <!--begin: Wizard Step 2-->
                            <div id="step2-content" class="pb-5" data-wizard-type="step-content">
                              <!--begin::Title-->
                              <div class="pb-10 pb-lg-15">
                                <h3 class="font-weight-bolder text-dark font-size-h2">捐款人基本及收據資料</h3>
                              </div>
                              <span class="font-weight-bold label label-inline label-success font-size-lg  mr-2 py-4 px-4 mb-5">捐款金額： <span class="text-white my-2 font-weight-bolder de06-text"> NTD</span></span>
                              <!--end::Title-->
                              <!--begin::Form Group-->
                              
                              <!--姓名 -->
                              <div class="form-row">
                                <div class="form-group col">
                                  <label class="font-size-h6 font-weight-bolder text-dark">姓<span class="text-danger">*</span></label>
                                  <input type="text" class="form-control h-auto p-5 border-0 rounded-lg font-size-h6" id="de01" name="de01" placeholder="請輸入您的姓氏" value="" required >
                                  <div class='ml-3 help-block text-danger with-errors'></div>
                                </div>
                                <div class="form-group col">
                                  <label class="font-size-h6 font-weight-bolder text-dark">名字<span class="text-danger">*</span></label>
                                  <input type="text" class="form-control h-auto p-5 border-0 rounded-lg font-size-h6" id="de02" name="de02" placeholder="請輸入您的名字" value="" required >
                                  <div class='ml-3 help-block text-danger with-errors'></div>
                                </div>
                              </div>

                              <!--手機號碼 -->
                              <div class="form-group">
                                <label class="font-size-h6 font-weight-bolder text-dark">手機號碼<span class="text-danger">*</span></label>
                                <input class="form-control h-auto p-5 border-0 rounded-lg font-size-h6" type="tel" id="de03_phone" name="de03_phone" placeholder="請輸入您的手機號碼" value="" required>
                                <div class='ml-3 help-block text-danger with-errors'></div>
                              </div>

                              <!--電子郵件 -->
                              <div class="form-group">
                                <div class="custom-control custom-checkbox">
                                  <input type="checkbox" class="custom-control-input" id="no_input_email">
                                  <label class="custom-control-label" for="no_input_email">我不想填寫電子郵件，同意代填為弗傳電子郵件信箱</label>
                                </div>
                                <label class="font-size-h6 font-weight-bolder text-dark">電子郵件</label>
                                <input class="form-control h-auto p-5 border-0 rounded-lg font-size-h6" type="email" id="de03_email" name="de03_email" placeholder="請輸入您的電子郵件" value="" required>
                                <div class='ml-3 help-block text-danger with-errors'></div>
                              </div>
                              
                              <div class="separator separator-dashed separator-border-2 my-2"></div>                            
                              <div id="twzipcode">
                                <div class='form-row'>
                                  <div class="form-group col">
                                    <label class="font-size-h6 font-weight-bolder text-dark">郵遞區號<span class="text-danger">*</span></label>
                                    <div data-role="zipcode" data-class="form-control h-auto p-5 border-0 rounded-lg font-size-h6" data-name="de04_zipcode" data-id="de04_zipcode" data-maxlength="3" data-placeholder="郵遞區號"></div>
                                    <div class='ml-3 help-block text-danger with-errors'></div>
                                  </div>
                                  <div class="form-group col">
                                    <label class="font-size-h6 font-weight-bolder text-dark">縣市<span class="text-danger">*</span></label>
                                    <div data-role="county" data-class="form-control h-auto p-5 border-0 rounded-lg font-size-h6" data-name="de04_county" data-id="de04_county" data-value="" data-placeholder="縣市"></div>
                                    <div class='ml-3 help-block text-danger with-errors'></div>
                                  </div>
                                  <div class="form-group col">
                                    <label class="font-size-h6 font-weight-bolder text-dark">鄉鎮市區<span class="text-danger">*</span></label>
                                    <div data-role="district" data-class="form-control h-auto p-5 border-0 rounded-lg font-size-h6" data-name="de04_district" data-id="de04_district" data-value="" data-placeholder="鄉鎮市區"></div>
                                    <div class='ml-3 help-block text-danger with-errors'></div>
                                  </div>
                                  <div class="form-group col-12">
                                    <label class="font-size-h6 font-weight-bolder text-dark">地址<span class="text-danger">*</span></label>
                                    <input type="text" class="form-control h-auto p-5 border-0 rounded-lg font-size-h6" id="de04_addr" name="de04_addr" placeholder="地址" value="" required >
                                    <div class='ml-3 help-block text-danger with-errors'></div>
                                  </div>
                                </div>
                              </div>
                              <div class="separator separator-dashed separator-border-2 my-2"></div>
                              <!---是否願意上傳國稅局--->
                              <div class="form-group">
                                <label class="font-size-h6 font-weight-bolder text-dark">是否願意年度捐款明細上傳國稅局？</label>
                                <div class="list-group-item">
                                  <label class="radio radio-outline radio-outline-2x radio-success" for="de22_Y">
                                    <input class="" type="radio" name="de22" id="de22_Y" value="Y">
                                    <span></span>
                                    <div class="ml-3 custom-label-text">是</div>
                                  </label>
                                </div>
                                <div class="list-group-item">
                                  <label class="radio radio-outline radio-outline-2x radio-success" for="de22_N">
                                    <input class="" type="radio" name="de22" id="de22_N" value="N">
                                    <span></span>
                                    <div class="ml-3 custom-label-text">否</div>
                                  </label>
                                </div>
                              </div>
                              <!---收據--->
                              <div class="form-group">
                                <label class="font-size-h6 font-weight-bolder text-dark">是否需要紙本收據？<span class="text-danger">*</span></label>
                                <div class="list-group-item">
                                  <label class="radio radio-outline radio-outline-2x radio-success" for="no_invoice">
                                    <input class="" type="radio" name="de05" id="no_invoice" value="1" required>
                                    <span></span>
                                    <div class="ml-3 custom-label-text">不索取</div>
                                  </label>
                                </div>
                                <div class="list-group-item">
                                  <label class="radio radio-outline radio-outline-2x radio-success" for="invoice_1">
                                    <input class="" type="radio" name="de05" id="invoice_1" value="2">
                                    <span></span>
                                    <div class="ml-3 custom-label-text">紙本年度收據，響應環保節省資源(建議)</div>
                                  </label>
                                </div>
                                <div class="list-group-item">
                                  <label class="radio radio-outline radio-outline-2x radio-success" for="invoice_2">
                                    <input class="" type="radio" name="de05" id="invoice_2" value="3">
                                    <span></span>
                                    <div class="ml-3 custom-label-text">紙本單筆收據</div>
                                  </label>
                                </div>
                              </div>
                              <label class="font-size-h6 font-weight-bolder text-danger">※ 依勸募條例規定，本單位將提報以下收據抬頭者資料，供主管機關備查。</label>
                              <div class="form-group col-12">
                                <label class="font-size-h6 font-weight-bolder text-dark">收據抬頭<span class="text-danger">*</span></label>
                                <input class="form-control h-auto p-5 border-0 rounded-lg font-size-h6" id="de10" name="de10" type="text" placeholder="請輸入收據抬頭" required>
                                <div class='ml-3 help-block text-danger with-errors'></div>
                              </div>
                              <div class="form-group col-12">
                                <label class="font-size-h6 font-weight-bolder text-dark">收據身份證號碼/統一編號<span class="text-danger asterisk"></span></label>
                                <input class="form-control h-auto p-5 border-0 rounded-lg font-size-h6" id="de12" name="de12" type="text" placeholder="※年度收據此欄位必填">
                                <div class='ml-3 help-block text-danger with-errors'></div>
                              </div>
                              <div class="form-group">
                                <label class="font-size-h6 font-weight-bolder text-dark">備註</label>
                                <textarea class="form-control form-control-sm" id="de30" name="de30" rows="5"></textarea>
                              </div>
                              <div class="form-group">
                                <label class="font-size-h6 font-weight-bolder text-dark">個資：</label>
                                <div class="custom-control custom-checkbox">
                                  <input type="checkbox" id="de21" name="de21" value='Y'>
                                  我願意將全名顯示於愛心芳名錄
                                </div>
                                <p class="text-danger">※ 若不願意公開您的全名，將於捐贈徵信與芳名錄中「善心人士」呈現。</p>
                                <div class="custom-control custom-checkbox">
                                  <input type="checkbox" id="confirm_PI" required>
                                  <a id="PI_detail" class="text-warning">我已閱讀並同意『個資蒐集』於本機構使用<span class="text-danger">*</span></a>
                                  <div class='ml-3 help-block text-danger with-errors'></div>
                                </div>
                              </div>
                              <!--begin::Form Group-->
                           	</div>
                            <!--end: Wizard Step 2-->
                            <!--begin: Wizard Step 3-->
                            <div id="step3-content" class="pb-5" data-wizard-type="step-content">
                              <!--begin::Title-->
                              <div class="pb-10 pb-lg-12">
                                <h3 class="font-weight-bolder text-dark font-size-h2">確認捐款資料</h3>
                                <div class="text-muted font-weight-bold font-size-h6">感謝您的愛心，請確認捐款資料。</div>
                              </div>
                              <!--end::Title-->
                              <!--begin::Section-->
                              <span class="font-weight-bold label label-inline label-success font-size-lg  mr-2 py-4 px-4 mb-5">捐款金額： <span class="text-white my-2 font-weight-bolder de06-text"> NTD</span></span>
                              <h4 class="font-weight-bolder mb-3">捐款人資訊：</h4>
                              <div class="text-dark-50 font-weight-bold font-size-lg line-height-lg mb-8">
                                <div><span>姓名：</span><span class="name"></span></div>
                                <div><span>手機號碼：</span><span class="de03_phone"></span></div>
                                <div><span>電子郵件：</span><span class="de03_email"></span></div>
                                <div><span>地址：</span><span class="addr"></span></div>
                              </div>
                              <!--end::Section-->
                              <!--begin::Section-->
                              <h4 class="font-weight-bolder mb-3">捐款項目：</h4>
                              <div class="text-dark-50 font-weight-bold line-height-lg mb-8 font-size-lg "><span class="di01"></span></div>
                              <h4 class="font-weight-bolder mb-3">是否願意年度捐款明細上傳國稅局：</h4>
                              <div class="text-dark-50 font-weight-bold line-height-lg mb-8 font-size-lg "><span class="de22"></span></div>
                              <h4 class="font-weight-bolder mb-3">收據資訊：</h4>
                              <div class="text-dark-50 font-weight-bold line-height-lg mb-8 font-size-lg "><img src="{{$tv_pub_url}}/img/icon/check.svg" class="custom-width-4 mr-2"><span class="de05"></span></div>
                              <div class="text-dark-50 font-weight-bold line-height-lg mb-8 font-size-lg">
                                <div id="certificate"><span>收據身份證號碼/統一編號：</span><span class="de12"></span></div>
                                <div>收據抬頭：<span class="de10"></span></div>
                              </div>
                              <!--end::Section-->
                            </div>
                            <!--end: Wizard Step 3-->
                            <!--begin: Wizard Step 4-->
                            <div id="step4-content" class="pb-5" data-wizard-type="step-content">
                              <!--begin::Title-->
                              <div class="pb-10 pb-lg-12">
                                <h3 class="font-weight-bolder text-dark font-size-h2">確認金流資料</h3>
                                <div class="text-muted font-weight-bold font-size-h6">感謝您的愛心，只差一步，確認後，將會透過藍新金流付款。</div>
                              </div>
                              <!--end::Title-->
                              <!--begin::Section-->
                              <h4 class="font-weight-bolder mb-3">付款方式：</h4>
                              <div class="text-dark-50 font-weight-bold line-height-lg mb-8">
                                <div class="custom-text"><span class="de09"></span></div>
                                <input type="hidden" name="pay" value="y"/>
                                <input type="hidden" id="donate_type" name="donate_type">
                                <div class="text-muted font-weight-bold font-size-h6">將於付款完成十天後入帳。</div>
                              </div>
                              <!--end::Section-->
                              {{*
                              <div class="pb-10 pb-lg-12">
                                <div class="form-group">
                                  <label class="font-size-h6 font-weight-bolder text-dark">驗證碼</label>
                                  <div class="form-group">
                                    <div class="input-group">
                                      <input id="captcha" name="captcha" class="form-control form-control-sm p-5 border-0 rounded-lg" type="text" placeholder="驗證碼不分大小寫" autocomplete="off">
                                      <div class="input-group-addon"><img class="check-code captcha refresh rounded" src="{{$tv_cap_path}}{{$tv_cap_img}}" style="cursor: pointer;"></div>
                                    </div>
                                    <div class="help-block with-errors text-danger"></div>
                                  </div>
                                </div>
                              </div>
                              *}}
                            </div>
                            <!--end: Wizard Step 4-->
                            <!--begin: Wizard Actions-->
                            <div class="d-flex justify-content-between pt-3">
                              <div class="mr-2">
                                <button id="donate_prev" type="button" class="btn btn-light-primary font-weight-bolder font-size-h6 pl-6 pr-8 py-4 my-3 mr-3">
                                  <span class="svg-icon svg-icon-md mr-1">
                                    <!--begin::Svg Icon | path:assets/media/svg/icons/Navigation/Left-2.svg-->
                                    <i class="fas fa-angle-left"></i>
                                    <!--end::Svg Icon-->
                                  </span>
                                  <span>上一步</span>
                                </button>
                              </div>
                              <div>
                                <button type="button" class="btn btn-primary font-weight-bolder font-size-h6 pl-8 pr-4 py-4 my-3" id="save" >
                                  進行付款
                                  <span class="svg-icon svg-icon-md ml-1">
                                    <!--begin::Svg Icon | path:assets/media/svg/icons/Navigation/Right-2.svg-->
                                    <i class="fas fa-angle-right"></i>
                                    <!--end::Svg Icon-->
                                  </span>
                                </button>
                                <button id="donate_next" type="button" class="btn btn-primary font-weight-bolder font-size-h6 pl-8 pr-4 py-4 my-3">
                                  <span class="">下一步</span>
                                  <span class="svg-icon svg-icon-md ml-1">
                                    <!--begin::Svg Icon | path:assets/media/svg/icons/Navigation/Right-2.svg-->
                                    <i class="fas fa-angle-right"></i>
                                    <!--end::Svg Icon-->
                                  </span>
                                </button>
                              </div>
                            </div>
                          <!--end: Wizard Actions-->
                          </form>
                        </div>
                      <!--end::Form-->
                    </div>
                    <!--end::Content-->
                </div>
              <!--end::Wizard 5-->
            </div>
          </div>
        </div>
      </div>
    </main>
    <div class="section-subscribe">
      <div class="uk-container">
        <div class="subscribe-box">
          <div class="uk-grid uk-flex-middle uk-child-width-1-1@m" data-uk-grid>
            <div>
              <div class="section-title"><span>獨居長者熱騰騰的飯菜</span>
                <div class="uk-h2">你的簡單小事，我的重責大任</div>
              </div>
            </div>
            <!--
            <div>
              <div class="subscribe-box__form">
                <form action="#!">
                  <div class="uk-flex uk-flex-middle"><input class="uk-input" type="email" name="email" placeholder="Email Address ...."><button class="uk-button uk-button-danger" type="submit">Subscribe</button></div>
                </form>
              </div>
            </div>
            -->
          </div>
        </div>
      </div>
    </div>
    {{include file="{{$tv_kind}}/footer.html"}}
    <!-- 個資蒐集前告知函彈出 -->
    <div class="modal fade" id="PI_Modal" tabindex="-1" role="dialog" aria-labelledby="confirmModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span></button>
          <div class="modal-body">
            <h5 class="text-center">個資蒐集前告知函</h5>
            <div class="alert alert-secondary" role="alert">
              <p>此捐款平台為國立暨南國際大學系統開發，由本單位經營管理，為了確保捐款者之個人資料、隱私及權益之保護，於交易過程中將使用捐款者之個人資料，謹依個人資料保護法第8條規定告知以下事項：</p><br>
              <p>一、蒐集之目的及方式</p>
              <p>蒐集目的在於進行客戶管理、會員管理(法定特定目的項目編號為 063,090)。蒐集方式將透過加入會員方式進行個人資料之蒐集。</p><br>

              <p>二、蒐集之個人資料類別</p>
              <p>本基金會於網站內蒐集的個人資料包括</p>
              <p>1、C001辨識個人者：如捐款者之姓名、地址、電話、電子郵件等資訊。</p>
              <p>2、C002辨識財務者：如信用卡或轉帳帳戶資訊。</p>
              <p>3、C003政府資料中之辨識者：如身分證字號或護照號碼(外國人)。</p>
              <p>4、C011個人描述：如性別、國籍、出生年月日。</p><br>

              <p>三、利用期間、地區、對象及方式</p>
              <p>1、期間：本基金會營運期間。</p>
              <p>2、地區：捐款者之個人資料將用於台灣地區。</p>
              <p>3、利用對象及方式：捐款者之個人資料蒐集除用於本基金會之會員管理、客戶管理之檢索查詢等功能。</p>
              <p>4、用於金融交易及授權：消費者所提供之財務相關資訊，將於金融交易過程(如信用卡授權、轉帳)時提交給金融機構以完成金融交易。</p><br>

              <p>四、消費者個人資料之權利</p>
              <p>捐款者有依照個資法第三條所賦予之當事人權利，並可來電洽詢本基金會客服進行申請。</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- 個資蒐集前告知函彈出end -->