<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta charset="utf-8">
    <!--utf8 big5-->
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <!--IE6 7 8 -->
    <meta name="viewport" content="width=device-width, initial-scale=0.2, maximum-scale=2.0, user-scalable=yes">
    <!---->
    <!--  -->
    <meta name="viewport" content="width=device-width, minimum-scale=0.2, maximum-scale=2.0, user-scalable=yes" />
    <link rel="apple-touch-icon" href="{{$tv_pub_url}}/img/favicon.png" />
    <title>弗傳慈心老人送餐募捐</title>
    <!---->
    <meta name="description" content="">
    <!--:50-->
    <meta name="keywords" content="buysun">
    <!---->
    <meta name="author" content="">
    <meta name="copyright" CONTENT="Â©2018">
    <meta name="URL" content="">
    <meta http-equiv="imagetoolbar" content="no">
    <meta name="application-name" content="">
    <!---->
    <meta name="robots" content="index, follow">
    <meta name="googlebot" content="index, follow">
    <!--FACEBOOK & Line-->
    <meta property="og:site_name" content="弗傳慈心老人送餐募捐" />
    <meta property="og:title" content="弗傳慈心老人送餐募捐">
    <meta property="og:url" content="https://s1.fcts.org.tw">
    <meta property="og:description" content="中台灣範圍最大的身障獨老送餐服務，見證 20 餘年從海線到山線的溫暖守護，繼續傳遞一份份精心製作的營養健康" />
    <meta property="og:type" content="website">
    <meta property="og:image" content="https://s1.fcts.org.tw/pub/front/img/lineimg.jpg">
    <!--win7 8 -->
    <meta name="msapplication-TileColor" content="#FFFFFF">
    <meta name="msapplication-TileImage" content="{{$tv_pub_url}}/img/favicon.png">
    <meta name="revised" content="">
    <!---->
    <link rel="shortcut icon" href="{{$tv_pub_url}}/img/favicon.png">
    <!---->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="HandheldFriendly" content="true">
  <meta name="format-detection" content="telephone=no">
  <meta content="IE=edge" http-equiv="X-UA-Compatible">
  <link rel="shortcut icon" href="img/favicon.png" type="image/x-icon">
  
  <link rel="stylesheet" type="text/css" href="{{$tv_pub_url}}/css/flickity.min.css">
  <link rel="stylesheet" type="text/css" href="{{$tv_pub_url}}/css/flickity-fade.css">
  <link rel="stylesheet" type="text/css" href="{{$tv_pub_url}}/css/feather.css">
  <link rel="stylesheet" href="{{$tv_pub_url}}/css/uikit.css">
  <link rel="stylesheet" href="{{$tv_pub_url}}/css/slick.css">
  <link rel="stylesheet" href="{{$tv_pub_url}}/css/slick-theme.css">
  <link rel="stylesheet" href="{{$tv_pub_url}}/css/ion.rangeSlider.css">
  <link rel="stylesheet" href="{{$tv_pub_url}}/css/aos.css">
  <link href="{{$tv_pub_url}}/css/prismjs.bundle.css" rel="stylesheet" type="text/css" >
  <link href="{{$tv_pub_url}}/css/wizard-5.css" rel="stylesheet" type="text/css">
  <!-- Theme CSS Bootstrap v4.4.1-->
  <link rel="stylesheet" type="text/css" href="{{$tv_pub_url}}/css/formValidation.min.css">
  <link rel="stylesheet" type="text/css" href="{{$tv_pub_url}}/css/theme.min.css">
  <link rel="stylesheet" type="text/css" href="{{$tv_pub_url}}/css/style.bundle.css">
  <link rel="stylesheet" type="text/css" href="{{$tv_pub_url}}/css/main.css">
  <link rel="stylesheet" type="text/css" href="{{$tv_pub_url}}/css/style.css">
  
  <script src="{{$tv_pub_url}}/js/jquery.min.js"></script>
  <script src="{{$tv_pub_url}}/js/uikit.min.js"></script>
  <script src="{{$tv_pub_url}}/js/uikit-icons.min.js"></script>
  <script src="{{$tv_pub_url}}/js/fontawesome.all.min.js"></script>
  <script src="{{$tv_pub_url}}/js/slick.min.js"></script>
  <script src="{{$tv_pub_url}}/js/scrollReveal.js"></script>
  <script src="{{$tv_pub_url}}/js/ion.rangeSlider.min.js"></script>
  <script src="{{$tv_pub_url}}/js/aos.js"></script>
  <script type="text/javascript"  src="{{$tv_pub_url}}/js/jquery.fancybox.min.js"></script>
  <script type="text/javascript"  src="{{$tv_pub_url}}/js/bootstrap.bundle.min.js"></script>
  <script type="text/javascript"  src="{{$tv_pub_url}}/js/flickity.pkgd.min.js"></script>
  <script type="text/javascript"  src="{{$tv_pub_url}}/js/highlight.pack.min.js"></script>
  <script type="text/javascript"  src="{{$tv_pub_url}}/js/list.min.js"></script>
  <script type="text/javascript"  src="{{$tv_pub_url}}/js/simplebar.min.js"></script>
  <script type="text/javascript"  src="{{$tv_pub_url}}/js/flickity-fade.js"></script>
  <script type="text/javascript"  src="{{$tv_pub_url}}/js/feather.min.js"></script>
  <script>
    $(function(){
      AOS.init();
    });
  </script>
  <script type="text/javascript"  src="{{$tv_pub_url}}/js/prismjs.bundle.js"></script>
  <!-- Theme JS -->
  <script type="text/javascript"  src="{{$tv_pub_url}}/js/theme.min.js"></script>
  <script type="text/javascript"  src="{{$tv_pub_url}}/js/bootstrap.js"></script>
  <script type="text/javascript"  src="{{$tv_pub_url}}/js/scripts.bundle.js"></script>
  <script type="text/javascript"  src="{{$tv_pub_url}}/js/main.js"></script>
  <script>
  //<![CDATA[
  /*處理分享到 Line 的連結*/
  $("a").each(function () {
  var href = this.href;
  
  // http 網址才處理
  if (href.indexOf("http") != 0 || href.indexOf("//") < 0){
  return;
  }
  
  // 網址沒有參數 ? 時, 直接加參數
  if (href.indexOf("?") < 0) {
  href += "?openExternalBrowser=1";
  } else {
  // 網址有參數 ? 時, 用 & 加參數
  href += "&openExternalBrowser=1";
  }
  
  this.href = href;
  });
  //]]>
  </script>
</head>

<body class="page-shop">
  <div class="page-wrapper">
    <header class="page-header page-header-transparent">
      <div class="page-header__inner py-5">
        <div class="page-header__left">
          <div class="logo">
            <a class="logo__link" href="index.html">
              <div class="logo__icon"><img src="{{$tv_pub_url}}/img/logo.png" alt=""></div>
            </a>
          </div>
        </div>
      </div>
    </header>