  {{include file="{{$tv_kind}}/header.html"}}
    <main class="page-main">
      <!--首頁大圖-->
      <div class="section-hero overhide ">
        <div data-uk-slideshow="autoplay: true; min-height: 560; max-height: 950; animation: fade">
          <div class="uk-position-relative" tabindex="-1">
            <ul class="uk-slideshow-items">
              <li class="slideshow-item">
                <img src="{{$tv_pub_url}}/img/banner-1.jpg" alt data-uk-cover>
                <div class="uk-position-center uk-position-small ">
                  <div class="uk-container">
                    <div class="uk-grid" data-uk-grid>
                      <div class="uk-width-3-5@m">
                        <div class="slideshow-item__content ">
                          <div class="slideshow-item__decor" data-uk-slideshow-parallax="opacity: 0,1">fcts</div>
                          <div class="slideshow-item__title" >                          
                            <span>弗傳慈心送餐交通費募集</span>
                            <div class="uk-h2">中台灣範圍最大的<br>身障獨老送餐服務</div>
                          </div>
                          <div class="slideshow-item__desc" data-uk-slideshow-parallax="x: 200,-200">
                            <p>見證 20 餘年從海線到山線的溫暖守護，繼續傳遞一份份精心製作的營養健康</p>
                          </div>
                          <div class="slideshow-item__btns mt-6 d-none d-sm-block" data-uk-slideshow-parallax="x: 300,-300">
                            <a class="uk-button uk-button-danger" href="#section-about" >看更多</a>
                            <a class="uk-button uk-button-secondary" href="{{$tv_donate_link}}" >立即贊助</a>
                          </div>
                        </div>
                      </div>
                      <div class="uk-width-2-5@m uk-visible@l">
                         <img class ="slide_img" src="{{$tv_pub_url}}/img/name.png">
                      </div>
                    </div>
                  </div>
                </div>
              </li>
              <!--
              <li class="slideshow-item"><img src="img/banner-2.jpg" alt data-uk-cover>
                <div class="uk-position-center uk-position-small">
                  <div class="uk-container">
                    <div class="uk-grid" data-uk-grid>
                      <div class="uk-width-3-5@m">
                        <div class="slideshow-item__content">
                          <div class="slideshow-item__decor" data-uk-slideshow-parallax="opacity: 0,1"></div>
                          <div class="slideshow-item__title" ><span>台丸郎必備良品</span>
                            <div class="uk-h2">宅自家舒活防疫</div>
                          </div>
                          <div class="slideshow-item__desc" data-uk-slideshow-parallax="x: 200,-200">
                            <p></p>
                          </div>
                          <div class="slideshow-item__btns mt-6" data-uk-slideshow-parallax="x: 300,-300"><a class="uk-button uk-button-danger" href="#section-about">看更多</a><a class="uk-button uk-button-secondary" href="#section-category">直接購買</a></div>
                        </div>
                      </div>
                      <div class="uk-width-2-5@m uk-visible@l"></div>
                    </div>
                  </div>
                </div>
              </li>
              <li class="slideshow-item"><img src="img/img-home-slideshow-2.jpg" alt data-uk-cover>
                <div class="uk-position-center uk-position-small">
                  <div class="uk-container">
                    <div class="uk-grid" data-uk-grid>
                      <div class="uk-width-2-5@m uk-visible@l"></div>
                      <div class="uk-width-3-5@m">
                        <div class="slideshow-item__content">
                          <div class="slideshow-item__decor" data-uk-slideshow-parallax="opacity: 0,1">KeyMoto</div>
                          <div class="slideshow-item__title" data-uk-slideshow-parallax="x: 100,-100"><span>Taking rides to a newer level</span>
                            <div class="uk-h2">putting a reliable<br> machine on road</div>
                          </div>
                          <div class="slideshow-item__desc" data-uk-slideshow-parallax="x: 200,-200">
                            <p>Consectetur adipiscing elit sed ipsum eiusmod tempor ncdidunt<br> labore et dolore magna aliqua quis ipsum suspendisse.</p>
                          </div>
                          <div class="slideshow-item__btns" data-uk-slideshow-parallax="x: 300,-300"><a class="uk-button uk-button-danger" href="#!">Learn more </a><a class="uk-button uk-button-secondary" href="#!">Motorcycles </a></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </li>
              <li class="slideshow-item"><img src="img/img-home-slideshow-3.jpg" alt data-uk-cover>
                <div class="uk-position-center uk-position-small">
                  <div class="uk-container">
                    <div class="uk-grid" data-uk-grid>
                      <div class="uk-width-3-5@m">
                        <div class="slideshow-item__content">
                          <div class="slideshow-item__decor" data-uk-slideshow-parallax="opacity: 0,1">KeyMoto</div>
                          <div class="slideshow-item__title" data-uk-slideshow-parallax="x: 100,-100"><span>Taking rides to a newer level</span>
                            <div class="uk-h2">modern designed<br> for a Sleek look</div>
                          </div>
                          <div class="slideshow-item__desc" data-uk-slideshow-parallax="x: 200,-200">
                            <p>Consectetur adipiscing elit sed ipsum eiusmod tempor ncdidunt<br> labore et dolore magna aliqua quis ipsum suspendisse.</p>
                          </div>
                          <div class="slideshow-item__btns" data-uk-slideshow-parallax="x: 300,-300"><a class="uk-button uk-button-danger" href="#!">Learn more </a><a class="uk-button uk-button-secondary" href="#!">Motorcycles </a></div>
                        </div>
                      </div>
                      <div class="uk-width-2-5@m uk-visible@l"></div>
                    </div>
                  </div>
                </div>
              </li>
              -->
            </ul>
          </div>
          <!-- 導引箭頭 -->
          <!--
          <div class="slideshow-nav"><a href="#" data-uk-slidenav-previous data-uk-slideshow-item="previous"></a>
            <div class="slideshow-nav__count">
              <ul>
                <li data-uk-slideshow-item="0"><span>1</span></li>
                <li data-uk-slideshow-item="1"><span>2</span></li>
                <li data-uk-slideshow-item="2"><span>3</span></li>
              </ul><span>/ 3</span>
            </div><a href="#" data-uk-slidenav-next data-uk-slideshow-item="next"></a>
          </div> -->
        </div>
      </div>

      <div class="section-about overhide" id="section-about">
        <div class="uk-section-large uk-container">
          <div class="uk-grid uk-grid-collapse" data-uk-grid >
            <div class="uk-width-1-3@m" data-aos="fade-right" data-aos-duration="2000" >
              <img class="section-about__img" src="{{$tv_pub_url}}/img/pic-1.jpg" alt="img-about" style="width:auto;height:400px;">
            </div>
            <div class="uk-width-2-3@m">
              <div class="section-about__content">
                <div class="section-title" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="100">
                  <span></span>
                  <h3 class="font30">如果沒有了送餐便當，我的下一餐在哪裡?</h3>
                </div>
                <div class="section-content">
                  <div data-aos="fade-up" data-aos-duration="1000" data-aos-delay="300">
                    <span>衣食無憂、吃飽穿暖是台灣人的日常，但你知道社會上有一群人還在為下一餐煩惱嗎?</span>
                  </div>
                  <div class="uk-margin-medium">
                    <div class="uk-grid uk-child-width-1-1@s" data-uk-grid>
                      <div>
                        <div class="block-icon">
                          <div class="block-icon__icon">
                            <img class="block-icon__img" src="{{$tv_pub_url}}/img/icon/old-man.svg" alt="icon-about">
                          </div>
                          <div class="block-icon__desc">
                            <div class="block-icon__title" data-aos="fade-up" data-aos-duration="1000">
                              長照 2.0 中，你知道全台有多少人在使用老人營養餐飲服務嗎?</div>
                            <div class="block-icon__text" data-aos="fade-up" data-aos-duration="1000">
                              <p>根據統計，2020年臺中市長期照顧十年計畫中，使用營養餐飲服務共有2,813人，而弗傳慈心服務約1,100人，近四成的服務量。</p>
                              <p>在你我的身邊，在社會的角落，藏著一群需要被照顧的人。【食】是生理基本需求，我們煩惱的原因是選擇太多，而他們則是連選擇【食】的權利都沒有，一餐分成三餐吃、營養不均是生活的常態。</p>
                              <cite title="Source Title">資料來源:衛生福利部主計處，2021/05/03更新。</cite>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!--
                  <div class="section-about__gallery">
                    <div class="uk-grid uk-grid-small uk-child-width-1-2@s" data-uk-grid>
                      <div data-aos="fade-up" data-aos-duration="1000" ><img class="uk-width-1-1" src="img/about-gallery-1.jpg" alt="about-gallery"></div>
                      <div data-aos="fade-up" data-aos-duration="1000" ><img class="uk-width-1-1" src="img/about-gallery-2.jpg" alt="about-gallery"></div>
                    </div>
                  </div> -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      
      <div class="section-video bg7374 overhide">
        <div class="video-block">
          <div class="video-info">
            <div class="video-info__title" data-aos="fade-up" data-aos-duration="1000" >每個熱騰騰的便當，溫暖了在黑暗中孤寂的心靈</div>
            <div class="video-info__subtitle" data-aos="fade-up" data-aos-duration="1000" >
              送餐員每日辛勤送便當，照顧長者餐食溫飽；每次暖心的問候，慰藉長者孤單心靈；每個細心觀察，發現長者隱藏需求。一份便當，不只溫暖胃，也溫暖心。</div>
            <div class="video-info__list-thumb" data-aos="fade-up" data-aos-duration="1000" >
              <ul>
                <li><img src="{{$tv_pub_url}}/img/pic-3.jpg" alt="img-video-thumb"></li>
                <li><img src="{{$tv_pub_url}}/img/pic-18.jpg" alt="img-video-thumb"></li>
                <li><img src="{{$tv_pub_url}}/img/pic-19.jpg" alt="img-video-thumb"></li>
              </ul>
            </div>
          </div>
          <div class="video-box" data-uk-lightbox="video-autoplay: true">
            <!--
            <a href="https://www.youtube.com/watch?v=c2pz2mlSfXA" data-caption="YouTube" data-attrs="width: 1280; height: 720;">
              <div class="btn-play"><img src="assets/img/icons/play.png" alt="play"><span>Play video</span></div>
            </a> -->
          </div>
        </div>
      </div>
      <div class="section-rental bg7374 overhide">
        <div class="uk-section uk-container">
          <div class="section-title uk-text-center">
            <span></span>
            <h3 class="font30 text-white" data-aos="fade-up" data-aos-duration="1000">沒有任何一種需求，可以比溫飽更迫切</h3>
            <h3 class="font30 text-white" data-aos="fade-up" data-aos-duration="1000">從臺中港到后里馬場，弗傳慈心的足跡不曾止息</h3>
          </div>
          <div class="section-content text-white">
            <!--
            <div class="uk-text-center uk-margin-medium-bottom w-75 mx-auto" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="100">
              <p>從臺中港到后里馬場，弗傳慈心的足跡不曾止息</p>
            </div> -->
            <div>
              <div class="uk-position-relative uk-child-width-1-1">
                    <div class="rental-item">
                      <div class="uk-grid uk-grid-small uk-flex-middle" data-uk-grid>
                        <div class="uk-width-3-5@m uk-flex-last@m" data-aos="fade-left" data-aos-duration="1000">
                          <div class="rental-item__img"><img src="{{$tv_pub_url}}/img/pic-4.jpg" style="width:100%;height: 400px;object-fit: cover;"></div>
                        </div>
                        <div class="uk-width-2-5@m uk-flex-first@m" data-aos="fade-right" data-aos-duration="1000">
                          <div class="rental-item__desc">
                            <div class="rental-item__title text-eb95">從市區到偏遠地區，都看的到弗傳慈心的蹤影。</div>
                            <div class="rental-item__text">
                              <span class="uk-h4" style="background-color: #FAE5A0">70-79 年</span>，弗傳慈心以發放物資及協助醫療費之方式，造福並溫暖他人。<br>
                              <div class="mt-3"><span class="uk-h4" style="background-color: #FAE5A0">80-89 年</span>， 將愛的觸角延伸至少女保護服務、就業服務、
                                老人看護服務及社區總體營造，以【因材施德、平等慈悲、喜樂安福、正道自在】為信願，期望推展特色文化、愛鄉愛土，並能團結一心。</div>
                              <div class="mt-3"><span class="uk-h4" style="background-color: #FAE5A0">90年-至今</span>，從921大地震時，看見災區餐食服務的需求，並將這份愛轉向社會角落的獨居長者。期望透過弗傳慈心的努力，讓社會大眾看見不一樣的世界，也能陪伴服務對象，
                              讓溫暖及陽光滲入他們的生活，弗傳慈心重視每位服務對象獨特的生命故事，期許他們能獲得健康的餐食與被愛的心靈。</div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="rental-item mt-3">
                      <div class="uk-grid uk-grid-small uk-flex-middle" data-uk-grid>
                        <div class="uk-width-3-5@m uk-flex-last@m" data-aos="fade-left" data-aos-duration="1000">
                          <div class="rental-item__img"><img  src="{{$tv_pub_url}}/img/pic-5.jpg" style="width:100%;height: 400px;object-fit: cover;"></div>
                        </div>
                        <div class="uk-width-2-5@m uk-flex-first@m" data-aos="fade-right" data-aos-duration="1000">
                          <div class="rental-item__desc">
                            <div class="rental-item__title text-eb95">種下“以食濟急“的種子</div>
                            <div class="rental-item__text">
                              弗傳慈心深根在地<span class="uk-h4" style="background-color: #FAE5A0"> 20 餘年</span>，照顧臺中市的獨居長者與身障者，每日由送餐人員進行送餐與關懷，
                              社工提供專業服務與資源連結，由營養師提供多樣化的個別餐食設計，為服務對象打造屬於自己適合的健康餐點。讓服務對象可以感受到雙重的溫暖。
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
              </div>
              <!--
              <div class="slider-nav"><a href="#" data-uk-slidenav-previous data-uk-slider-item="previous"></a>
                <div class="slider-nav__count">
                  <ul>
                    <li data-uk-slider-item="0"><span>1</span></li>
                    <li data-uk-slider-item="1"><span>2</span></li>
                  </ul><span>/ 2</span>
                </div><a href="#" data-uk-slidenav-next data-uk-slider-item="next"></a>
              </div> -->
            </div>
          </div>
          <div class="contact-info mt-15 mb-5">
            <div class="uk-grid uk-grid-divider uk-child-width-1-3@m uk-child-width-1-3@s" data-uk-grid>
              <div>
                <div class="contact-info-item">
                  <div class="contact-info-item__icon" data-aos="zoom-in-right" data-aos-duration="1000"><img src="{{$tv_pub_url}}/img/pic-8.png" alt="contact-icon"></div>            
                </div>
              </div>
              <div>
                <div class="contact-info-item">
                  <div class="contact-info-item__icon" data-aos="zoom-in-up" data-aos-duration="1000"><img src="{{$tv_pub_url}}/img/pic-7.png" alt="contact-icon"></div>             
                </div>
              </div>
              <div>
                <div class="contact-info-item">
                  <div class="contact-info-item__icon" data-aos="zoom-in-left" data-aos-duration="1000"><img src="{{$tv_pub_url}}/img/pic-6.png" alt="contact-icon"></div> 
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      
      <!--長輩故事-->
      <div class="section-info section-info--2 bg7374 overhide">
        <div class="uk-container uk-container-large">
          <div class="uk-grid uk-flex-middle uk-child-width-1-2@m" data-uk-grid>
            <div class="uk-width-1-3@m">
              <div class="section-title"> 
                <span data-aos="fade-up" data-aos-duration="1000" data-aos-delay="100">承載著希望的便當，賦予滿滿的愛。 </span>
                <h3 class="uk-h2" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="100">平凡的無名英雄，背負著長輩溫飽的使命</h3>
              </div>
              <div class="section-content" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="100">
                <p>世界越來越進步，有些人卻離世界越來越遠... 看似簡單平常的小事，對於獨居長者而言，是多麼遙不可及的想法。</p>
              </div>
            </div>
            <div class="uk-width-2-3@m">
              <div class="section-info__content">
                <div class="section-info__list">
                  <ul>
                    <li>
                      <div class="block-icon-info">
                        <!--
                        <div class="block-icon-info__icon"><img src="img/icons/info-4.png" alt="icon"></div> -->
                        <div class="block-icon-info__desc" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="100">
                          <div class="block-icon-info__title"><span class="text-dark" style="background-color: #FAE5A0">雨天的好心情</span><span>--管大哥，送餐經歷8年 </span></div>
                          <div class="block-icon-info__text">
                            <p class="mt-2">外面狂風暴雨，管大哥依然準時到班，穿起雨衣，戴上安全帽，載著滿滿的便當，身上流著的是汗水還是雨水，已經無法分辨。管大哥頂著風，迎著雨，為了不讓長者在惡劣的天氣出門，也不需為了三餐煩惱。</p>
                            <p>便當還是熱的，長者的心也慢慢溫暖起來，雖然是下雨天，心情還是好晴天。</p>
                          </div>
                        </div>
                      </div>
                    </li>
                    <li>
                      <div class="block-icon-info">
                        <!--
                        <div class="block-icon-info__icon"><img src="img/icons/info-5.png" alt="icon"></div> -->
                        <div class="block-icon-info__desc" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="100">
                          <div class="block-icon-info__title"><span class="text-dark" style="background-color: #FAE5A0">溫暖的羈絆</span>--張奶奶，接受送餐服務6年</div>
                          <div class="block-icon-info__text">
                            <p class="mt-2">張奶奶因中風導致半身不遂，因此送餐員總是幫張奶奶準備好餐具並打開便當才離開。大多時候，張奶奶都是獨自一人面對日常生活，送餐員簡單的微笑與問候，以及雙手送上的便當，可能是他唯一的社交。</p>
                            <p>送便當，不僅是滿足溫飽，更是溫暖的關懷。</p>
                          </div>
                        </div>
                      </div>
                    </li>
                    <li>
                      <div class="block-icon-info">
                        <!--
                        <div class="block-icon-info__icon"><img src="img/icons/info-6.png" alt="icon"></div> -->
                        <div class="block-icon-info__desc" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="100">
                          <div class="block-icon-info__title"><span class="text-dark" style="background-color: #FAE5A0">希望的種子</span>--林大姐，送餐經歷6年</div>
                          <div class="block-icon-info__text">
                            <p class="mt-2">林大姐因肩負著照顧智能障礙兒子的責任，在求職路上並不平順，弗傳慈心的送餐工作，不僅讓林大姐能平衡家庭照顧與職業生涯，與兒子一同送餐的過程中，也讓兒子能接觸社會生活，兒子的天真與熱情也成了長輩眼中的開心果。</p>
                            <p>送餐服務不僅是服務弱勢，也讓不同的人生種下希望的種子。</p>
                          </div>
                        </div>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      
      <!--募款階段-->
      <div class="section-news mt-10 overhide">
        <div class="uk-section uk-container">
          <div class="section-title uk-text-center mb-11">         
            <h2 class="font30 " data-aos="fade-up" data-aos-duration="1000">{{$tv_fc01_30_1->fc04|default:''}}</h2>
          </div>
          <div id="process_1" class="mt-5 mb-12 text-center">
            <span class="uk-h3"style="background-color: #FAE5A0">募款進度</span>
            <div class="progress mt-4" data-toggle="tooltip" title="{{$tv_progress_total}}%" data-placement="bottom">
                <div class="progress-bar progress-bar-striped progress-bar-animated bg-warning" role="progressbar" style="width: {{$tv_progress_total}}%" aria-valuenow="{{$tv_progress_total}}" aria-valuemin="0" aria-valuemax="100" >{{$tv_progress_total}}%</div>
            </div>
          </div>
          <div class="section-content">
            <div class="uk-margin-top">
              <div>
                <div class="uk-position-relative" tabindex="-1">
                  <ul class="uk-grid uk-child-width-1-1 uk-child-width-1-3@s uk-child-width-1-3@l">
                    <li data-aos="zoom-in-right" data-aos-duration="1000">
                      <div class="news-card">
                        <div class="news-card__intro text-center">
                          <div class="news-card__title mb-6 uk-h3">第一階段</div>
                          <div class="news-card__img mb-8 newsimg-1 uk-text-center">
                            <h3 class="text-white ">募集金額 {{$tv_donate_progress_row->dp01|number_format:0|default:''}}元</h3>
                          </div>
                          <div class="news-card__title "><span class="px-3 border-right border-left">{{$tv_fc01_30_2->fc02|default:''}}</span></div>
                          <div class="news-card__desc">{{$tv_fc01_30_2->fc04|default:''}}</div>
                        </div>
                      </div>
                    </li>
                    <li data-aos="zoom-in-up" data-aos-duration="1000">
                      <div class="news-card">
                        <div class="news-card__intro text-center">
                          <div class="news-card__title mb-6 uk-h3">第二階段</div>
                          <div class="news-card__img mb-8 newsimg-2 uk-text-center">
                            <h3 class="text-white ">募集金額 {{$tv_donate_progress_row->dp02|number_format:0|default:''}}元</h3>
                          </div>
                          <div class="news-card__title "><span class="px-3 border-right border-left">{{$tv_fc01_30_3->fc02|default:''}}</span></div>
                          <div class="news-card__desc">{{$tv_fc01_30_3->fc04|default:''}}</div>
                        </div>
                      </div>
                    </li>
                    <li data-aos="zoom-in-left" data-aos-duration="1000">
                      <div class="news-card">
                        <div class="news-card__intro text-center">
                          <div class="news-card__title mb-6 uk-h3">第三階段</div>
                          <div class="news-card__img mb-8 newsimg-3 uk-text-center">
                            <h3 class="text-white ">募集金額 {{$tv_donate_progress_row->dp03|number_format:0|default:''}}元</h3>
                          </div>
                          <div class="news-card__title "><span class="px-3 border-right border-left">{{$tv_fc01_30_4->fc02|default:''}}</span></div>
                          <div class="news-card__desc">{{$tv_fc01_30_4->fc04|default:''}}</div>
                        </div>
                      </div>
                    </li>
                  </ul>
                </div>
                <ul class="uk-slider-nav uk-dotnav uk-flex-center uk-margin-medium-top uk-margin-small-bottom"></ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      
      <div class="text-center position-relative">
        <img class="row-img d-none d-sm-block mx-auto" src="{{$tv_pub_url}}/img/pic-12.jpg" alt="img">
        <img class=" d-block d-sm-none" src="{{$tv_pub_url}}/img/pic-12-1.jpg" alt="img">
      </div>
      {{*
      <!--見證故事-->
      <div class="section-news mt-n10 bg7374 bg-overlay overhide">
        <div class="uk-section uk-container">
          <div class="section-title uk-text-center mt-10" >
            <span class="uk-h2 text-white" data-aos="fade-up" data-aos-duration="1000">乘載溫飽使命，希冀你來搭手</span>
          </div>
          <div class="section-content">
            <div class="uk-margin-top">
              <div data-uk-slider>
                <div class="uk-position-relative" tabindex="-1" data-aos="fade-up" data-aos-duration="1000">
                  <ul class="uk-slider-items uk-grid uk-child-width-1-1 uk-child-width-1-3@s uk-child-width-1-3@l" data-uk-height-match=".news-card__desc; .news-card__title &gt; a">
                    <li>
                      <div class="avatar avatar-xxl">
                        <img src="{{$tv_pub_url}}/img/news-avatar-1.jpg" alt="..." class="avatar-img rounded-circle">
                      </div>                                       
                      <div class="news-card bg2423 p-6">
                        <div class="news-card__intro mt-8">
                          <div class="news-card__info mb-5">
                            <div class="news-card__author">王大名</div>
                            <div class="news-card__date text-white">台灣大學醫學院安寧病房護理長</div>
                          </div>
                          <div class="news-card__title text-white uk-h5">陳奶奶:「謝謝你，我的超級英雄!」</div>                        
                          <div class="news-card__desc text-white font-size-sm">
                            自從五年前先生離世後，陳奶奶便獨自蝸居在這個小小暗暗的平房中，每天都準時在門口等候送餐員。 
                            「便當來了，便當來了!」在陽光的映照下，陳奶奶臉上的皺紋越加明顯，但笑容卻是半分不減，揮 著
                            手期待送餐員的到來，每天都準時到達的溫暖，每天擁有一份健康營養的便當，每天有人跟她說說 話。
                            看著送餐員離去的背影，陳奶奶:「謝謝你，我的超級英雄!」
                          </div>
                        </div>
                      </div>
                    </li>
                    <li>
                      <div class="avatar avatar-xxl">
                        <img src="{{$tv_pub_url}}/img/news-avatar-1.jpg" alt="..." class="avatar-img rounded-circle">
                      </div>                                       
                      <div class="news-card bg2423 p-6">
                        <div class="news-card__intro mt-8">
                          <div class="news-card__info mb-5">
                            <div class="news-card__author">王小明</div>
                            <div class="news-card__date text-white">台灣大學醫學院安寧病房護理長</div>
                          </div>
                          <div class="news-card__title text-white uk-h5">陳奶奶:「謝謝你，我的超級英雄!」</div>                        
                          <div class="news-card__desc text-white font-size-sm">
                            自從五年前先生離世後，陳奶奶便獨自蝸居在這個小小暗暗的平房中，每天都準時在門口等候送餐員。 
                            「便當來了，便當來了!」在陽光的映照下，陳奶奶臉上的皺紋越加明顯，但笑容卻是半分不減，揮 著
                            手期待送餐員的到來，每天都準時到達的溫暖，每天擁有一份健康營養的便當，每天有人跟她說說 話。
                            看著送餐員離去的背影，陳奶奶:「謝謝你，我的超級英雄!」
                          </div>
                        </div>
                      </div>
                    </li>
                    <li>
                      <div class="avatar avatar-xxl">
                        <img src="{{$tv_pub_url}}/img/news-avatar-1.jpg" alt="..." class="avatar-img rounded-circle">
                      </div>                                       
                      <div class="news-card bg2423 p-6">
                        <div class="news-card__intro mt-8">
                          <div class="news-card__info mb-5">
                            <div class="news-card__author">王浴</div>
                            <div class="news-card__date text-white">台灣大學醫學院安寧病房護理長</div>
                          </div>
                          <div class="news-card__title text-white uk-h5">陳奶奶:「謝謝你，我的超級英雄!」</div>                        
                          <div class="news-card__desc text-white font-size-sm">
                            自從五年前先生離世後，陳奶奶便獨自蝸居在這個小小暗暗的平房中，每天都準時在門口等候送餐員。 
                            「便當來了，便當來了!」在陽光的映照下，陳奶奶臉上的皺紋越加明顯，但笑容卻是半分不減，揮 著
                            手期待送餐員的到來，每天都準時到達的溫暖，每天擁有一份健康營養的便當，每天有人跟她說說 話。
                            看著送餐員離去的背影，陳奶奶:「謝謝你，我的超級英雄!」
                          </div>
                        </div>
                      </div>
                    </li>
                  </ul>
                  <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous uk-slider-item="previous"></a>
                  <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next uk-slider-item="next"></a>
                </div>
                <ul class="uk-slider-nav uk-dotnav uk-flex-center uk-margin-medium-top uk-margin-small-bottom"></ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      *}}
      <!--常見問題-->
      <div class="section-about bg73-9 overhide">
        <div class="uk-section-large uk-container">
          <div class="section-title uk-text-center">
            <h3 class="uk-h2 text-white">常見問題</h3>
          </div>
          <div class="section-content pb-8">
            <div class="uk-margin-medium-top">
              <div class="uk-card uk-card-default ">
                <div class="uk-card-body ">
                  <ul class="uk-width-1-1" uk-accordion>
                    {{foreach from=$tv_fc01_35_1 key=k item=v}}
                      {{if $v@iteration == 1}}
                        <li class="uk-open">
                            <a class="uk-accordion-title" href="#">{{$v.fc02|default:''}}</a>
                            <div class="uk-accordion-content">
                              {{$v.fc04|default:''}}
                            </div>
                        </li>
                      {{else}}
                        <li class="border-top pt-4">
                          <a class="uk-accordion-title" href="#">{{$v.fc02|default:''}}</a>
                          <div class="uk-accordion-content">
                            {{$v.fc04|default:''}}
                          </div>
                        </li>
                      {{/if}}
                    {{/foreach}}
                  </ul>
                </div>
                <ul class="uk-slider-nav uk-dotnav uk-flex-center uk-margin-medium-top uk-margin-small-bottom"></ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
    <div class="section-subscribe ">
      <div class="uk-container">
        <div class="subscribe-box">
          <div class="uk-grid uk-flex-middle uk-child-width-1-1@m" data-uk-grid>
            <div>
              <div class="section-title"><span>獨居長者熱騰騰的飯菜</span>
                <div class="uk-h2">你的簡單小事，我的重責大任</div>
              </div>
            </div>
            <!--
            <div>
              <div class="subscribe-box__form">
                <form action="#!">
                  <div class="uk-flex uk-flex-middle"><input class="uk-input" type="email" name="email" placeholder="Email Address ...."><button class="uk-button uk-button-danger" type="submit">Subscribe</button></div>
                </form>
              </div>
            </div>
            -->
          </div>
        </div>
      </div>
    </div>
  {{include file="{{$tv_kind}}/footer.html"}}
