<!DOCTYPE html>
<html lang="zxx">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta charset="utf-8">
    <!--utf8 big5-->
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <!--IE6 7 8 -->
    <meta name="viewport" content="width=device-width, initial-scale=0.2, maximum-scale=2.0, user-scalable=yes">
    <!---->
    <!--  -->
    <meta name="viewport" content="width=device-width, minimum-scale=0.2, maximum-scale=2.0, user-scalable=yes" />
    <link rel="apple-touch-icon" href="{{$tv_pub_url}}/images/favicon.png" />
    <title></title>
    <!---->
    <meta name="description" content="">
    <!--:50-->
    <meta name="keywords" content="buysun">
    <!---->
    <meta name="author" content="">
    <meta name="copyright" CONTENT="Â©2018">
    <meta name="URL" content="">
    <meta http-equiv="imagetoolbar" content="no">
    <meta name="application-name" content="">
    <!---->
    <meta name="robots" content="index, follow">
    <meta name="googlebot" content="index, follow">
    <!--FACEBOOK-->
    <meta property="og:title" content="#">
    <meta property="og:url" content="">
    <meta property="og:type" content="article">
    <meta property="og:image" content="fb">
    <meta property="og:site_name" content="">
    <!--win7 8 -->
    <meta name="msapplication-TileColor" content="#FFFFFF">
    <meta name="msapplication-TileImage" content="{{$tv_pub_url}}/images/favicon.png">
    <meta name="revised" content="">
    <!---->
    <link rel="shortcut icon" href="{{$tv_pub_url}}/images/favicon.png">
    <!---->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="HandheldFriendly" content="true">
  <meta name="format-detection" content="telephone=no">
  <meta content="IE=edge" http-equiv="X-UA-Compatible">
  <link rel="shortcut icon" href="images/favicon.png" type="image/x-icon">
  
  <link rel="stylesheet" type="text/css" href="css/flickity.min.css">
  <link rel="stylesheet" type="text/css" href="css/flickity-fade.css">
  <link rel="stylesheet" type="text/css" href="css/feather.css">
  <link rel="stylesheet" href="css/uikit.css">
  <link rel="stylesheet" href="css/slick.css">
  <link rel="stylesheet" href="css/slick-theme.css">
  <link rel="stylesheet" href="css/ion.rangeSlider.css">
  <link rel="stylesheet" href="css/aos.css">
  <link href="css/prismjs.bundle.css" rel="stylesheet" type="text/css" >
  <link href="css/wizard-5.css" rel="stylesheet" type="text/css">
  <!-- Theme CSS Bootstrap v4.4.1-->
  <link rel="stylesheet" type="text/css" href="css/theme.min.css">
  <link rel="stylesheet" type="text/css" href="css/main.css">
  <link rel="stylesheet" type="text/css" href="css/style.bundle.css">
  <link rel="stylesheet" type="text/css" href="css/style.css">
  
  <script type="text/javascript"  src="js/jquery.fancybox.min.js"></script>
  <script type="text/javascript"  src="js/bootstrap.bundle.min.js"></script>
  <script type="text/javascript"  src="js/flickity.pkgd.min.js"></script>
  <script type="text/javascript"  src="js/highlight.pack.min.js"></script>
  <script type="text/javascript"  src="js/list.min.js"></script>
  <script type="text/javascript"  src="js/simplebar.min.js"></script>
  <script type="text/javascript"  src="js/flickity-fade.js"></script>
  <script type="text/javascript"  src="js/feather.min.js"></script>
  <script src="js/jquery.min.js"></script>
  <script src="js/uikit.min.js"></script>
  <script src="js/uikit-icons.min.js"></script>
  <script src="js/fontawesome.all.min.js"></script>
  <script src="js/slick.min.js"></script>
  <script src="js/scrollReveal.js"></script>
  <script src="js/ion.rangeSlider.min.js"></script>
  <script src="js/aos.js"></script>
  <script>
    $(function(){
      AOS.init();
    });
  </script>
  <script type="text/javascript"  src="js/prismjs.bundle.js"></script>
  <script type="text/javascript"  src="js/wizard.js"></script>
  <script type="text/javascript"  src="js/wizard-5.js"></script>
  <!-- Theme JS -->
  <script type="text/javascript"  src="js/theme.min.js"></script>
  <script type="text/javascript"  src="js/bootstrap.js"></script>
  <script type="text/javascript"  src="js/scripts.bundle.js"></script>
  <script type="text/javascript"  src="js/main.js"></script>
</head>

<body class="page-shop">
  <div class="page-wrapper">
    <header class="page-header page-header-transparent">
      <div class="page-header__inner py-5">
        <div class="page-header__left">
          <div class="logo">
            <a class="logo__link" href="index.html">
              <div class="logo__icon"><img src="img/logo.png" alt=""></div>
              <!--<div class="logo__text">transparent</div> -->
            </a>
          </div>
        </div>
        <!--
        <div class="page-header__center">
          <nav class="page-nav" data-uk-navbar>
            <ul class="uk-navbar-nav">
              <li><a href="#">首頁</a></li>
              <li><a href="#"></a></li>
              <li><a href="#">動態</a></li>
              <li><a href="#">營養保健</a>
                <div class="uk-navbar-dropdown">
                  <ul class="uk-nav uk-navbar-dropdown-nav">
                    <li><a href="product_category.html">T1Man保養日誌</a></li>
                    <li><a href="product_category.html">T1Man食的品格</a></li>
                    <li><a href="product_category.html">2021生存必備</a></li>
                    <li><a href="product_category.html">意想不到小物</a></li>
                  </ul>
                </div>
              </li>     
              <li><a href="#">美容保養</a>
                <div class="uk-navbar-dropdown">
                  <ul class="uk-nav uk-navbar-dropdown-nav">
                    <li><a href="page-blog-grid.html">Page Blog grid</a></li>
                    <li><a href="page-blog-list.html">Page Blog list</a></li>
                    <li><a href="page-blog-article.html">Page Blog article</a></li>
                  </ul>
                </div>
              </li>       
              <li><a href="#">聯絡我們</a>
            </ul>
          </nav>
        </div>
        -->
        <!--
        <div class="page-header__right">
          <a class="uk-navbar-toggle cart-btn" uk-icon="user" href="#!"></a>
          <a class="uk-navbar-toggle search-btn" href="#modal-search" data-uk-search-icon data-uk-toggle></a> 
          <a class="uk-navbar-toggle cart-btn" href="#!">
            <div class="cart-btn__icon uk-icon" data-uk-icon="cart"><span class="cart-btn__count">2</span></div>
          </a>
          <a class="uk-navbar-toggle menu-btn " href="#offcanvas" data-uk-toggle><img src="img/icons/menu.svg" alt="menu"></a>
        </div> -->
      </div>
    </header>
    <main class="page-main bgecee">
      <div class="section-hero">
        <div class="section-hero__bg" style="background-image: url(img/banner-1.jpg)">
          <div class="uk-container">
            <div class="section-hero__content">
              <div class="section-hero__title"> 
                <div class="uk-h1">傳心之路送餐交通費募集</div>
              </div>
              <div class="section-hero__breadcrumb">
                <ul class="uk-breadcrumb">
                  <li><a href="index.html">首頁</a></li>
                  <li><span>傳心之路送餐交通費募集</span></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="container pb-5 mb-2 mb-md-4">
        <div class="row">
          <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="card-body p-0">
              <!--begin::Wizard 5-->
                <div class="wizard wizard-5 d-flex flex-column flex-lg-row flex-row-fluid" id="kt_wizard">
                    <!--begin::Aside-->
                    <div class="wizard-aside bg-white d-flex flex-column flex-row-auto w-100 w-lg-300px w-xl-400px w-xxl-500px">
                        <!--begin::Aside Top-->
                        <div class="d-flex flex-column-fluid flex-column px-xxl-30 px-10">
                          <!--begin: Wizard Nav-->
                          <div class="wizard-nav d-flex d-flex justify-content-center pt-10 pt-lg-20 pb-5">
                            <!--begin::Wizard Steps-->
                              <div class="wizard-steps">
                                <!--begin::Wizard Step 1 Nav-->
                                <div class="wizard-step" data-wizard-type="step" data-wizard-state="current">
                                  <div class="wizard-wrapper">
                                    <div class="wizard-icon">
                                      <i class="wizard-check ki ki-check"></i>
                                      <span class="wizard-number">1</span>
                                    </div>
                                    <div class="wizard-label">
                                      <h3 class="wizard-title">捐款金額</h3>
                                      <div class="wizard-desc">請在此選擇您想要捐款的金額</div>
                                    </div>
                                  </div>
                                </div>
                                <!--end::Wizard Step 1 Nav-->
                                <!--begin::Wizard Step 2 Nav-->
                                <div class="wizard-step" data-wizard-type="step">
                                  <div class="wizard-wrapper">
                                    <div class="wizard-icon">
                                      <i class="wizard-check ki ki-check"></i>
                                      <span class="wizard-number">2</span>
                                    </div>
                                    <div class="wizard-label">
                                      <h3 class="wizard-title">捐款人資料及收據</h3>
                                      <div class="wizard-desc">填寫捐款人資訊以及收據資訊</div>
                                    </div>
                                  </div>
                                </div>
                                <!--end::Wizard Step 2 Nav-->
                                <!--begin::Wizard Step 3 Nav-->
                                <div class="wizard-step" data-wizard-type="step">
                                  <div class="wizard-wrapper">
                                    <div class="wizard-icon">
                                      <i class="wizard-check ki ki-check"></i>
                                      <span class="wizard-number">3</span>
                                    </div>
                                    <div class="wizard-label">
                                    <h3 class="wizard-title">確認填寫資料</h3>
                                      <div class="wizard-desc">再次確認捐款人及收據資訊</div>
                                    </div>
                                  </div>
                                </div>
                                <!--end::Wizard Step 3 Nav-->
                                <!--begin::Wizard Step 4 Nav-->
                                <div class="wizard-step" data-wizard-type="step">
                                  <div class="wizard-wrapper">
                                    <div class="wizard-icon">
                                      <i class="wizard-check ki ki-check"></i>
                                      <span class="wizard-number">4</span>
                                    </div>
                                    <div class="wizard-label">
                                    <h3 class="wizard-title">金流資料</h3>
                                      <div class="wizard-desc">將透過藍新金流付款（有安全驗證機制）</div>
                                    </div>
                                  </div>
                                </div>
                                <!--end::Wizard Step 4 Nav-->
                              </div>
                            <!--end::Wizard Steps-->
                          </div>
                          <!--end: Wizard Nav-->
                        </div>
                        <!--end::Aside Top-->
                        <!--begin::Aside Bottom-->
                        <div class="d-flex flex-row-auto bgi-no-repeat bgi-position-y-bottom bgi-position-x-center bgi-size-contain pt-2 pt-lg-5 h-350px" style="background-image: url(img/icon/love.svg)"></div>
                        <!--end::Aside Bottom-->
                    </div>
                    <!--begin::Aside-->
                    <!--begin::Content-->
                    <div class="wizard-content bg-gray-100 d-flex flex-column flex-row-fluid py-15 px-5 px-lg-10">
                        <!--begin::Title-->
                        <!--
                        <div class="text-right mb-lg-30 mb-15 mr-xxl-10">
                          <span class="font-weight-bold text-muted font-size-h5">Having issues?</span>
                          <a href="javascript:;" class="font-weight-bolder text-primary font-size-h4" id="kt_login_signup">Get Help</a>
                        </div>
                        -->
                        <!--end::Title-->
                        <!--begin::Form-->
                        <div class="d-flex justify-content-center flex-row-fluid">
                          <form class="pb-5 w-100 w-md-450px w-lg-500px" novalidate="novalidate" id="kt_form">
                            <!--begin: Wizard Step 1-->
                            <div class="pb-5" data-wizard-type="step-content" data-wizard-state="current">
                            <!--begin::Title-->
                              <div class="pb-10 pb-lg-15">
                                <h3 class="font-weight-bolder text-dark font-size-h2">填寫捐款金額</h3>
                                <!--
                                <div class="text-muted font-weight-bold font-size-h5">Already have an Account ?
                                <a href="custom/pages/login/login-3/signin.html" class="text-primary font-weight-bolder">Sign In</a></div>
                                -->
                              </div>
                              <!--begin::捐款金額-->
                              <ul class="nav nav-success nav-pills mb-3" id="pills-tab" role="tablist">
                                 <li class="nav-item">
                                   <a class="nav-link uk-h3 active" id="pills-regular-tab" data-toggle="pill" href="#pills-regular" role="tab" aria-controls="pills-regular" aria-selected="true">定期捐款</a>
                                 </li>
                                 <li class="nav-item ">
                                    <a class="nav-link uk-h3" id="pills-single-tab" data-toggle="pill" href="#pills-single" role="tab" aria-controls="pills-single" aria-selected="false">單筆捐款</a>
                                 </li>                                
                              </ul>
                              <div class="tab-content " id="pills-tabContent">
                                 <div class="tab-pane fade show active" id="pills-regular" role="tabpanel" aria-labelledby="pills-regular-tab">
                                   <label class="h4 text-success mb-2">點選金額或自訂金額</label>
                                   <div class="mt-3 ">
                                      <div class="custom-control custom-control-size mb-2">
                                        <input type="radio" class="custom-control-input" name="modalProductSize" id="qprice1" value="" data-toggle="form-caption" data-target="#modalProductSizeCaption">
                                        <label class="custom-control-label" for="qprice1">
                                          <span class="amount">300</span>
                                        </label>
                                      </div>
                                      <div class="custom-control custom-control-size mb-2">
                                        <input type="radio" class="custom-control-input" name="modalProductSize" id="qprice2" value="" data-toggle="form-caption" data-target="#modalProductSizeCaption">
                                        <label class="custom-control-label" for="qprice2">
                                          <span class="amount">900</span>
                                        </label>
                                      </div>
                                      <div class="custom-control custom-control-size mb-4">
                                        <input type="radio" class="custom-control-input" name="modalProductSize" id="qprice3" value="" data-toggle="form-caption" data-target="#modalProductSizeCaption">
                                        <label class="custom-control-label" for="qprice3">
                                          <span class="amount">3,600</span>
                                        </label>
                                      </div>
                                      <div class="form-group row custom-input-block">
                                        <label for="qprice-input" class="col-2 col-form-labeld pr-0">自訂金額</label>
                                        <div class="col-10 ">
                                          <input class="form-control" type="number" min="0" placeholder="請輸入"  id="qprice-input">
                                        </div>
                                      </div>
                                      <div class="form-group row custom-input-block">
                                        <label for="qprice-number-input" class="col-4 col-form-labeld pr-0">每月定期定額期數</label>
                                        <div class="col-8">
                                          <input class="form-control" type="number" min="0" placeholder="請輸入"  id="qprice-number-input">
                                        </div>
                                      </div>
                                      <div class="form-group custom-input-text row ">
                                        <label for="exampleSelect1" class="col-2 pr-0 custom-input-text">頻率：</label>
                                        <select class="form-control col-5 px-0" id="exampleSelect1">
                                         <option>每月</option>
                                         <option>每年</option>
                                        </select>
                                      </div>
                                      <div class="form-group custom-input-text">
                                        <label>付款方式<span class="text-danger text-bold">*</span></label>
                                        <span class="text-dark-50">信用卡才能進行定期捐款</span>
                                        <div class="radio-list">
                                          <label class="radio radio-outline radio-outline-2x radio-success" >
                                              <input type="radio"  name="radios5" checked="checked">
                                              <span></span>
                                              信用卡
                                          </label>
                                        </div>
                                      </div>
                                      <div class="custom-label-text">將透過藍新金流付款（有安全驗證機制）</div>
                                   </div>
                                 </div>
                                 <div class="tab-pane fade" id="pills-single" role="tabpanel" aria-labelledby="pills-single-tab">
                                   <label class="h4 text-success mb-2">點選金額或自訂金額</label>
                                   <div class="mt-3 ">
                                      <div class="custom-control custom-control-size mb-2">
                                        <input type="radio" class="custom-control-input" name="modalProductSize" id="qprice5" value="" data-toggle="form-caption" data-target="#modalProductSizeCaption">
                                        <label class="custom-control-label" for="qprice5">
                                          <span class="amount">300</span>
                                        </label>
                                      </div>
                                      <div class="custom-control custom-control-size mb-2">
                                        <input type="radio" class="custom-control-input" name="modalProductSize" id="qprice6" value="" data-toggle="form-caption" data-target="#modalProductSizeCaption">
                                        <label class="custom-control-label" for="qprice6">
                                          <span class="amount">900</span>
                                        </label>
                                      </div>
                                      <div class="custom-control custom-control-size mb-4">
                                        <input type="radio" class="custom-control-input" name="modalProductSize" id="qprice7" value="" data-toggle="form-caption" data-target="#modalProductSizeCaption">
                                        <label class="custom-control-label" for="qprice7">
                                          <span class="amount">1,200</span>
                                        </label>
                                      </div>
                                      <div class="custom-control custom-control-size mb-4">
                                        <input type="radio" class="custom-control-input" name="modalProductSize" id="qprice4" value="" data-toggle="form-caption" data-target="#modalProductSizeCaption">
                                        <label class="custom-control-label" for="qprice4">
                                          <span class="amount">3,600</span>
                                        </label>
                                      </div>
                                      <div class="form-group row custom-input-block">
                                        <label for="qprice-input" class="col-2 col-form-labeld pr-0">自訂金額</label>
                                        <div class="col-10 ">
                                          <input class="form-control" type="number" min="0" placeholder="請輸入"  id="qprice-input">
                                        </div>
                                      </div>
                                      <div class="form-group custom-input-text">
                                        <label class="col-form-label pr-0">選擇付款方式<span class="text-danger text-bold">*</span></label>
                                        <div class="list-group list-group-sm mb-7">                                                                               
                                          <div class="list-group-item">
                                            <label class="radio radio-outline radio-outline-2x radio-success" >
                                              <input type="radio"  name="radios4">
                                              <span></span>
                                              <div class="ml-3 custom-label-text">信用卡</div>
                                            </label>
                                          </div>
                                          <div class="list-group-item">
                                            <label class="radio radio-outline radio-outline-2x radio-success" >
                                              <input type="radio"  name="radios4">
                                              <span></span>
                                              <div class="ml-3 custom-label-text"><img src="img/LINE-Pay_W61_n.png"></div>
                                            </label>
                                          </div>
                                          <div class="list-group-item">
                                            <label class="radio radio-outline radio-outline-2x radio-success" >
                                              <input type="radio"  name="radios4">
                                              <span></span>
                                              <div class="ml-3 custom-label-text">轉帳/ATM</div>
                                            </label>
                                          </div>
                                          <div class="list-group-item">
                                            <label class="radio radio-outline radio-outline-2x radio-success" >
                                              <input type="radio"  name="radios4">
                                              <span></span>
                                              <div class="ml-3 custom-label-text">超商繳費</div>
                                            </label>
                                          </div>
                                        </div>                                                                    
                                      </div>
                                      <div class="custom-label-text">將透過藍新金流付款（有安全驗證機制）</div>
                                   </div>
                                 </div>
                              </div>
                              
                              <!--end::捐款金額-->
                            </div>
                            <!--end: Wizard Step 1-->
                            <!--begin: Wizard Step 2-->
                            <div class="pb-5" data-wizard-type="step-content">                              
                              <!--begin::Title-->
                              <div class="pb-10 pb-lg-15">
                                <h3 class="font-weight-bolder text-dark font-size-h2">捐款人基本及收據資料</h3>
                              </div>
                              <span class="font-weight-bold label label-inline label-success font-size-lg  mr-2 py-4 px-4 mb-5">捐款金額： <span class="text-white my-2 font-weight-bolder">1,200 NTD</span></span>
                              <!--end::Title-->
                              <!--begin::Form Group-->
                              <!--姓名 -->
                              <div class="form-row">
                                <div class="form-group col">
                                  <label class="font-size-h6 font-weight-bolder text-dark">姓<span class="text-danger">*</span></label>
                                  <input type="text" class="form-control h-auto p-5 border-0 rounded-lg font-size-h6" name="#" placeholder="請輸入您的姓氏" value="" required >
                                  <div class='ml-3 help-block text-danger with-errors'></div>
                                </div>
                                <div class="form-group col">
                                  <label class="font-size-h6 font-weight-bolder text-dark">名字<span class="text-danger">*</span></label>
                                  <input type="text" class="form-control h-auto p-5 border-0 rounded-lg font-size-h6" name="#" placeholder="請輸入您的名字" value="" required >
                                  <div class='ml-3 help-block text-danger with-errors'></div>
                                </div>
                              </div>
                              <!--電子郵件 -->
                              <div class="form-group">
                                <label class="font-size-h6 font-weight-bolder text-dark">電子郵件<span class="text-danger">*</span></label>
                                <input class="form-control h-auto p-5 border-0 rounded-lg font-size-h6" type="email" id="#" name="#" placeholder="請輸入您的電子郵件" value="" required>
                                <div class='ml-3 help-block text-danger with-errors'></div>
                              </div>
                              
                              <div class="separator separator-dashed separator-border-2 my-2"></div>                            
                              <div class="form-row">
                                <div class="form-group col">
                                  <label class="font-size-h6 font-weight-bolder text-dark">郵遞區號<span class="text-danger">*</span></label>
                                  <input type="text" class="form-control h-auto p-5 border-0 rounded-lg font-size-h6" name="#" placeholder="郵遞區號" value="" required >
                                  <div class='ml-3 help-block text-danger with-errors'></div>
                                </div>
                                <div class="form-group col">
                                  <label class="font-size-h6 font-weight-bolder text-dark">縣市<span class="text-danger">*</span></label>
                                  <input type="text" class="form-control h-auto p-5 border-0 rounded-lg font-size-h6" name="#" placeholder="縣市" value="" required >
                                  <div class='ml-3 help-block text-danger with-errors'></div>
                                </div>
                                <div class="form-group col">
                                  <label class="font-size-h6 font-weight-bolder text-dark">區域<span class="text-danger">*</span></label>
                                  <input type="text" class="form-control h-auto p-5 border-0 rounded-lg font-size-h6" name="#" placeholder="區域" value="" required >
                                  <div class='ml-3 help-block text-danger with-errors'></div>
                                </div>
                                <div class="form-group col-12">
                                  <label class="font-size-h6 font-weight-bolder text-dark">地址<span class="text-danger">*</span></label>
                                  <input type="text" class="form-control h-auto p-5 border-0 rounded-lg font-size-h6" name="#" placeholder="地址" value="" required >
                                  <div class='ml-3 help-block text-danger with-errors'></div>
                                </div>
                              </div>
                              <div class="separator separator-dashed separator-border-2 my-2"></div>
                              <div class="form-group custom-input-text">
                                <label class="col-form-label pr-0">是否需要收據？<span class="text-danger text-bold">*</span></label>
                                <div class="list-group list-group-sm mb-7">                                                                               
                                  <div class="list-group-item">
                                    <label class="radio radio-outline radio-outline-2x radio-success" for="no_invoice">
                                      <input class="" type="radio"  name="radios" id="no_invoice">
                                      <span></span>
                                      <div class="ml-3 custom-label-text">不需要</div>
                                    </label>
                                  </div>
                                  <div class="list-group-item">
                                    <label class="radio radio-outline radio-outline-2x radio-success" for="in_invoice">
                                      <input class="" type="radio" id="in_invoice"  name="radios" data-toggle="collapse" data-action="show" data-target="#pay_invoiceCollapse" aria-expanded="false">
                                      <span></span>
                                      <div class="ml-3 custom-label-text">需要(請寄給我電子收據)</div>
                                    </label>
                                  </div>
                                  <div class="list-group-item collapse py-0" id="pay_invoiceCollapse">
                                    <div class="form-row py-5">
                                      <div class="col-12">
                                        <div class="form-group">
                                          <div class="radio-inline">
                                              <label class="radio">
                                                  <input type="radio" name="radios2">
                                                  <span></span>
                                                  個人名義捐款
                                              </label>
                                              <label class="radio">
                                                  <input type="radio" name="radios2">
                                                  <span></span>
                                                  組織名義捐款
                                              </label>
                                          </div>
                                        </div>
                                      </div>
                                      <div class="col-12 col-md-6">
                                        <div class="form-group">
                                          <label class="" for="#">報稅憑證</label>
                                          <input class="form-control form-control-sm" id="#" type="text" placeholder="身分證字號" required>
                                          <input class="form-control form-control-sm" id="#" type="text" placeholder="統一編號" required>
                                        </div>                                        
                                      </div>
                                      <div class="col-12 col-md-6">
                                        <div class="form-group">
                                          <label class="" for="#">收據抬頭<span class="text-danger">*</span></label>
                                          <input class="form-control form-control-sm" id="#" type="text" placeholder="聯絡人姓名" required>
                                          <input class="form-control form-control-sm" id="#" type="text" placeholder="組織名稱" required>
                                          
                                          <label class="checkbox checkbox-outline checkbox-outline-2x checkbox-success mt-2">
                                              <input type="checkbox" name="Checkboxes16">
                                              <span></span>
                                              <div class="ml-3 ">同捐款人姓名</div>
                                          </label>
                                        </div>                                        
                                      </div>
                                    </div>
                                  </div> 
                                </div>                                                                    
                              </div>
                              <!--begin::Form Group-->
                           	</div>
                            <!--end: Wizard Step 2-->
                            <!--begin: Wizard Step 3-->
                            <div class="pb-5" data-wizard-type="step-content">
                              <!--begin::Title-->
                              <div class="pb-10 pb-lg-12">
                                <h3 class="font-weight-bolder text-dark font-size-h2">確認捐款資料</h3>
                                <div class="text-muted font-weight-bold font-size-h6">感謝您的愛心，請確認捐款資料。</div>
                              </div>
                              <!--end::Title-->
                              <!--begin::Section-->
                              <span class="font-weight-bold label label-inline label-success font-size-lg  mr-2 py-4 px-4 mb-5">捐款金額： <span class="text-white my-2 font-weight-bolder">1,200 NTD</span></span>
                              <h4 class="font-weight-bolder mb-3">捐款人資訊：</h4>
                              <div class="text-dark-50 font-weight-bold font-size-lg line-height-lg mb-8">
                                <div><span>姓名：</span>王小明</div>
                                <div><span>電子郵件：</span>nick.stone@gmail.com</div>
                                <div><span>地址：</span>811 高雄市新興區中山一路110號</div>
                              </div>
                              <!--end::Section-->
                              <!--begin::Section-->
                              <h4 class="font-weight-bolder mb-3">收據資訊：</h4>
                              <div class="text-dark-50 font-weight-bold line-height-lg mb-8 font-size-lg "><img src="img/icon/check.svg" class="custom-width-4 mr-2">不需要收據</div>
                              <div class="text-dark-50 font-weight-bold line-height-lg mb-8 font-size-lg">
                                <div class="custom-text">報稅憑證</div>
                                <div><span>身分證字號：</span>A123456789</div>
                                <div><span>收據抬頭：</span>王小明</div>
                              </div>
                              <!--end::Section-->                             
                            </div>
                            <!--end: Wizard Step 3-->
                            <!--begin: Wizard Step 4-->
                            <div class="pb-5" data-wizard-type="step-content">
                              <!--begin::Title-->
                              <div class="pb-10 pb-lg-12">
                                <h3 class="font-weight-bolder text-dark font-size-h2">確認金流資料</h3>
                                <div class="text-muted font-weight-bold font-size-h6">感謝您的愛心，只差一步，確認後，將會透過藍新金流付款。</div>
                              </div>
                              <!--end::Title-->
                              <!--begin::Section-->
                              <h4 class="font-weight-bolder mb-3">付款方式：</h4>
                              <div class="text-dark-50 font-weight-bold line-height-lg mb-8">
                                <div class="custom-text">信用卡</div>
                              </div>
                              <!--end::Section-->
                            </div>
                            <!--end: Wizard Step 4-->
                            <!--begin: Wizard Actions-->
                            <div class="d-flex justify-content-between pt-3">
                              <div class="mr-2">
                                <button type="button" class="btn btn-light-primary font-weight-bolder font-size-h6 pl-6 pr-8 py-4 my-3 mr-3" data-wizard-type="action-prev">
                                  <span class="svg-icon svg-icon-md mr-1">
                                    <!--begin::Svg Icon | path:assets/media/svg/icons/Navigation/Left-2.svg-->
                                    <i class="fas fa-angle-left"></i>
                                    <!--end::Svg Icon-->
                                  </span>
                                  <span>上一步</span>
                                </button>
                              </div>
                              <div>
                                <button type="button" class="btn btn-primary font-weight-bolder font-size-h6 pl-5 pr-8 py-4 my-3" data-wizard-type="action-submit">
                                  進行付款
                                  <span class="svg-icon svg-icon-md ml-2">
                                    <!--begin::Svg Icon | path:assets/media/svg/icons/Navigation/Right-2.svg-->
                                    <i class="fas fa-angle-right"></i>
                                    <!--end::Svg Icon-->
                                  </span>
                                </button>
                                <button type="button" class="btn btn-primary font-weight-bolder font-size-h6 pl-8 pr-4 py-4 my-3" data-wizard-type="action-next">
                                  <span class="">下一步</span>
                                  <span class="svg-icon svg-icon-md ml-1">
                                    <!--begin::Svg Icon | path:assets/media/svg/icons/Navigation/Right-2.svg-->
                                    <i class="fas fa-angle-right"></i>
                                    <!--end::Svg Icon-->
                                  </span>
                                </button>
                              </div>
                            </div>
                          <!--end: Wizard Actions-->
                          </form>
                        </div>
                      <!--end::Form-->
                    </div>
                    <!--end::Content-->
                </div>
              <!--end::Wizard 5-->
            </div>
          </div>
        </div>
      </div>
    </main>
    
    <div class="section-subscribe">
      <div class="uk-container">
        <div class="subscribe-box">
          <div class="uk-grid uk-flex-middle uk-child-width-1-1@m" data-uk-grid>
            <div>
              <div class="section-title"><span>獨居長者熱騰騰的飯菜</span>
                <div class="uk-h2">你的簡單小事，我的重責大任</div>
              </div>
            </div>
            <!--
            <div>
              <div class="subscribe-box__form">
                <form action="#!">
                  <div class="uk-flex uk-flex-middle"><input class="uk-input" type="email" name="email" placeholder="Email Address ...."><button class="uk-button uk-button-danger" type="submit">Subscribe</button></div>
                </form>
              </div>
            </div>
            -->
          </div>
        </div>
      </div>
    </div>
    <footer class="page-footer">
      <div class="page-footer__top">
        <div class="uk-container">
          <div class="uk-grid uk-grid-small uk-child-width-1-3@l uk-child-width-1-1@s" data-uk-grid>
            <div>
              <div class="uk-margin-small">
                <div class="logo">
                  <a class="logo__link" href="index.html">
                    <div class="logo__icon"><img src="img/logo1.png" alt="弗傳慈心"></div>
                  </a>
                </div>
              </div>
              <div class="uk-margin-small">
                <p>傳心之路，願成為你我之間的橋樑，共同前往美好路程。</p>
              </div>
              <div class="uk-margin-small">
                <div class="support">
                  <a class="support__link" href="tel:0425282989">
                    <div class="support__icon"><i class="fas fa-headset"></i></div>
                    <div class="support__desc">
                      <div class="support__label">聯絡我們</div>
                      <div class="support__phone">(04)2528-2989</div>
                    </div>
                  </a></div>
              </div>
              <!--
              <div class="uk-margin-medium">
                <div class="social">
                  <ul class="social-list">
                    <li class="social-list__item"><a class="social-list__link" href="#!"><i class="fab fa-twitter"></i></a></li>
                    <li class="social-list__item"><a class="social-list__link" href="#!"><i class="fab fa-facebook-f"></i></a></li>
                    <li class="social-list__item"><a class="social-list__link" href="#!"><i class="fab fa-google-plus-g"></i></a></li>
                    <li class="social-list__item"><a class="social-list__link" href="#!"><i class="fab fa-youtube"></i></a></li>
                    <li class="social-list__item"><a class="social-list__link" href="#!"><i class="fab fa-pinterest-p"></i></a></li>
                  </ul>
                </div>
              </div> -->
            </div>
            <div>
              <div class="page-footer__column page-footer__info">
                <div class="uk-h4">聯絡資訊</div>
                <ul class="info-list">
                  <li>
                    <div class="info-list-item">
                      <div class="info-list-item__title">聯絡地址：</div>
                      <div class="info-list-item__value">臺中市神岡區五權路85號</div>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
             <div>
              <div class="page-footer__column page-footer__info">
                <div class="uk-h4">Supported by</div>
                <ul class="info-list">
                  <li>
                    <div class="info-list-item">
                      <img class="supportid" src="img/ncnu_logo.svg" alt="國立暨南國際大學">
                      <div class="info-list-item__value"></div>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="page-footer__bottom">
        <div class="uk-container">
          <div class="uk-text-center text-white">基金會登記：87府社合字第194902號｜110年勸募文號：衛部救字第1101361007號</div>
          <div class="uk-text-center text-white">(c) 2021 財團法人臺中市私立弗傳慈心社會福利慈善事業基金會 All rights reserved.</div>
        </div>
      </div>

      <div id="offcanvas" data-uk-offcanvas="flip: true; overlay: true">
        <div class="uk-offcanvas-bar"><button class="uk-offcanvas-close text-dark" type="button" data-uk-close=""></button>
          <div class="uk-margin">
            <div class="logo">
              <a class="logo__link" href="index.html">
                <div class="logo__icon"><img src="img/logo.png" alt="弗傳慈心"></div>
              </a>
            </div>
          </div>
          <div class="uk-margin">            
            <ul class="uk-nav uk-nav-default uk-nav-parent-icon" data-uk-nav>
              <li><a href="#">首頁</a></li>
              <li><a href="typography.html">募款活動</a></li>
              <li><a uk-icon="facebook" href="page-contacts.html" class="" ></a></li>
              <li><a uk-icon="instagram" href="page-contacts.html" class="" ></a></li>
            </ul>
          </div>
        </div>
      </div>
      <!--
      <div class="uk-modal-full uk-modal" id="modal-search" data-uk-modal>
        <div class="uk-modal-dialog uk-flex uk-flex-center uk-flex-middle" data-uk-height-viewport><button class="uk-modal-close-full" type="button" data-uk-close></button>
          <form class="uk-search uk-search-large"><input class="uk-search-input uk-text-center" type="search" placeholder="Search..." autofocus></form>
        </div>
      </div> -->
    </footer>
      
  </div>
  
</body>
  <!--側邊立即贊助 -->
  <!--
   <div class="top-logo">
     <a class="" href="index.html">
       <img src="img/pic-16-dark.jpg" alt="弗傳慈心">
     </a>
   </div>
   <div id="top_button" class="uk-inline-clip uk-transition-toggle" tabindex="0">
     <a href="#">
       <img src="img/pic-15-dark.jpg">
       <img class="uk-transition-scale-up uk-position-cover" src="img/pic-15-light.jpg" alt="">
     </a>
   </div>
  -->
  <!-- Back to top button -->
    <a id="button" class="d-none d-sm-block"><span uk-icon="arrow-up"></span></a>
    
    <script>
      var btn = $('#button');
  
      $(window).scroll(function() {
        if ($(window).scrollTop() > 300) {
          btn.addClass('show');
        } else {
          btn.removeClass('show');
        }
      });
      
      btn.on('click', function(e) {
        e.preventDefault();
        $('html, body').animate({scrollTop:0}, '300');
      });
    </script>
</html>