{{include file="{{$tv_kind}}/meta.html"}}
{{include file="{{$tv_kind}}/header.html"}}
<script>
  $(function(){
    $('.fd_que').click(function(){
      $('#que_kind').val('que');
    });
    $('#f_search').click(function(){
      $('#que_str').val($("#f_que").val());
      $('#fd_que_input').submit();
    });
    $("#f_que").keypress(function(event) {
      if( event.which == 13 ) {
        $('#que_str').val($(this).val());
        $('#f_search').click();
      }
    });
    $(".que_enter").keypress(function(event) {
      if( event.which == 13 ) {
        $('#fd_que_input').submit();
      }
    });
    $("#btn_que").click(function(){
      $('#fd_que_input').submit();
      return;
    });
    $('#btn_que_close').click(function(){
      $("#btn_que_reset").click(); // 清除查詢資料
      $('.pop-que').modal("hide");
    })
    
    $(document).on("click", ".del", function () {
      var s_num = $(this).data('s_num');
      $(".modal-footer #f_del_s_num").val(s_num);
    });

    $("#del").click(function(){
      var err_msg = '';
      var s_num = $(".modal-footer #f_del_s_num").val();
      $.ajax({
        type:'post',
        url: '{{$tv_del_link}}',
        data: {s_num:s_num},
        error: function(xhr) {
          err_msg = 'Ajax request發生錯誤[{{$tv_del_link}}]:'+xhr+'\n請重試';
          alert(err_msg);
        },
        success: function (rs) {
          if(rs=='ok') {
            alert("{{$tv_del_ok}}");
            location.replace("{{$tv_return_link}}");
          }
          else {
            alert("{{$tv_del_ng}}");
            //alert(rs);
          }
        }
      })
      return;
    });
    
    $("input[name^='is_available']").click(function(){
      var s_num = $(this).data('s_num');
      if($(this).prop("checked")) { // 打勾
        var is_available = 1;
        var old_is_flag = false;
      }
      else {
        var is_available = 0;
        var old_is_flag = true;
      }
      $.ajax({
        type:'post',
        url: '{{$tv_save_link}}upd_is_available',
        data: {f_kind:'upd_is_available',f_s_num:s_num,f_is_available:is_available},
        error: function(xhr) {
          strMsg += 'Ajax request發生錯誤[{{$tv_save_link}}]upd_is_available:'+xhr+'\n請重試';
        },
        success: function (rs) {
          if(rs=='ok') {
          }
          else {
            alert("{{$tv_upd_ng}}");
            $('#is_available_'+s_num).prop('checked',old_is_flag);
            //alert(rs);
          }
        }
      })
    });
    $(".fd_order").click(function(){
      $('#que_kind').val('order');
      var fd_name = $(this).data('fd_name');
      var order_kind = $(this).data('order_kind');
      if('asc'==order_kind) {
        $(this).data('order_kind','desc');
        //$('#icon_'+fd_name).html('<i class="fas fa-sort-down"></i>');
        order_kind = 'desc';
      }
      else {
        $(this).data('order_kind','asc');
        //$('#icon_'+fd_name).html('<i class="fas fa-sort-up"></i>');
        order_kind = 'asc';
      }
      //order_kind = $(this).data('order_kind');
      $('#que_order_fd_name').val(fd_name);
      $('#que_order_kind').val(order_kind);
      //console.log(fd_name);
      //console.log(order_kind);
      $('#fd_que_input').submit();
    });
    //console.log('{{$tv_que_order_fd_name}}');
    {{if '' != $tv_que_order_fd_name}}
      if('asc'=='{{$tv_que_order_kind}}') {
        $('#icon_'+'{{$tv_que_order_fd_name}}').html('<i class="fas fa-sort-up"></i>');
        $('#{{$tv_que_order_fd_name}}').data('order_kind','asc');
        $('#fd_'+'{{$tv_que_order_fd_name}}').data('order_kind','asc');
      }
      else {
        $('#icon_'+'{{$tv_que_order_fd_name}}').html('<i class="fas fa-sort-down"></i>');
        $('#{{$tv_que_order_fd_name}}').data('order_kind','desc');
        $('#fd_'+'{{$tv_que_order_fd_name}}').data('order_kind','desc');
      }
      $('#que_order_fd_name').val('{{$tv_que_order_fd_name}}');
      $('#que_order_kind').val('{{$tv_que_order_kind}}');
      //console.log($('#que_order_fd_name').val());
      //console.log($('#que_order_kind').val());
    {{/if}}
    $('#que_str').val('{{$tv_que_str}}');
  });
</script>
<div class="right-content">
  <div class="page-title clearfix">
    <div class="float-left">
      <h1>案主資料匯入</h1>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">案主管理</a></li>
        <li class="breadcrumb-item"><a href="#">案主資料匯入</a></li>
        <li class="breadcrumb-item active">{{$tv_breadcrumb3}}</li>
      </ol>
    </div>
    <div class="float-right">
      <div class="visible-xs"><div class="maT10"></div></div>
      <button type="button" class="btn btn-light btn-sm" onclick="location.href='{{$tv_file_upload_link}}';">案主資料上傳 <i class="fas fa-file-import"></i></button>
      <button type="button" class="btn btn-light btn-sm" onclick="location.href='{{$tv_return_link}}';">{{$tv_list_btn}} <i class="fas fa-list"></i></button>
      <button type="button" class="btn btn-light btn-sm fd_que" data-toggle="modal" data-target=".pop-que">{{$tv_que_btn}} <i class="fas fa-search"></i></button>
    </div>
  </div>
  <div class="container-fluid">
    <!-- 表格區塊 -->
    <div class="white-wrapper">
      <!-- 篩選＆搜尋表格 -->
      <div class="table-filter">
        <div class="row">
          <div class="col-6 col-sm-4 col-md-4 col-lg-4 col-xl-3 ml-3">
            <div class="row">
              <div class="input-group">
                <input type="text" id="f_que" name="f_que" class="form-control form-control-sm" placeholder="請輸入搜尋內容" value="{{$tv_f_que}}">
                <div class="input-group-prepend">
                  <button id="f_search" name="f_search" class="btn btn-C1 btn-sm ml-1" type="button">{{$tv_que_btn}}</button>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12">
            <p class="text-right">Total: {{$tv_total_rows|number_format|default:''}}</p>
          </div>
        </div>
      </div>
      <!-- 篩選＆搜尋表格 -->
      <div class="table-responsive">
        <table class="table table-bordered table-striped table-hover table-sm">
          <thead>
            <tr class="thead-light">
              <th class="text-nowrap" width="03%"><span id="fd_s_num" class="fd_order cursorpointer" data-fd_name="s_num" data-order_kind="">序</span><span id="icon_s_num"><i class="fas fa-sort"></i></span></th><!--1.-->
              <th class="text-nowrap" width="05%"><span id="fd_ct14" class="fd_order cursorpointer" data-fd_name="ct14" data-order_kind="">區域</span><span id="icon_ct14"><i class="fas fa-sort"></i></span></th><!--2-->
              <th class="text-nowrap"><span id="fd_ct01" class="fd_order cursorpointer" data-fd_name="ct01" data-order_kind="">案主姓名</span><span id="icon_ct01"><i class="fas fa-sort"></i></span></th><!--2-->
              <th class="text-nowrap"><span id="fd_ct03" class="fd_order cursorpointer" data-fd_name="ct03" data-order_kind="">案主身分證</span><span id="icon_ct03"><i class="fas fa-sort"></i></span></th><!--4-->
              <th class="text-nowrap" width="04%"><span id="fd_ct04" class="fd_order cursorpointer" data-fd_name="ct04" data-order_kind="">案主性別</span><span id="icon_ct04"><i class="fas fa-sort"></i></span></th><!--4-->
              <th class="text-nowrap" width="07%"><span id="fd_ct05" class="fd_order cursorpointer" data-fd_name="ct05" data-order_kind="">案主生日</span><span id="icon_ct05"><i class="fas fa-sort"></i></span></th><!--4-->
              <th class="text-nowrap" width="08%"><span id="fd_ct06" class="fd_order cursorpointer" data-fd_name="ct06" data-order_kind="">案主手機</span><span id="icon_ct06"><i class="fas fa-sort"></i></span></th><!--5-->
              <th class="text-nowrap"><span id="fd_ct12" class="fd_order cursorpointer" data-fd_name="ct12" data-order_kind="">案主地址</span><span id="icon_ct12"><i class="fas fa-sort"></i></span></th><!--7-->
              <th width="06%">是否啟用</th>
              <th class="text-left" width="17.5%"></th>
            </tr>
          </thead>
          <tbody>
            {{foreach from=$tv_client_import_row key=k item=v}}
              <tr>
                <td class="text-left"><a href="{{$tv_upd_link}}{{$v.s_num}}" class="text-dark">{{$v.s_num|default:''}}</a></td><!--1.序-->
                <td class="text-left"><a href="{{$tv_upd_link}}{{$v.s_num}}" class="text-dark">{{$v.ct14|default:''}}</a></td><!--1.序-->
                <td class="text-left"><a href="{{$tv_upd_link}}{{$v.s_num}}" class="text-dark">{{$v.ct01|default:''}}{{$v.ct02|default:''}}</a></td><!--2.案主姓-->
                <td class="text-left"><a href="{{$tv_upd_link}}{{$v.s_num}}" class="text-dark">{{$v.ct03|default:''}}</a></td><!--3.案主身分證字號-->
                <td class="text-left"><a href="{{$tv_upd_link}}{{$v.s_num}}" class="text-dark">{{$v.ct04_str|default:''}}</a></td><!--4.案主性別-->
                <td class="text-left"><a href="{{$tv_upd_link}}{{$v.s_num}}" class="text-dark">{{$v.ct05|default:''|date_format:'%Y-%m-%d'}}</a></td><!--5.案主生日-->
                <td class="text-left"><a href="{{$tv_upd_link}}{{$v.s_num}}" class="text-dark">{{$v.ct06_telephone|default:''}}</a></td><!--6.案主手機-->
                <td class="text-left"><a href="{{$tv_upd_link}}{{$v.s_num}}" class="text-dark">{{$v.ct12|default:''}}{{$v.ct13|default:''}}{{$v.ct14|default:''}}{{$v.ct15|default:''}}</a></td><!--7.案主地址-->
                <td>
                  <div class="switch">
                    <input class="cmn-toggle cmn-toggle-round" type="checkbox" id="is_available_{{$v.s_num}}" name="is_available" data-s_num="{{$v.s_num}}" {{if $v.is_available==1}} checked {{/if}}>
                    <label for="is_available_{{$v.s_num}}"></label>
                  </div>
                </td>
                <td align='right'>
                  <button type="button" class="btn btn-C4 btn-sm" onclick="location.href='{{$tv_upd_link}}{{$v.s_num}}';">{{$tv_upd_btn}}</button>
                  <button type="button" class="btn btn-C2 btn-sm del" data-s_num="{{$v.s_num}}" data-toggle="modal" data-target=".pop-container">{{$tv_del_btn}}</button>
                </td>
              </tr>
            {{foreachelse}}
            <tr>
              <td colspan="99" class="alert alert-warning">
                  查無資料!!!
              </td>
            </tr>
            {{/foreach}}
          </tbody>
        </table>
      </div>
      <!-- 頁籤 -->
      <ul class="pagination justify-content-center pagination-sm" style="margin:20px 0">
        {{$tv_pg_link|default:''}}
      </ul>
      <!-- 頁籤 end-->
    </div>
    <!-- 表格區塊 end-->
  </div>
  <!-- 刪除確認彈出 -->
  <div class="modal fade pop-container" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
    <div class="modal-dialog  modal-sm" role="document">
      <div class="modal-content  modal-C1 ">
        <div class="text-center paTB20">
          <h1><i class="fa fa-info-circle mainC2 maB10" aria-hidden="true"></i><br></h1>
          真的要刪除此案主資料資料嗎？
        </div>
        <div class="modal-footer text-center">
          <input type="hidden" id='f_del_s_num' value="">
          <button type="button" class="btn btn-C1-line" data-dismiss="modal">取消</button>
          <button type="button" id="del" class="btn btn-C1" data-dismiss="modal">確定</button>
        </div>
      </div>
    </div>
  </div>
  <!-- 刪除確認彈出 end-->
  <!-- 查詢2彈出 -->
  <div class="modal fade pop-que" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
    <div class="modal-dialog  modal-lg" role="document">
      <div class="modal-content modal-C1 ">
        <form class="maT20" action="{{$tv_que_link}}" id="fd_que_input" name="fd_que_input" method="GET" enctype="multipart/form-data">
          <input type='hidden' id='que_kind' name='que_kind' class='form-control form-control-sm que_enter' value='que'>
          <input type='hidden' id='que_order_fd_name' name='que_order_fd_name' class='form-control form-control-sm que_enter' placeholder='請輸入排序' value=''>
          <input type='hidden' id='que_order_kind' name='que_order_kind' class='form-control form-control-sm que_enter' placeholder='請輸入排序' value=''>
          <div class="text-center paTB20">
            {{*<h1><i class="far fa-keyboard" aria-hidden="true"></i><br></h1>*}}
            <h2>請輸入查詢條件</h2>
          </div>
          <div class="modal-body text-left">
            <table class="table xtable-bordered table-hover table-sm">
              {{assign var="swidth_left" value="col-3"}}
              {{assign var="swidth_right" value="col-9"}}
              <tbody>
                <tr class='d-flex'>
                  <td class='{{$swidth_left}} table-secondary text-right'>案主姓</td>
                  <td class='{{$swidth_right}} table-light'>
                    <span class='form-group'>
                      <div class='input-group input-group-sm'>
                        <input type='text' id='que_ct01' name='que_ct01' class='col-7 form-control form-control-sm que_enter ' placeholder='請輸入案主姓' value=''>
                        <div class='input-group-append'>
                          <span id='helpBlock_que_ct01' class='help-block ml-2'></span>
                        </div>
                      </div>
                      <div class='help-block with-errors'></div>
                    </span>
                  </td>
                </tr>
                <tr class='d-flex'>
                  <td class='{{$swidth_left}} table-secondary text-right'>案主姓</td>
                  <td class='{{$swidth_right}} table-light'>
                    <span class='form-group'>
                      <div class='input-group input-group-sm'>
                        <input type='text' id='que_ct02' name='que_ct02' class='col-7 form-control form-control-sm que_enter ' placeholder='請輸入案主名' value=''>
                        <div class='input-group-append'>
                          <span id='helpBlock_que_ct02' class='help-block ml-2'></span>
                        </div>
                      </div>
                      <div class='help-block with-errors'></div>
                    </span>
                  </td>
                </tr>
                <tr class='d-flex'>
                  <td class='{{$swidth_left}} table-secondary text-right'>案主身分證</td>
                  <td class='{{$swidth_right}} table-light'>
                    <span class='form-group'>
                      <div class='input-group input-group-sm'>
                        <input type='text' id='que_ct03' name='que_ct03' class='col-7 form-control form-control-sm que_enter ' placeholder='請輸入案主身分證' value=''>
                        <div class='input-group-append'>
                          <span id='helpBlock_que_ct03' class='help-block ml-2'></span>
                        </div>
                      </div>
                      <div class='help-block with-errors'></div>
                    </span>
                  </td>
                </tr>
                <tr class='d-flex'>
                  <td class='{{$swidth_left}} table-secondary text-right'>案主手機</td>
                  <td class='{{$swidth_right}} table-light'>
                    <span class='form-group'>
                      <div class='input-group input-group-sm'>
                        <input type='text' id='que_ct06' name='que_ct06' class='col-7 form-control form-control-sm que_enter ' placeholder='請輸入案主手機' value=''>
                        <div class='input-group-append'>
                          <span id='helpBlock_que_ct06' class='help-block ml-2'></span>
                        </div>
                      </div>
                      <div class='help-block with-errors'></div>
                    </span>
                  </td>
                </tr>
                <tr class='d-flex'>
                  <td class='{{$swidth_left}} table-secondary text-right'>案主聯絡區號</td>
                  <td class='{{$swidth_right}} table-light'>
                    <span class='form-group'>
                      <div class='input-group input-group-sm'>
                        <input type='text' id='que_ct12' name='que_ct12' class='col-7 form-control form-control-sm que_enter ' placeholder='請輸入案主聯絡區號' value=''>
                        <div class='input-group-append'>
                          <span id='helpBlock_que_ct12' class='help-block ml-2'></span>
                        </div>
                      </div>
                      <div class='help-block with-errors'></div>
                    </span>
                  </td>
                </tr>
                <tr class='d-flex'>
                  <td class='{{$swidth_left}} table-secondary text-right'>案主聯絡城市</td>
                  <td class='{{$swidth_right}} table-light'>
                    <span class='form-group'>
                      <div class='input-group input-group-sm'>
                        <input type='text' id='que_ct13' name='que_ct13' class='col-7 form-control form-control-sm que_enter ' placeholder='請輸入案主聯絡城市' value=''>
                        <div class='input-group-append'>
                          <span id='helpBlock_que_ct13' class='help-block ml-2'></span>
                        </div>
                      </div>
                      <div class='help-block with-errors'></div>
                    </span>
                  </td>
                </tr>
                <tr class='d-flex'>
                  <td class='{{$swidth_left}} table-secondary text-right'>案主聯絡區</td>
                  <td class='{{$swidth_right}} table-light'>
                    <span class='form-group'>
                      <div class='input-group input-group-sm'>
                        <input type='text' id='que_ct14' name='que_ct14' class='col-7 form-control form-control-sm que_enter ' placeholder='請輸入案主聯絡區' value=''>
                        <div class='input-group-append'>
                          <span id='helpBlock_que_ct14' class='help-block ml-2'></span>
                        </div>
                      </div>
                      <div class='help-block with-errors'></div>
                    </span>
                  </td>
                </tr>
                <tr class='d-flex'>
                  <td class='{{$swidth_left}} table-secondary text-right'>案主聯絡地址</td>
                  <td class='{{$swidth_right}} table-light'>
                    <span class='form-group'>
                      <div class='input-group input-group-sm'>
                        <input type='text' id='que_ct15' name='que_ct15' class='col-7 form-control form-control-sm que_enter ' placeholder='請輸入案主聯絡地址' value=''>
                        <div class='input-group-append'>
                          <span id='helpBlock_que_ct15' class='help-block ml-2'></span>
                        </div>
                      </div>
                      <div class='help-block with-errors'></div>
                    </span>
                  </td>
                </tr>
                <tr class='d-flex'>
                  <td class='{{$swidth_left}} table-secondary text-right'>案主家緯度</td>
                  <td class='{{$swidth_right}} table-light'>
                    <span class='form-group'>
                      <div class='input-group input-group-sm'>
                        <input type='text' id='que_ct16' name='que_ct16' class='col-7 form-control form-control-sm que_enter ' placeholder='請輸入案主家緯度' value=''>
                        <div class='input-group-append'>
                          <span id='helpBlock_que_ct16' class='help-block ml-2'></span>
                        </div>
                      </div>
                      <div class='help-block with-errors'></div>
                    </span>
                  </td>
                </tr>
                <tr class='d-flex'>
                  <td class='{{$swidth_left}} table-secondary text-right'>案主家經度</td>
                  <td class='{{$swidth_right}} table-light'>
                    <span class='form-group'>
                      <div class='input-group input-group-sm'>
                        <input type='text' id='que_ct17' name='que_ct17' class='col-7 form-control form-control-sm que_enter ' placeholder='請輸入案主家經度' value=''>
                        <div class='input-group-append'>
                          <span id='helpBlock_que_ct17' class='help-block ml-2'></span>
                        </div>
                      </div>
                      <div class='help-block with-errors'></div>
                    </span>
                  </td>
                </tr>
                <tr class='d-flex'>
                  <td class='{{$swidth_left}} table-secondary text-right'>全文檢索</td>
                  <td class='{{$swidth_right}} table-light'>
                    <span class='form-group'>
                      <span class='input-group input-group-sm'>
                        <input type='text' id='que_str' name='que_str' class='col-7 form-control form-control-sm que_enter' placeholder='' value=''>
                        <div class="input-group-append">
                          <span id='helpBlock_que_str' class='help-block ml-2'>(所有欄位搜尋)</span>
                        </div>
                      </span>
                    </span>
                  </td>
                </tr>
              </tbody>
              <tfoot>
                <tr class='d-flex'>
                  <td class='{{$swidth_left}}'></td>
                  <td class='{{$swidth_right}} table-light'>
                    <button type="button" id="btn_que" class="btn btn-C1 col-3" data-dismiss="modal">確定 <i class="far fa-check-circle"></i></button>
                    <button id="btn_que_reset" type="reset" class="btn btn-C1-line col-3">清除 <i class="fas fa-eraser"></i></button>
                    <button type="button" id="btn_que_close" class="btn btn-C1-line col-3">關閉 <i class="far fa-times-circle"></i></button>
                  </td>
                </tr>
              </tfoot>
            </table>
          </div>
        </form>
      </div>
    </div>
  </div>
  <!-- 查詢2彈出 end-->
  <!-- 契約書下載 BEGIN -->
  <div class="modal fade pop-contract" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
    <div class="modal-dialog  modal-sm" role="document">
      <div class="modal-content modal-C1 ">
        <div class="text-center paT20 paB5">
          <h2><i class="fa fa-info-circle mainC2 maB10" aria-hidden="true"> 契約書下載</i><br></h2>
          <div class="row maT10">
            <div class="col-12">
              <div class="text-left ml-3 row">
                <label for="vendor_select" class="col-sm-4 col-form-label pr-0">年度：</label>
                <div class="col-sm-7 p-0 mt-1">
                  <span class='form-group'>
                    <div class='input-group form_year'>
                      <div class='input-group-prepend'>
                        <span class='input-group-text'><i class='far fa-calendar-alt'></i></span>
                      </div>
                      <input type='text' id='download_year' name='download_year' class='form-control form-control-sm' placeholder='請輸入下載年度' value='' required>
                    </div>
                    <span id='helpBlock_download_year' class='help-block'></span>
                    <div class='help-block with-errors'></div>
                  </span>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <div class="text-left ml-3 row">
                <label for="vendor_select" class="col-sm-4 col-form-label pr-0">下載類型：</label>
                <div class="col-sm-7 p-0 mt-1">
                  <span class="form-group">
                    <select id="download_type" name="download_type" class='form-control form-control-sm' required>
                      <option value="" selected>-請選擇-</option>
                      <option value="sab">社會局</option>
                      <option value="hb">衛生局</option>
                    </select> 
                  </span>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer text-center maT20">
            <input type='hidden' id='ct_s_num' name='ct_s_num' value=''>
            <button type="button" class="btn btn-C1-line" data-dismiss="modal">取消</button>
            <button type="button" id="contract_ok" class="btn btn-C1" data-dismiss="modal">確定</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- 契約書下載 END-->
  <!-- 案主資料下載 END-->
  <div class="modal fade pop-clients" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
    <div class="modal-dialog modal-dialog-scrollable modal-lg" role="document">
      <div class="modal-content modal-C1 ">
        <div class="text-center paT20">
          {{*<h1><i class="far fa-keyboard" aria-hidden="true"></i><br></h1>*}}
          <h2>請輸入下載條件</h2>
        </div>
        <div class="modal-body text-left">
          <form class="maT20" action="{{$tv_download2_link}}" id="fd_que_clients" name="fd_que_clients" method="GET" enctype="multipart/form-data">
            <div class="table-responsive" style="overflow: visible;">
              <table class="table xtable-bordered table-hover table-sm">
                {{assign var="swidth_left" value="col-3"}}
                {{assign var="swidth_right" value="col-9"}}
                <tbody>
                  <tr class='d-flex'>
                    <td class='{{$swidth_left}} table-secondary text-right'>案主姓名</td>
                    <td class='{{$swidth_right}} table-light'>
                      <span class='form-group'>
                        <div class='input-group input-group-sm'>
                          <input type='text' id='que_ct_name' name='que_ct_name' class='col-7 form-control form-control-sm que_enter ' placeholder='請輸入案主姓名' value=''>
                          <div class='input-group-append'>
                            <span id='helpBlock_que_ct_name' class='help-block ml-2'></span>
                          </div>
                        </div>
                        <div class='help-block with-errors'></div>
                      </span>
                    </td>
                  </tr>
                  <tr class='d-flex'>
                    <td class='{{$swidth_left}} table-secondary text-right'>經費來源</td>
                    <td class='{{$swidth_right}} table-light'>
                      <span class='form-group'>
                        <div class='input-group input-group-sm'>
                          <select id='que_sec05' name='que_sec05' class='col-7 form-control form-control-sm que_enter'>
                            <option value='' selected>-請選擇-</option>
                            <option value='1'>社會局</option>
                            <option value='2'>衛生局</option>
                            <option value='3'>自費</option>
                            <option value='4'>自籌-邊緣戶</option>
                          </select>                        
                          <div class='input-group-append'>
                            <span id='helpBlock_que_sec05' class='help-block ml-2'></span>
                          </div>
                        </div>
                        <div class='help-block with-errors'></div>
                      </span>
                    </td>
                  </tr>
                  <tr class='d-flex'>
                    <td class='{{$swidth_left}} table-secondary text-right'>是否結案</td>
                    <td class='{{$swidth_right}} table-light'>
                      <span class='form-group'>
                        <div class='input-group input-group-sm'>
                          <span class="col-7 form-control form-control-sm que_enter">
                            <input type="radio" name="que_sec03" value="Y"> 是
                            <input type="radio" name="que_sec03" value="N"> 否                     
                          </span>
                          <div class='input-group-append'>
                            <span id='helpBlock_que_sec03' class='help-block ml-2'></span>
                          </div>
                        </div>
                        <div class='help-block with-errors'></div>
                      </span>
                    </td>
                  </tr>
                </tbody>
                <tfoot>
                  <tr class='d-flex'>
                    <td class='{{$swidth_left}}'></td>
                    <td class='{{$swidth_right}} table-light'>
                      <button type="button" id="btn_que_clients" class="btn btn-C1 col-3" data-dismiss="modal">確定 <i class="far fa-check-circle"></i></button>
                      <button id="btn_que_clients_reset" type="reset" class="btn btn-C1-line col-3">清除 <i class="fas fa-eraser"></i></button>
                      <button type="button" id="btn_que_clients_close" class="btn btn-C1-line col-3">關閉 <i class="far fa-times-circle"></i></button>
                    </td>
                  </tr>
                </tfoot>
              </table>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <!-- 案主資料下載 END-->
  <!-- 下載資訊視窗彈出 -->
  <div class="modal fade pop-download" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog" role="document">
      <div class="modal-content  modal-C1">
	    <div class="modal-body">
        <div class="text-center paT10">
          <h1><i class="fa fa-info-circle mainC2 maB15" aria-hidden="true"> <span id="download_type_str"></span></i><br></h1>
          <span id="show_download_info"></span>
        </div>
	    </div>
	   <div class="modal-footer text-center">
	     <button type="button" id="show_download_info_btn" class="btn btn-C1" data-dismiss="modal">關閉</button>
        </div>
      </div>
    </div>
  </div>
  <!-- 下載資訊視窗彈出 end-->
</div>