{{include file="{{$tv_kind}}/meta.html"}}
{{include file="{{$tv_kind}}/header.html"}}
{{*<link rel="stylesheet" href="{{$tv_pub_url}}/bootstrap/css/bootstrap.min.css">*}}
<!-- blueimp Gallery styles -->
<link rel="stylesheet" href="{{$tv_pub_url}}/js/up_file/Gallery/css/blueimp-gallery.min.css">
<!-- CSS to style the file input field as button and adjust the Bootstrap progress bars -->
<link rel="stylesheet" href="{{$tv_pub_url}}/js/up_file/css/jquery.fileupload.css">
<link rel="stylesheet" href="{{$tv_pub_url}}/js/up_file/css/jquery.fileupload-ui.css">
<!-- CSS adjustments for browsers with JavaScript disabled -->
<noscript><link rel="stylesheet" href="{{$tv_pub_url}}/js/up_file/css/jquery.fileupload-noscript.css"></noscript>
<noscript><link rel="stylesheet" href="{{$tv_pub_url}}/js/up_file/css/jquery.fileupload-ui-noscript.css"></noscript>
<script>
  $(function(){
    $("#save").click(function() {
      var strMsg = '';
      $('.pop-info').modal("show");
      var download_info = '<div class="progress progress-striped active">';
          download_info += '   <div class="progress-bar progress-bar-striped progress-bar-animated" style="width:100%;">';
          download_info += '    <span>資料處理中，請稍候...</span>';
          download_info += '   </div>';
          download_info += ' </div>';
      $('#show_info').html(download_info);
      $('#show_info_btn').hide();
      //console.log(s_num);
      $.ajax({
        type:'post',
        url: '{{$tv_save_link}}',
        error: function(xhr) {
          err_msg = 'Ajax request發生錯誤[{{$tv_save_link}}]:'+xhr+'\n請重試';
          alert(err_msg);
        },
        success: function (rs) {
          rs = JSON.parse(rs);
          var download_info = rs;
          $('#show_info').html(download_info);
          $('#show_info_btn').show();
          return;
        }
      })
    });

    $("#show_info_btn").click(function(){
      location.href = "{{$tv_return_link}}";
    });
  });
</script>
<style>
  .fade.in {
    opacity: 1
  }
</style>
<div class="right-content">
	<div class="page-title clearfix">
    <div class="float-left">
      <h1>案主資料匯入</h1>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">案主管理</a></li>
        <li class="breadcrumb-item"><a href="#">案主資料匯入</a></li>
        <li class="breadcrumb-item active">{{$tv_breadcrumb3}}</li>
      </ol>
    </div>
	  <div class="float-right">
	  <div class="visible-xs"><div class="maT10"></div></div>
    <button class="btn btn-outline-secondary btn-sm" type="button" onclick="history.go(-1);">{{$tv_exit_btn}} <i class="fas fa-undo"></i></button>
    <button class="btn btn-C1 btn-sm" id="save" type="button" data-toggle="modal" data-target=".pop-cf">{{$tv_save_btn}} <i class="far fa-save"></i></button>
	</div>
	</div>
	<!-- container-fluid -->
	<div class="container-fluid">
    <br>
	  <form id="fileupload" action="" method="POST" enctype="multipart/form-data">
      <div class="row fileupload-buttonbar">
        <div class="col-lg-7 maT10">
          <span class="btn btn-success fileinput-button">
            <i class="glyphicon glyphicon-plus fa fa-plus"></i>
            <span>新增檔案</span>
            <input type="file" name="files[]" multiple>
          </span>
          <button type="submit" class="btn btn-primary start">
            <i class="glyphicon glyphicon-upload fas fa-upload"></i>
            <span>全部上傳</span>
          </button>
          <button type="reset" class="btn btn-secondary cancel">
            <i class="glyphicon glyphicon-ban-circle fa fa-ban"></i>
            <span>取消上傳</span>
          </button>
          <button type="button" class="btn btn-danger delete">
            <i class="glyphicon glyphicon-trash fas fa-trash-alt"></i>
            <span>勾選刪除</span>
          </button>
          <input type="checkbox" class="toggle">
          <!-- The global file processing state -->
          <span class="fileupload-process"></span>
        </div>
        <!-- The global progress state -->
        <div class="col-lg-5 fileupload-progress fade">
          <!-- The global progress bar -->
          <div class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100">
            <div class="progress-bar progress-bar-success" style="width:0%;"></div>
          </div>
          <!-- The extended global progress state -->
          <div class="progress-extended">&nbsp;</div>
        </div>
      </div>
      <!-- The table listing the files available for upload/download -->
      <table role="presentation" class="table table-striped"><tbody class="files"></tbody></table>
    </form>
    <br>
    <div class="card card-default">
      <div class="card-header">
        上傳注意事項
      </div>
      <div class="card-body">
        <ul>
          <li>※ 可上傳檔案數量：<span class="font-weight-bold">10</span>。</li>
          <li>※ 檔案大小不可超過：<span class="font-weight-bold">10 MB</span>。</li>
          <li>※ 可使用檔案總管將圖片<span class="font-weight-bold">拖曳</span>至此視窗即可上傳。</li>
          <li>※ 僅接受格式： (<span class="font-weight-bold">HTML、HTM</span>)。</li>
          <li>※ 建議圖片尺寸：<span class="font-weight-bold">600＊600</span>。</li>
        </ul>
      </div>
    </div>
  </div>
  <!-- container-fluid end-->
</div>
<!-- 等待視窗彈出 -->
<div class="modal fade pop-info" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog" role="document">
    <div class="modal-content  modal-C1">
    <div class="modal-body">
      <div class="text-center paT10">
        <h1><i class="fa fa-info-circle mainC2 maB15" aria-hidden="true"> <span id="download_type_str">檔案轉入</span></i><br></h1>
        <span id="show_info"></span>
      </div>
    </div>
   <div class="modal-footer text-center">
     <button type="button" id="show_info_btn" class="btn btn-C1" data-dismiss="modal">關閉</button>
      </div>
    </div>
  </div>
</div>
<!-- 等待視窗彈出 end-->
<!-- The blueimp Gallery widget -->
<div id="blueimp-gallery" class="blueimp-gallery blueimp-gallery-controls" data-filter=":even">
  <div class="slides"></div>
  <h3 class="title"></h3>
  <a class="prev">‹</a>
  <a class="next">›</a>
  <a class="close">×</a>
  <a class="play-pause"></a>
  <ol class="indicator"></ol>
</div>
<!-- The template to display files available for upload -->
<script id="template-upload" type="text/x-tmpl">
{% for (var i=0, file; file=o.files[i]; i++) { %}
    <tr class="template-upload fade">
      <td>
        <span class="preview"></span>
      </td>
      <td>
        <p class="name">{%=file.name%}</p>
        <strong class="error text-danger"></strong>
      </td>
      <td>
        <p class="size">處理中...</p>
        <div class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0"><div class="progress-bar progress-bar-success" style="width:0%;"></div></div>
      </td>
      <td>
        {% if (!i && !o.options.autoUpload) { %}
          <button class="btn btn-primary start" disabled>
            <i class="glyphicon glyphicon-upload fas fa-upload"></i>
            <span>確定上傳</span>
          </button>
        {% } %}
        {% if (!i) { %}
          <button class="btn btn-secondary cancel">
            <i class="glyphicon glyphicon-ban-circle fa fa-ban"></i>
            <span>取消上傳</span>
          </button>
        {% } %}
      </td>
    </tr>
{% } %}
</script>
<!-- The template to display files available for download -->
<script id="template-download" type="text/x-tmpl">
{% for (var i=0, file; file=o.files[i]; i++) { %}
    <tr class="template-download fade">
        <td>
            <p class="name">
              <span>{%=file.name%}</span>
            </p>
            {% if (file.error) { %}
                <div><span class="label label-danger">Error</span> {%=file.error%}</div>
            {% } %}
        </td>
        <td>
            <span class="size">{%=o.formatFileSize(file.size)%}</span>
        </td>
        <td>
            {% if (file.deleteUrl) { %}
                <button class="btn btn-danger delete" data-type="{%=file.deleteType%}" data-url="{%=file.deleteUrl%}"{% if (file.deleteWithCredentials) { %} data-xhr-fields='{"withCredentials":true}'{% } %}>
                    <i class="glyphicon glyphicon-trash fas fa-trash-alt"></i>
                    <span>刪除</span>
                </button>
                <input type="checkbox" name="delete" value="1" class="toggle">
            {% } else { %}
                <button class="btn btn-secondary cancel">
                    <i class="glyphicon glyphicon-ban-circle fa fa-ban"></i>
                    <span>取消</span>
                </button>
            {% } %}
        </td>
    </tr>
{% } %}
</script>
<!-- The jQuery UI widget factory, can be omitted if jQuery UI is already included -->
<script src="{{$tv_pub_url}}/js/up_file/js/vendor/jquery.ui.widget.js"></script>
<!-- The Templates plugin is included to render the upload/download listings -->
<script src="{{$tv_pub_url}}/js/up_file/js/JavaScript-Templates/js/tmpl.min.js"></script>
<!-- The Load Image plugin is included for the preview images and image resizing functionality -->
<script src="{{$tv_pub_url}}/js/up_file/js/JavaScript-Load-Image/js/load-image.all.min.js"></script>
<!-- The Canvas to Blob plugin is included for image resizing functionality -->
<script src="{{$tv_pub_url}}/js/up_file/js/JavaScript-Canvas-to-Blob/js/canvas-to-blob.min.js"></script>
<!-- blueimp Gallery script -->
<script src="{{$tv_pub_url}}/js/up_file/Gallery/js/jquery.blueimp-gallery.min.js"></script>
<!-- The Iframe Transport is required for browsers without support for XHR file uploads -->
<script src="{{$tv_pub_url}}/js/up_file/js/jquery.iframe-transport.js"></script>
<!-- The basic File Upload plugin -->
<script src="{{$tv_pub_url}}/js/up_file/js/jquery.fileupload.js"></script>
<!-- The File Upload processing plugin -->
<script src="{{$tv_pub_url}}/js/up_file/js/jquery.fileupload-process.js"></script>
<!-- The File Upload image preview & resize plugin -->
<script src="{{$tv_pub_url}}/js/up_file/js/jquery.fileupload-image.js"></script>
<!-- The File Upload audio preview plugin -->
<script src="{{$tv_pub_url}}/js/up_file/js/jquery.fileupload-audio.js"></script>
<!-- The File Upload video preview plugin -->
<script src="{{$tv_pub_url}}/js/up_file/js/jquery.fileupload-video.js"></script>
<!-- The File Upload validation plugin -->
<script src="{{$tv_pub_url}}/js/up_file/js/jquery.fileupload-validate.js"></script>
<!-- The File Upload user interface plugin -->
<script src="{{$tv_pub_url}}/js/up_file/js/jquery.fileupload-ui.js"></script>
<!-- The main application script -->
<script src="{{$tv_pub_url}}/js/up_file/js/main.js"></script>
<!-- The XDomainRequest Transport is included for cross-domain file deletion for IE 8 and IE 9 -->
<!--[if (gte IE 8)&(lt IE 10)]>
<script src="{{$tv_pub_url}}/js/up_file/js/cors/jquery.xdr-transport.js"></script>
<![endif]-->
<script type="text/javascript">
  $(function () {
      'use strict';
      // Initialize the jQuery File Upload widget:
      $('#fileupload').fileupload({
          // Uncomment the following to send cross-domain cookies:
          //xhrFields: {withCredentials: true},
          url: '{{$tv_upload_link}}'
      });
  
      // Enable iframe cross-domain access via redirect option:
      $('#fileupload').fileupload(
          'option',
          'redirect',
          window.location.href.replace(
              /\/[^\/]*$/,
              '/cors/result.html?%s'
          )
      );
      // Load existing files:
      $('#fileupload').addClass('fileupload-processing');
      $.ajax({
          // Uncomment the following to send cross-domain cookies:
          //xhrFields: {withCredentials: true},
          url: $('#fileupload').fileupload('option', 'url'),
          dataType: 'json',
          context: $('#fileupload')[0]
      }).always(function () {
          $(this).removeClass('fileupload-processing');
      }).done(function (result) {
          $(this).fileupload('option', 'done')
              .call(this, $.Event('done'), {result: result});
      });
  });
</script>