{{include file="{{$tv_kind}}/meta.html"}}
{{include file="{{$tv_kind}}/header.html"}}
<script>
  $(function(){
  });
</script>
<div class="right-content">
  <div class="page-title clearfix">
    <div class="float-left">
      <h1>家訪紀錄</h1>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">案主管理</a></li>
        <li class="breadcrumb-item"><a href="#">家訪紀錄</a></li>
        <li class="breadcrumb-item active">{{$tv_breadcrumb3}}</li>
      </ol>
    </div>
    <div class="float-right">
      <div class="visible-xs"><div class="maT10"></div></div>
      <button type="button" class="btn btn-light btn-sm" onclick="location.href='{{$tv_upd_link}}{{$tv_home_interview_row->s_num}}';">{{$tv_upd_btn}} <i class="fas fa-pencil-alt"></i></button>
      <button type="button" class="btn btn-light btn-sm" onclick="location.href='{{$tv_add_link}}';">{{$tv_add_btn}} <i class="fas fa-plus"></i></button>
      <button class="btn btn-light btn-sm" type="button" onclick="location.href='{{$tv_return_link}}';">{{$tv_list_btn}} <i class="fas fa-list"></i></button>
    </div>
  </div>
  <!-- container-fluid -->
  <div class="container-fluid">
    <br>
    {{*<div class="float-right">建檔:<span class="mainC1">{{$tv_home_interview_row->b_acc_name|default:''}}({{$tv_home_interview_row->b_date|default:''}})</span>-修改:<span class="mainC1">{{$tv_home_interview_row->e_acc_name|default:''}}({{$tv_home_interview_row->e_date|default:""}})</span></div>*}}
    <div class="table-responsive">
      <table class="table table-bordered table-hover table-sm">
        {{assign var="swidth_left" value="20%"}}
        {{assign var="swidth_right" value="80%"}}
        <tbody>
          <tr class="d-flex">
          	<td width="{{$swidth_left}}" class="table-secondary text-right">訪視時間</td>
          	<td width="{{$swidth_right}}" class="table-light"><span class="text-dark">{{$tv_home_interview_row->hew01|default:''}}</span></td>
          </tr>
          <tr class="d-flex">
            <td width="{{$swidth_left}}" class="table-secondary text-right">區域</td>
            <td width="{{$swidth_right}}" class="table-light">
              <span class="text-dark">
                {{$tv_home_interview_row->ct14|default:''}}
          	</span>
            </td>
          </tr>
          <tr class="d-flex">
          	<td width="{{$swidth_left}}" class="table-secondary text-right">案主名稱</td>
          	<td width="{{$swidth_right}}" class="table-light">
          	  <span class="text-dark">
                  {{$tv_home_interview_row->ct01|default:''}}{{$tv_home_interview_row->ct02|default:''}}
          	  </span>
          	</td>
          </tr>
          <tr class="d-flex">
          	<td width="{{$swidth_left}}" class="table-secondary text-right">到訪者</td>
          	<td width="{{$swidth_right}}" class="table-light"><span class="text-dark">{{$tv_home_interview_row->b_acc_name|default:''}}</span></td>
          </tr>
          <tr class="d-flex">
          	<td width="{{$swidth_left}}" class="table-secondary text-right">檢閱者</td>
          	<td width="{{$swidth_right}}" class="table-light"><span class="text-dark">{{$tv_home_interview_row->sw_chk_name|default:''}}</span></td>
          </tr>
          <tr class="d-flex">
          	<td width="{{$swidth_left}}" class="table-secondary text-right">訪視目的</td>
          	<td width="{{$swidth_right}}" class="table-light">
          	  <span class="text-dark">
          	    {{$tv_home_interview_row->hew10_str|default:''}} {{if $tv_home_interview_row->hew10_memo != NULL}}，{{$tv_home_interview_row->hew10_memo|default:''}} {{/if}}
          	  </span>
          	</td>
          </tr>
          <tr class="d-flex">
            <td width="{{$swidth_left}}" class="table-secondary text-right">生活情形</td>
            <td width="{{$swidth_right}}" class="table-light">
              <span class="text-dark">
                 一、家庭評估：{{$tv_home_interview_row->hew10_1_str|default:''}} {{if $tv_home_interview_row->hew10_1_memo != NULL}}<br/>{{$tv_home_interview_row->hew10_1_memo|nl2br|default:''}} {{/if}}
              </span>
              <div class="maT5"></div>
              <span class="text-dark">
                二、生理狀況：{{$tv_home_interview_row->hew10_2_str|default:''}} {{if $tv_home_interview_row->hew10_2_memo != NULL}}<br/>{{$tv_home_interview_row->hew10_2_memo|nl2br|default:''}} {{/if}}
              </span>
              <div class="maT5"></div>
              <span class="text-dark">
                三、心理評估：{{$tv_home_interview_row->hew10_3_str|default:''}} {{if $tv_home_interview_row->hew10_3_memo != NULL}}<br/>{{$tv_home_interview_row->hew10_3_memo|nl2br|default:''}} {{/if}}
              </span>
              <div class="maT5"></div>
              <span class="text-dark">
                四、社會評估：{{$tv_home_interview_row->hew10_4_str|default:''}} {{if $tv_home_interview_row->hew10_4_memo != NULL}}<br/>{{$tv_home_interview_row->hew10_4_memo|nl2br|default:''}} {{/if}}
              </span>
              <div class="maT5"></div>
              {{*
              <span class="text-dark">
                五、經濟：{{$tv_home_interview_row->hew10_5_str|default:''}} {{if $tv_home_interview_row->hew10_5_memo != NULL}}<br/>{{$tv_home_interview_row->hew10_5_memo|nl2br|default:''}} {{/if}}
              </span>
              *}}
              <div class="maT5"></div>
              <span class="text-dark">
                五、環境評估：{{$tv_home_interview_row->hew10_6_str|default:''}} {{if $tv_home_interview_row->hew10_6_memo != NULL}}<br/>{{$tv_home_interview_row->hew10_6_memo|nl2br|default:''}} {{/if}}
              </span>
            </td>
          </tr>
          <tr class='d-flex'>
            <td width='{{$swidth_left}}' class='table-secondary text-right'>送餐服務滿意度</td>
            <td width='{{$swidth_right}}' class='table-light'>
              <span class="text-dark">
                一、服務態度：{{$tv_home_interview_row->hew20_str|default:''}}
              </span>
              <div class="maT5"></div>
              <span class="text-dark">
                二、是否準時送達：{{$tv_home_interview_row->hew21_str|default:''}}
              </span>
              <div class="maT5"></div>
              <span class="text-dark">
                三、餐盒衛生：{{$tv_home_interview_row->hew22_str|default:''}}
              </span>
              <div class="maT5"></div>
              <span class="text-dark">
                四、餐盒滿意度：{{$tv_home_interview_row->hew23_str|default:''}}
              </span>
              <div class="maT5"></div>
              <span class="text-dark">
                五、機構服務態度：{{$tv_home_interview_row->hew24_str|default:''}}
              </span>
            </td>
          </tr>
          {{*
          <tr class="d-flex">
            <td width="{{$swidth_left}}" class="table-secondary text-right">評估摘要</td>
            <td width="{{$swidth_right}}" class="table-light"><span class="text-dark">{{$tv_home_interview_row->hew30|default:''}}</span></td>
          </tr>
          *}}
          <tr class="d-flex">
            <td width='{{$swidth_left}}' class='table-secondary text-right'>評估與處遇</td>
            <td width="{{$swidth_right}}" class="table-light"><span class="text-dark">{{$tv_home_interview_row->hew31|default:''}}</span></td>
          </tr>
          <tr class="d-flex">
            <td width="{{$swidth_left}}" class="table-secondary text-right">其他說明</td>
            <td width="{{$swidth_right}}" class="table-light"><span class="text-dark">{{$tv_home_interview_row->hew32|default:''}}</span></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <!-- container-fluid end-->
</div>