{{include file="{{$tv_kind}}/meta.html"}}
{{include file="{{$tv_kind}}/header.html"}}
<script>
  $(function(){
    $('.fd_que').click(function(){
      $('#que_kind').val('que');
    });
    $('#f_search').click(function(){
      $('#que_str').val($("#f_que").val());
      $('#fd_que_input').submit();
    });
    $("#f_que").keypress(function(event) {
      if( event.which == 13 ) {
        $('#que_str').val($(this).val());
        $('#f_search').click();
      }
    });
    $(".que_enter").keypress(function(event) {
      if( event.which == 13 ) {
        $('#fd_que_input').submit();
      }
    });
    $("#btn_que").click(function(){
      $('#fd_que_input').submit();
      return;
    });
    $('#btn_que_close').click(function(){
      $("#btn_que_reset").click(); // 清除查詢資料
      $('.pop-que').modal("hide");
    })
    
    $(document).on("click", ".del", function () {
      var s_num = $(this).data('s_num');
      $(".modal-footer #f_del_s_num").val(s_num);
    });

    $("#del").click(function(){
      var err_msg = '';
      var s_num = $(".modal-footer #f_del_s_num").val();
      $.ajax({
        type:'post',
        url: '{{$tv_del_link}}',
        data: {s_num:s_num},
        error: function(xhr) {
          err_msg = 'Ajax request發生錯誤[{{$tv_del_link}}]:'+xhr+'\n請重試';
          alert(err_msg);
        },
        success: function (rs) {
          if(rs=='ok') {
            alert("{{$tv_del_ok}}");
            location.replace("{{$tv_del_return_link}}");
          }
          else {
            alert("{{$tv_del_ng}}");
            //alert(rs);
          }
        }
      })
      return;
    });
    $("input[name^='is_available']").click(function(){
      var s_num = $(this).data('s_num');
      if($(this).prop("checked")) { // 打勾
        var is_available = 1;
        var old_is_flag = false;
      }
      else {
        var is_available = 0;
        var old_is_flag = true;
      }
      $.ajax({
        type:'post',
        url: '{{$tv_save_link}}upd_is_available',
        data: {f_kind:'upd_is_available',f_s_num:s_num,f_is_available:is_available},
        error: function(xhr) {
          strMsg += 'Ajax request發生錯誤[{{$tv_save_link}}]upd_is_available:'+xhr+'\n請重試';
        },
        success: function (rs) {
          if(rs=='ok') {
          }
          else {
            alert("{{$tv_upd_ng}}");
            $('#is_available_'+s_num).prop('checked',old_is_flag);
            //alert(rs);
          }
        }
      })
    });
    $(".fd_order").click(function(){
      // 處理網址參數 Begin //
      var geturlstring = location.href;
      var url = new URL(geturlstring);
      for (let pair of url.searchParams.entries()) {
        var fd_name = pair[0];
        var fd_val = pair[1];
        $('#'+fd_name).val(fd_val); // 把目前的欄位值都寫入
      }
      // 處理網址參數 End //
      
      $('#que_kind').val('order');
      var fd_name = $(this).data('fd_name');
      var order_kind = $(this).data('order_kind');
      if('asc'==order_kind) {
        $(this).data('order_kind','desc');
        //$('#icon_'+fd_name).html('<i class="fas fa-sort-down"></i>');
        order_kind = 'desc';
      }
      else {
        $(this).data('order_kind','asc');
        //$('#icon_'+fd_name).html('<i class="fas fa-sort-up"></i>');
        order_kind = 'asc';
      }
      //order_kind = $(this).data('order_kind');
      $('#que_order_fd_name').val(fd_name);
      $('#que_order_kind').val(order_kind);
      //console.log(fd_name);
      //console.log(order_kind);
      $('#fd_que_input').submit();
    });
    //console.log('{{$tv_que_order_fd_name}}');
    {{if '' != $tv_que_order_fd_name}}
      if('asc'=='{{$tv_que_order_kind}}') {
        $('#icon_'+'{{$tv_que_order_fd_name}}').html('<i class="fas fa-sort-up"></i>');
        $('#{{$tv_que_order_fd_name}}').data('order_kind','asc');
        $('#fd_'+'{{$tv_que_order_fd_name}}').data('order_kind','asc');
      }
      else {
        $('#icon_'+'{{$tv_que_order_fd_name}}').html('<i class="fas fa-sort-down"></i>');
        $('#{{$tv_que_order_fd_name}}').data('order_kind','desc');
        $('#fd_'+'{{$tv_que_order_fd_name}}').data('order_kind','desc');
      }
      $('#que_order_fd_name').val('{{$tv_que_order_fd_name}}');
      $('#que_order_kind').val('{{$tv_que_order_kind}}');
      //console.log($('#que_order_fd_name').val());
      //console.log($('#que_order_kind').val());
    {{/if}}
    $('#que_str').val('{{$tv_que_str}}');
  });
</script>
<div class="right-content">
  <div class="page-title clearfix">
    <div class="float-left">
      <h1>{{$tv_cur_breadcrumb|default:''}}</h1>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">{{$tv_prev_breadcrumb|default:''}}</a></li>
        <li class="breadcrumb-item"><a href="#">{{$tv_cur_breadcrumb|default:''}}</a></li>
        <li class="breadcrumb-item active">{{$tv_breadcrumb3}}</li>
      </ol>
    </div>
    <div class="float-right">
      <div class="visible-xs"><div class="maT10"></div></div>
      <button type="button" class="btn btn-light btn-sm" onclick="location.href='{{$tv_add_link}}';">{{$tv_add_btn}} <i class="fas fa-plus"></i></button>
      <button type="button" class="btn btn-light btn-sm" onclick="location.href='{{$tv_return_link}}';">{{$tv_list_btn}} <i class="fas fa-list"></i></button>
      <button type="button" class="btn btn-light btn-sm fd_que" data-toggle="modal"  data-backdrop='static' data-keyboard="false" data-target=".pop-que">{{$tv_que_btn}} <i class="fas fa-search"></i></button>
    </div>
  </div>
  <div class="container-fluid">
    <!-- 表格區塊 Begin-->
    <div class="white-wrapper">
      <!-- 篩選＆搜尋表格 Begin -->
      <div class="table-filter">
        <div class="row">
          <div class="col-6 col-sm-4 col-md-4 col-lg-4 col-xl-3 ml-3">
            <div class="row">
              <div class="input-group">
                <input type="text" id="f_que" name="f_que" class="form-control form-control-sm" placeholder="請輸入搜尋內容" value="{{$tv_f_que}}">
                <div class="input-group-prepend">
                  <button id="f_search" name="f_search" class="btn btn-C1 btn-sm ml-1" type="button">{{$tv_que_btn}}</button>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12">
            <p class="text-right">Total: {{$tv_total_rows|number_format|default:''}}</p>
          </div>
        </div>
      </div>
      <!-- 篩選＆搜尋表格 End -->
      <div class="table-responsive">
        <table class="table table-bordered table-striped table-hover table-sm">
          <thead>
            <tr class="thead-light">
              <th class="text-nowrap"><span id="fd_msf01" class="fd_order cursorpointer" data-fd_name="msf01" data-order_kind="">類型</span><span id="icon_msf01"><i class="fas fa-sort"></i></span></th><!--1-->
              <th class="text-nowrap"><span id="fd_msf02" class="fd_order cursorpointer" data-fd_name="msf02" data-order_kind="">年度</span><span id="icon_msf02"><i class="fas fa-sort"></i></span></th><!--2-->
              <th class="text-nowrap"><span id="fd_msf11_meal" class="fd_order cursorpointer" data-fd_name="msf11_meal" data-order_kind="">一餐費用</span><span id="icon_msf11_meal"><i class="fas fa-sort"></i></span></th><!--3-->
              <th class="text-nowrap"><span id="fd_msf11_mp" class="fd_order cursorpointer" data-fd_name="msf11_mp" data-order_kind="">一餐代餐費用</span><span id="icon_msf11_mp"><i class="fas fa-sort"></i></span></th><!--4-->
              <th class="text-nowrap"><span id="fd_msf12_meal" class="fd_order cursorpointer" data-fd_name="msf12_meal" data-order_kind="">午晚分費用</span><span id="icon_msf12_meal"><i class="fas fa-sort"></i></span></th><!--5-->
              <th class="text-nowrap"><span id="fd_msf12_mp" class="fd_order cursorpointer" data-fd_name="msf12_mp" data-order_kind="">午晚分代餐費用</span><span id="icon_msf12_mp"><i class="fas fa-sort"></i></span></th><!--6-->
              <th class="text-nowrap"><span id="fd_msf13_meal" class="fd_order cursorpointer" data-fd_name="msf13_meal" data-order_kind="">午晚併費用</span><span id="icon_msf13_meal"><i class="fas fa-sort"></i></span></th><!--7-->
              <th class="text-nowrap"><span id="fd_msf13_mp" class="fd_order cursorpointer" data-fd_name="msf13_mp" data-order_kind="">午晚併代餐費用</span><span id="icon_msf13_mp"><i class="fas fa-sort"></i></span></th><!--8-->
              <th>是否啟用</th>
              <th class="text-left"></th>
            </tr>
          </thead>
          <tbody>
            {{foreach from=$tv_meal_service_fee_row key=k item=v}}
              <tr>
                <td class="text-left"><a href="{{$tv_disp_link}}{{$v.s_num}}" class="text-dark">{{$v.msf01_str|default:''}}</a></td><!--1.類型-OPT(1=低收(免自付)；2=中低收/專案(自付8元))-->
                <td class="text-left"><a href="{{$tv_disp_link}}{{$v.s_num}}" class="text-dark">{{$v.msf02|default:''}}</a></td><!--2.年度-MEMO(西元-YYYY)-->
                <td class="text-left"><a href="{{$tv_disp_link}}{{$v.s_num}}" class="text-dark">{{$v.msf11_meal|default:''}}</a></td><!--3.一餐費用-->
                <td class="text-left"><a href="{{$tv_disp_link}}{{$v.s_num}}" class="text-dark">{{$v.msf11_mp|default:''}}</a></td><!--4.一餐代餐費用-->
                <td class="text-left"><a href="{{$tv_disp_link}}{{$v.s_num}}" class="text-dark">{{$v.msf12_meal|default:''}}</a></td><!--5.午晚分費用-->
                <td class="text-left"><a href="{{$tv_disp_link}}{{$v.s_num}}" class="text-dark">{{$v.msf12_mp|default:''}}</a></td><!--6.午晚分代餐費用-->
                <td class="text-left"><a href="{{$tv_disp_link}}{{$v.s_num}}" class="text-dark">{{$v.msf13_meal|default:''}}</a></td><!--7.午晚併費用-->
                <td class="text-left"><a href="{{$tv_disp_link}}{{$v.s_num}}" class="text-dark">{{$v.msf13_mp|default:''}}</a></td><!--8.午晚併代餐費用-->
                <td>
                  <div class="switch">
                    <input class="cmn-toggle cmn-toggle-round" type="checkbox" id="is_available_{{$v.s_num}}" name="is_available" data-s_num="{{$v.s_num}}" {{if $v.is_available==1}} checked {{/if}}>
                    <label for="is_available_{{$v.s_num}}"></label>
                  </div>
                </td>
                <td class="text-right">
                  {{*<button type="button" class="btn btn-info btn-sm" onclick="location.href='{{$tv_disp_link}}{{$v.s_num}}';">{{$tv_disp_btn}}</button>*}}
                  <button type="button" class="btn btn-C4 btn-sm" onclick="location.href='{{$tv_upd_link}}{{$v.s_num}}';">{{$tv_upd_btn}}</button>
                  <button type="button" class="btn btn-C1 btn-sm" onclick="location.href='{{$tv_cpy_link}}{{$v.s_num}}';">{{$tv_cpy_btn}}</button>
                  <button type="button" class="btn btn-C2 btn-sm del" data-s_num="{{$v.s_num}}" data-toggle="modal" data-backdrop='static' data-keyboard="false" data-target=".pop-del">{{$tv_del_btn}}</button>
                </td>
              </tr>
            {{foreachelse}}
            <tr>
              <td colspan="99" class="alert alert-warning">
                  查無資料!!!
              </td>
            </tr>
            {{/foreach}}
          </tbody>
        </table>
      </div>
      <!-- 頁籤 Begin -->
      <ul class="pagination justify-content-center pagination-sm" style="margin:20px 0">
        {{$tv_pg_link|default:''}}
      </ul>
      <!-- 頁籤 End -->
    </div>
    <!-- 表格區塊 End -->
  </div>
  <!-- 刪除確認彈出 Begin -->
  <div class="modal fade pop-del" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
    <div class="modal-dialog  modal-sm" role="document">
      <div class="modal-content  modal-C1 ">
        <div class="text-center paTB20">
          <h1><i class="fa fa-info-circle mainC2 maB10" aria-hidden="true"></i><br></h1>
          真的要刪除此餐食服務費補助設定資料嗎？
        </div>
        <div class="modal-footer text-center">
          <input type="hidden" id='f_del_s_num' value="">
          <button type="button" class="btn btn-C1-line" data-dismiss="modal">取消</button>
          <button type="button" id="del" class="btn btn-C1" data-dismiss="modal">確定</button>
        </div>
      </div>
    </div>
  </div>
  <!-- 刪除確認彈出 End -->
  <!-- 查詢2彈出 Begin-->
  <div class="modal fade pop-que" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
    <div class="modal-dialog  modal-lg" role="document">
      <div class="modal-content modal-C1 ">
        <form class="maT20" action="{{$tv_que_link}}" id="fd_que_input" name="fd_que_input" method="GET" enctype="multipart/form-data">
          <input type='hidden' id='que_kind' name='que_kind' class='form-control form-control-sm que_enter' value='que'>
          <input type='hidden' id='que_order_fd_name' name='que_order_fd_name' class='form-control form-control-sm que_enter' placeholder='請輸入排序' value=''>
          <input type='hidden' id='que_order_kind' name='que_order_kind' class='form-control form-control-sm que_enter' placeholder='請輸入排序' value=''>
          <div class="text-center paTB20">
            {{*<h1><i class="far fa-keyboard" aria-hidden="true"></i><br></h1>*}}
            <h2>請輸入查詢條件</h2>
          </div>
          <div class="modal-body text-left">
            <table class="table xtable-bordered table-hover table-sm">
              {{assign var="swidth_left" value="col-3"}}
              {{assign var="swidth_right" value="col-9"}}
              <tbody>
                <tr class='d-flex'>
                  <td class='{{$swidth_left}} table-secondary text-right'>類型</td>
                  <td class='{{$swidth_right}} table-light'>
                    <span class='form-group'>
                      <div class='input-group input-group-sm'>
                        <select id='que_msf01' name='que_msf01' class='col-7 form-control form-control-sm' required>
                          <option value=''>-請選擇-</option>
                          <option value='1'>低收(免自付</option>
                          <option value='2'>中低收/專案(自付8元</option>
                        </select>
                        <div class='input-group-append'>
                          <span id='helpBlock_que_msf01' class='help-block ml-2'></span>
                        </div>
                      </div>
                      <div class='help-block with-errors'></div>
                    </span>
                  </td>
                </tr>
                <tr class='d-flex'>
                  <td class='{{$swidth_left}} table-secondary text-right'>年度</td>
                  <td class='{{$swidth_right}} table-light'>
                    <span class='form-group'>
                      <div class='input-group input-group-sm'>
                        <input type='text' id='que_msf02' name='que_msf02' class='col-7 form-control form-control-sm que_enter ' placeholder='請輸入年度-MEMO(西元-YYYY)' value=''>
                        <div class='input-group-append'>
                          <span id='helpBlock_que_msf02' class='help-block ml-2'></span>
                        </div>
                      </div>
                      <div class='help-block with-errors'></div>
                    </span>
                  </td>
                </tr>

                <tr class='d-flex'>
                  <td class='{{$swidth_left}} table-secondary text-right'>全文檢索</td>
                  <td class='{{$swidth_right}} table-light'>
                    <span class='form-group'>
                      <span class='input-group input-group-sm'>
                        <input type='text' id='que_str' name='que_str' class='col-7 form-control form-control-sm que_enter' placeholder='' value=''>
                        <div class="input-group-append">
                          <span id='helpBlock_que_str' class='help-block ml-2'>(所有欄位搜尋)</span>
                        </div>
                      </span>
                    </span>
                  </td>
                </tr>
              </tbody>
              <tfoot>
                <tr class='d-flex'>
                  <td class='{{$swidth_left}}'></td>
                  <td class='{{$swidth_right}} table-light'>
                    <button type="button" id="btn_que" class="btn btn-C1 col-3" data-dismiss="modal">確定 <i class="far fa-check-circle"></i></button>
                    <button id="btn_que_reset" type="reset" class="btn btn-C1-line col-3">清除 <i class="fas fa-eraser"></i></button>
                    <button type="button" id="btn_que_close" class="btn btn-C1-line col-3">關閉 <i class="far fa-times-circle"></i></button>
                  </td>
                </tr>
              </tfoot>
            </table>
          </div>
        </form>
      </div>
    </div>
  </div>
  <!-- 查詢2彈出 End-->
</div>