{{include file="{{$tv_kind}}/meta.html"}}
{{include file="{{$tv_kind}}/header.html"}}
<link rel="stylesheet" href="{{$tv_pub_url}}/bootstrap-select/css/bootstrap-select.min.css">
<script src="{{$tv_pub_url}}/bootstrap-select/js/bootstrap-select.min.js"></script>
</style>
<script>
  $(function(){
    $('.fd_que').click(function(){
      $('#que_kind').val('que');
    });
    $('#f_search').click(function(){
      $('#que_str').val($("#f_que").val());
      $('#fd_que_input').submit();
    });
    $("#f_que").keypress(function(event) {
      if( event.which == 13 ) {
        $('#que_str').val($(this).val());
        $('#f_search').click();
      }
    });
    $(".que_enter").keypress(function(event) {
      if( event.which == 13 ) {
        $('#fd_que_input').submit();
      }
    });
    $("#btn_que").click(function(){
      $('#fd_que_input').submit();
      return;
    });
    $('#btn_que_close').click(function(){
      $("#btn_que_reset").click(); // 清除查詢資料
      $('.pop-que').modal("hide");
    })
    
    $(document).on("click", ".del", function () {
      var s_num = $(this).data('s_num');
      $(".modal-footer #f_del_s_num").val(s_num);
    });

    $("#del").click(function(){
      var err_msg = '';
      var s_num = $(".modal-footer #f_del_s_num").val();
      $.ajax({
        type:'post',
        url: '{{$tv_del_link}}',
        data: {s_num:s_num},
        error: function(xhr) {
          err_msg = 'Ajax request發生錯誤[{{$tv_del_link}}]:'+xhr+'\n請重試';
          alert(err_msg);
        },
        success: function (rs) {
          if(rs=='ok') {
            alert("{{$tv_del_ok}}");
            location.replace("{{$tv_return_link}}");
          }
          else {
            alert("{{$tv_del_ng}}");
            //alert(rs);
          }
        }
      })
      return;
    });
    $("input[name^='is_available']").click(function(){
      var s_num = $(this).data('s_num');
      if($(this).prop("checked")) { // 打勾
        var is_available = 1;
        var old_is_flag = false;
      }
      else {
        var is_available = 0;
        var old_is_flag = true;
      }
      $.ajax({
        type:'post',
        url: '{{$tv_save_link}}upd_is_available',
        data: {f_kind:'upd_is_available',f_s_num:s_num,f_is_available:is_available},
        error: function(xhr) {
          strMsg += 'Ajax request發生錯誤[{{$tv_save_link}}]upd_is_available:'+xhr+'\n請重試';
        },
        success: function (rs) {
          if(rs=='ok') {
          }
          else {
            alert("{{$tv_upd_ng}}");
            $('#is_available_'+s_num).prop('checked',old_is_flag);
            //alert(rs);
          }
        }
      })
    });
    $(".fd_order").click(function(){
      $('#que_kind').val('order');
      var fd_name = $(this).data('fd_name');
      var order_kind = $(this).data('order_kind');
      if('asc'==order_kind) {
        $(this).data('order_kind','desc');
        //$('#icon_'+fd_name).html('<i class="fas fa-sort-down"></i>');
        order_kind = 'desc';
      }
      else {
        $(this).data('order_kind','asc');
        //$('#icon_'+fd_name).html('<i class="fas fa-sort-up"></i>');
        order_kind = 'asc';
      }
      //order_kind = $(this).data('order_kind');
      $('#que_order_fd_name').val(fd_name);
      $('#que_order_kind').val(order_kind);
      //console.log(fd_name);
      //console.log(order_kind);
      $('#fd_que_input').submit();
    });
    //console.log('{{$tv_que_order_fd_name}}');
    {{if '' != $tv_que_order_fd_name}}
      if('asc'=='{{$tv_que_order_kind}}') {
        $('#icon_'+'{{$tv_que_order_fd_name}}').html('<i class="fas fa-sort-up"></i>');
        $('#{{$tv_que_order_fd_name}}').data('order_kind','asc');
        $('#fd_'+'{{$tv_que_order_fd_name}}').data('order_kind','asc');
      }
      else {
        $('#icon_'+'{{$tv_que_order_fd_name}}').html('<i class="fas fa-sort-down"></i>');
        $('#{{$tv_que_order_fd_name}}').data('order_kind','desc');
        $('#fd_'+'{{$tv_que_order_fd_name}}').data('order_kind','desc');
      }
      $('#que_order_fd_name').val('{{$tv_que_order_fd_name}}');
      $('#que_order_kind').val('{{$tv_que_order_kind}}');
      //console.log($('#que_order_fd_name').val());
      //console.log($('#que_order_kind').val());
    {{/if}}
    $('#que_str').val('{{$tv_que_str}}');
    $('#que_type').val('{{$tv_que_type|default:''}}');
    $('#que_mil01_start').val('{{$tv_que_mil01_start|default:''}}');
    $('#que_mil01_end').val('{{$tv_que_mil01_end|default:''}}');
    
    {{*stop開窗處理 Begin*}}
    $("#que_data_input").keypress(function(event) {
      if( event.which == 13 ) {
        $("#stop_btn_que").click();
      }
    });
    $("#stop_btn_que").click(function(){
      var progress = '<tr>';
          progress += '<td colspan="5">';
          progress += '<div class="progress">';
          progress += '<div class="progress-bar progress-bar-striped progress-bar-animated bg-info" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%"></div>';
          progress += '</div>';
          progress += '</td>';
          progress += '</tr>';
      $('#table_result').html(progress);
      if($('#que_mil01_stop_start').val()==''
         && $('#que_mil01_stop_end').val()==''
      ) {
        alert('至少輸入一個條件');
        $('#table_result').html('');
        return;
      }
      $.ajax({
        type:'post',
        url: '{{$tv_que_data_link}}',
        data: $("#que_data_input").serialize(),
        error: function(xhr) {
          err_msg = 'Ajax request發生錯誤[{{$tv_que_data_link}}]:'+xhr+'\n請重試';
          alert(err_msg);
        },
        success: function (rs) {
          $('#table_result').html(rs);
        }
      })
      return;
    });
    {{*stop開窗處理 End*}}
    $('#stop_btn_que_close').click(function(){
      $("#stop_btn_que_reset").click(); // 清除查詢資料
      $('#body_stop_list').html('');
      $('.pop-que_data').modal("hide");
    })
    $('#que_mil02_type').selectpicker({deselectAllText: '取消全選', selectAllText: '選擇全部'});
    $('#que_mil02_type').on('changed.bs.select', function() {
      var que_mil02_str = $(this).val().join(',');
      $('#que_mil02').val(que_mil02_str);
    });
  });
</script>
<div class="right-content">
  <div class="page-title clearfix">
    <div class="float-left">
      <h1>餐食異動</h1>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">開案服務管理</a></li>
        <li class="breadcrumb-item"><a href="#">餐食異動</a></li>
        <li class="breadcrumb-item active">{{$tv_breadcrumb3}}</li>
      </ol>
    </div>
    <div class="float-right">
      <div class="visible-xs"><div class="maT10"></div></div>
      <button type="button" class="btn btn-light btn-sm fd_stop" data-toggle="modal" data-target=".pop-que_data">數據查詢 <i class="fas fa-poll"></i></button>
      <button type="button" class="btn btn-light btn-sm" onclick="location.href='{{$tv_add_link}}';">{{$tv_add_btn}} <i class="fas fa-plus"></i></button>
      <button type="button" class="btn btn-light btn-sm" onclick="location.href='{{$tv_return_link}}';">{{$tv_list_btn}} <i class="fas fa-list"></i></button>
      <button type="button" class="btn btn-light btn-sm fd_que" data-toggle="modal" data-target=".pop-que">{{$tv_que_btn}} <i class="fas fa-search"></i></button>
    </div>
  </div>
  <div class="container-fluid">
    <!-- 表格區塊 -->
    <div class="white-wrapper">
      <!-- 篩選＆搜尋表格 -->
      <div class="table-filter">
        <div class="row">
          <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 ml-3">
            <div class="row">
              <div class="input-group input-group-sm">
                <input type="text" id="f_que" name="f_que" class="col-2 form-control form-control-sm" placeholder="請輸入搜尋內容" value="{{$tv_f_que}}">
                <div class="input-group-prepend">
                  <button id="f_search" name="f_search" class="btn btn-C1 btn-sm ml-1" type="button">{{$tv_que_btn}}</button>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12">
            <p class="text-right">Total: {{$tv_total_rows|number_format|default:''}}</p>
          </div>
        </div>
      </div>
      <!-- 篩選＆搜尋表格 -->
      <div class="table-responsive">
        <table class="table table-bordered table-striped table-hover table-sm">
          <thead>
            <tr class="thead-light">
              <th class="text-nowrap"><span id="fd_s_num" class="fd_order cursorpointer" data-fd_name="s_num" data-order_kind="">序</span><span id="icon_s_num"><i class="fas fa-sort"></i></span></th><!--4-->
              <th class="text-nowrap" style="width:12.5%"><span id="fd_b_date" class="fd_order cursorpointer" data-fd_name="b_date" data-order_kind="">登打時間</span><span id="icon_b_date"><i class="fas fa-sort"></i></span></th><!--4-->
              <th class="text-nowrap" style="width:05%"><span id="fd_ct_name" class="fd_order cursorpointer" data-fd_name="ct_name" data-order_kind="">案主姓名</span><span id="icon_ct_name"><i class="fas fa-sort"></i></span></th><!--4-->
              <th class="text-nowrap" style="width:18%"><span id="fd_ml_ml01" class="fd_order cursorpointer" data-fd_name="sec01" data-order_kind="">服務現況</span><span id="icon_ml_ml01"><i class="fas fa-sort"></i></span></th><!--6-->
              <th class="text-nowrap"><span id="fd_mil01" class="fd_order cursorpointer" data-fd_name="mil01" data-order_kind="">生效日期</span><span id="icon_mil01"><i class="fas fa-sort"></i></span></th><!--7-->
              <th class="text-nowrap" style="width:25%"><span id="fd_mil02" class="fd_order cursorpointer" data-fd_name="mil02" data-order_kind="">異動項目</span><span id="icon_mil02"><i class="fas fa-sort"></i></span></th><!--7-->
              <th class="text-nowrap"><span id="fd_mil03" class="fd_order cursorpointer" data-fd_name="mil03" data-order_kind="">審核狀況</span><span id="icon_mil03"><i class="fas fa-sort"></i></span></th><!--11-->
              <th class="text-left" style="width:20%"></th>
            </tr>
          </thead>
          <tbody>
            {{foreach from=$tv_meal_instruction_log_h_row key=k item=v}}
              <tr>
                <td class="text-left"><a href="{{$tv_disp_link}}{{$v.s_num}}" class="text-dark">{{$v.s_num|default:''}}</a></td><!--序-->
                <td class="text-left"><a href="{{$tv_disp_link}}{{$v.s_num}}" class="text-dark">{{$v.b_date|default:''}}</a></td><!--登打時間-->
                <td class="text-left"><a href="{{$tv_disp_link}}{{$v.s_num}}" class="text-dark">{{$v.ct01|default:''}}{{$v.ct02|default:''}}</a></td><!--案主姓名-->
                <td class="text-left"><a href="{{$tv_disp_link}}{{$v.s_num}}" class="text-dark">{{$v.sec01_str|default:''}}-{{$v.sec04_str|default:''}}{{if $v.sec01 == '3'}}({{$v.sec99|strip_tags|trim|default:''}}){{/if}}</a></td><!--服務名稱-->
                <td class="text-left"><a href="{{$tv_disp_link}}{{$v.s_num}}" class="text-dark">{{$v.mil01|default:''|date_format:'%Y-%m-%d'}}</a></td><!--1.指令生效開始日期-->
                <td class="text-left"><a href="{{$tv_disp_link}}{{$v.s_num}}" class="text-dark">{{$v.mil02_str|default:''}}</a></td><!--2.異動類型-->
                <td class="text-left"><a href="{{$tv_disp_link}}{{$v.s_num}}" class="text-dark">{{$v.mil03_str|default:''}}</a></td><!--3.Y=審核通過;N=審核未過-->
                <td align='right'>
                  <button type="button" class="btn btn-info btn-sm" onclick="location.href='{{$tv_disp_link}}{{$v.s_num}}';">{{$tv_disp_btn}}</button>
                  <button type="button" class="btn btn-C4 btn-sm" onclick="location.href='{{$tv_upd_link}}{{$v.s_num}}';" {{if $v.mil03 == "Y"}} disabled {{/if}}>{{$tv_upd_btn}}</button>
                  <button type="button" class="btn btn-C2 btn-sm del" data-s_num="{{$v.s_num}}" data-toggle="modal" data-target=".pop-container" {{if $v.mil03 == "Y"}} disabled {{/if}}>{{$tv_del_btn}}</button>
                  {{if $tv_acc_kind == "M" or $tv_group_s_num == 12}}
                    <button type="button" class="btn btn-danger btn-sm del" data-s_num="{{$v.s_num}}" data-toggle="modal" data-target=".pop-container">管理者刪除</button>
                  {{/if}}
                </td>
              </tr>
            {{foreachelse}}
            <tr>
              <td colspan="99" class="alert alert-warning">
                  查無資料!!!
              </td>
            </tr>
            {{/foreach}}
          </tbody>
        </table>
      </div>
      <!-- 頁籤 -->
      <ul class="pagination justify-content-center pagination-sm" style="margin:20px 0">
        {{$tv_pg_link|default:''}}
      </ul>
      <!-- 頁籤 end-->
    </div>
    <!-- 表格區塊 end-->
  </div>
  <!-- 刪除確認彈出 -->
  <div class="modal fade pop-container" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
    <div class="modal-dialog  modal-sm" role="document">
      <div class="modal-content  modal-C1 ">
        <div class="text-center paTB20">
          <h1><i class="fa fa-info-circle mainC2 maB10" aria-hidden="true"></i><br></h1>
          真的要刪除此異動資料資料嗎？
        </div>
        <div class="modal-footer text-center">
          <input type="hidden" id='f_del_s_num' value="">
          <button type="button" class="btn btn-C1-line" data-dismiss="modal">取消</button>
          <button type="button" id="del" class="btn btn-C1" data-dismiss="modal">確定</button>
        </div>
      </div>
    </div>
  </div>
  <!-- 刪除確認彈出 end-->
  <!-- 查詢2彈出 -->
  <div class="modal fade pop-que" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
    <div class="modal-dialog  modal-lg" role="document">
      <div class="modal-content modal-C1 ">
        <form class="maT20" action="{{$tv_que_link}}" id="fd_que_input" name="fd_que_input" method="GET" enctype="multipart/form-data">
          <input type='hidden' id='que_kind' name='que_kind' class='form-control form-control-sm que_enter' value='que'>
          <input type='hidden' id='que_order_fd_name' name='que_order_fd_name' class='form-control form-control-sm que_enter' placeholder='請輸入排序' value=''>
          <input type='hidden' id='que_order_kind' name='que_order_kind' class='form-control form-control-sm que_enter' placeholder='請輸入排序' value=''>
          <div class="text-center paTB20">
            {{*<h1><i class="far fa-keyboard" aria-hidden="true"></i><br></h1>*}}
            <h2>請輸入查詢條件</h2>
          </div>
          <div class="modal-body text-left">
            <table class="table xtable-bordered table-hover table-sm">
              {{assign var="swidth_left" value="col-3"}}
              {{assign var="swidth_right" value="col-9"}}
              <tbody>
                <tr class='d-flex'>
                  <td class='{{$swidth_left}} table-secondary text-right'>案主姓名</td>
                  <td class='{{$swidth_right}} table-light'>
                    <span class='form-group'>
                      <div class='input-group input-group-sm'>
                        <input type='text' id='que_ct_name' name='que_ct_name' class='col-7 form-control form-control-sm que_enter ' placeholder='請輸入案主姓名' value=''>
                        <div class='input-group-append'>
                          <span id='helpBlock_que_ct_name' class='help-block ml-2'></span>
                        </div>
                      </div>
                      <div class='help-block with-errors'></div>
                    </span>
                  </td>
                </tr>
                <tr class='d-flex'>
                  <td class='{{$swidth_left}} table-secondary text-right'>服務現況</td>
                  <td class='{{$swidth_right}} table-light'>
                    <span class='form-group'>
                      <select id='que_sec01' name="que_sec01" class='col-7 form-control form-control-sm'>
                        <option value='' selected>-請選擇-</option>
                        <option value='1'>長照案</option>
                        <option value='2'>特殊-老案</option>
                        <option value='3'>自費戶</option>
                        <option value='4'>邊緣戶</option>
                        <option value='5'>身障案</option>
                        <option value='6'>特殊-身案</option>
                        <option value='7'>志工</option>
                        <option value='8'>獨老案</option>
                      </select>
                      <span id='helpBlock_que_sec01' class='help-block'></span>
                      <div class='help-block with-errors'></div>
                    </span>
                  </td>
                </tr>
                <tr class='d-flex'>
                  <td class='{{$swidth_left}} table-secondary text-right'>查詢類型</td>
                  <td class='{{$swidth_right}} table-light'>
                    <span class='form-group'>
                      <select id='que_type' name="que_type" class='col-7 form-control form-control-sm'>
                        <option value='' selected>-請選擇-</option>
                        <option value='b_date'>登打時間</option>
                        <option value='mil01'>生效日期</option>
                      </select>
                      <div class='help-block with-errors'></div>
                    </span>
                  </td>
                </tr>
                <tr class='d-flex'>
                  <td class='{{$swidth_left}} table-secondary text-right'>查詢日期區間</td>
                  <td class='{{$swidth_right}} table-light'>
                    <span class='form-group'>
                      <div class="input-group input-group-sm">
                        <input type='text' id='que_mil01_start' name="que_mil01_start" class='col-3 form-control form-control-sm f_que_enter_date form_date' placeholder='請輸入查詢日期(起)' value=''>
                        <div class="input-group-append">
                          <span class="input-group-text">至</span>
                        </div>          
                        <input type='text' id='que_mil01_end' name="que_mil01_end" class='col-3 form-control form-control-sm f_que_enter_date form_date' placeholder='請輸入查詢日期(訖)' value=''>
                      </div>
                      <div class='help-block with-errors'></div>
                    </span>
                  </td>
                </tr>
                <tr class='d-flex'>
                  <td class='{{$swidth_left}} table-secondary text-right'>異動類型</td>
                  <td class='{{$swidth_right}} table-light'>
                    <span class='form-group'>
                      <input type="hidden" id="que_mil02" name="que_mil02" value='{{$tv_que_mil02|default:''}}'>
                      <select id='que_mil02_type' class='col-7 form-control form-control-sm' data-actions-box="true" data-container="body" multiple>
                        <option value='' disabled>-請選擇-</option>
                        <option value='3'>停復餐</option>
                        <option value='1'>餐點</option>
                        <option value='2'>代餐</option>
                        <option value='4'>固定暫停</option>
                        <option value='5'>自費</option>
                        <option value='6'>補班日出餐(一次性異動)</option>
                      </select>
                      <span id='helpBlock_que_mil02_type' class='help-block'></span>
                      <div class='help-block with-errors'></div>
                    </span>
                    <script>
                      {{foreach from=$tv_que_mil02_arr key=k item=v}}
                        $("#que_mil02_type option[value='" + {{$v|default:''}} + "']").prop("selected", true);
                      {{/foreach}}
                    </script>
                  </td>
                </tr>
                <tr class='d-flex'>
                  <td class='{{$swidth_left}} table-secondary text-right'>是否審核通過</td>
                  <td class='{{$swidth_right}} table-light'>
                    <span class='form-group'>
                      <div class='input-group input-group-sm'>
                        <span class="col-7 form-control form-control-sm">
                          <input type="radio" name="que_mil03" value="Y"> 是
                          <input type="radio" name="que_mil03" value="N"> 否                     
                        </span>
                        <div class='input-group-append'>
                          <span id='helpBlock_que_mil03' class='help-block ml-2'></span>
                        </div>
                      </div>
                      <div class='help-block with-errors'></div>
                    </span>
                  </td>
                </tr>
                {{*
                <tr class='d-flex'>
                  <td class='{{$swidth_left}} table-secondary text-right'>是否更新</td>
                  <td class='{{$swidth_right}} table-light'>
                    <span class='form-group'>
                      <div class='input-group input-group-sm'>
                        <input type='text' id='que_mil05' name='que_mil05' class='col-7 form-control form-control-sm que_enter ' placeholder='' value=''>
                        <div class='input-group-append'>
                          <span id='helpBlock_que_mil05' class='help-block ml-2'></span>
                        </div>
                      </div>
                      <div class='help-block with-errors'></div>
                    </span>
                  </td>
                </tr>
                *}}
                <tr class='d-flex'>
                  <td class='{{$swidth_left}} table-secondary text-right'>全文檢索</td>
                  <td class='{{$swidth_right}} table-light'>
                    <span class='form-group'>
                      <span class='input-group input-group-sm'>
                        <input type='text' id='que_str' name='que_str' class='col-7 form-control form-control-sm que_enter' placeholder='' value=''>
                        <div class="input-group-append">
                          <span id='helpBlock_que_str' class='help-block ml-2'>(所有欄位搜尋)</span>
                        </div>
                      </span>
                    </span>
                  </td>
                </tr>
              </tbody>
              <tfoot>
                <tr class='d-flex'>
                  <td class='{{$swidth_left}}'></td>
                  <td class='{{$swidth_right}} table-light'>
                    <button type="button" id="btn_que" class="btn btn-C1 col-3" data-dismiss="modal">確定 <i class="far fa-check-circle"></i></button>
                    <button id="btn_que_reset" type="reset" class="btn btn-C1-line col-3">清除 <i class="fas fa-eraser"></i></button>
                    <button type="button" id="btn_que_close" class="btn btn-C1-line col-3">關閉 <i class="far fa-times-circle"></i></button>
                  </td>
                </tr>
              </tfoot>
            </table>
          </div>
        </form>
      </div>
    </div>
  </div>
  <!-- 查詢2彈出 end-->
  <!-- 查詢停餐彈出 -->
  <div class="modal fade pop-que_data" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" data-backdrop="static" data-keyboard="false" >
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content  modal-C1 ">
        <div class="text-center paT20">
          {{*<h1><i class="far fa-keyboard" aria-hidden="true"></i><br></h1>*}}
          <h2>請輸入查詢條件</h2>
        </div>
        <div class="modal-body text-left">
          <form class="maT20" id="que_data_input" name="que_data_input" method="POST" enctype="multipart/form-data">
            <div class="table-responsive" style="overflow: visible;">
              <table class="table xtable-bordered table-hover table-sm">
                {{assign var="swidth_left" value="col-3"}}
                {{assign var="swidth_right" value="col-9"}}
                <tbody>
                  <tr class='d-flex'>
                    <td class='{{$swidth_left}} table-secondary text-right'>查詢類型</td>
                    <td class='{{$swidth_right}} table-light'>
                      <span class='form-group'>
                        <select id='que_type' name='que_type' class='col-8 form-control form-control-sm que_enter'>
                          <option value='' selected>-請選擇-</option>
                          <option value='1'>停餐名單</option>
                          <option value='2'>餐食異動統計</option>
                        </select>     
                      </span>
                    </td>
                  </tr>
                  <tr class='d-flex'>
                    <td class='{{$swidth_left}} table-secondary text-right'>日期區間</td>
                    <td class='{{$swidth_right}} table-light'>
                      <span class='form-group'>
                        <div class='input-group input-group-sm'>
                          <input type='text' id='que_mil01_stop_start' name='que_mil01_stop_start' class='col-4 form-control form-control-sm que_enter form_date' placeholder='請輸入查詢區間日期(起)' value=''>
                          <div class="input-group-append">
                            <span class="input-group-text">至</span>
                          </div>
                          <input type='text' id='que_mil01_stop_end' name='que_mil01_stop_end' class='col-4 form-control form-control-sm que_enter form_date' placeholder='請輸入查詢區間日期(迄)' value=''>
                        </div>
                      </span>
                    </td>
                  </tr>
                  <tr class='d-flex'>
                    <td class='{{$swidth_left}} table-light'></td>
                    <td class='{{$swidth_right}} table-light'>
                      <button type="button" id="stop_btn_que" class="btn btn-C1 col-3">確定 <i class="far fa-check-circle"></i></button>
                      <button id="stop_btn_que_reset" type="reset" class="btn btn-C1-line col-3">清除 <i class="fas fa-eraser"></i></button>
                    </td>
                  </tr>
                </tbody>
              </table>
              <table class="table table-bordered table-striped table-hover table-sm sort-table" id="table_result">
              </table>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button id="stop_btn_que_close" type="button" class="btn btn-primary">關閉</button>
        </div>
      </div>
    </div>
  </div>
  <!-- 查詢停餐彈出 end-->
</div>