<head>
  <meta charset="utf-8">
  <!--文章編碼：utf8萬國碼 big5繁體中文-->
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <!--IE6 7 8 支援新的格式-->
  <meta name="viewport" content="width=device-width, initial-scale=0.2, maximum-scale=2.0, user-scalable=yes">
  <!--行動裝置伸縮比例模式-->
  <!-- 針對蘋果手機開始 -->
  <meta name="viewport" content="width=device-width, minimum-scale=0.2, maximum-scale=2, user-scalable=yes" />
  <link rel="apple-touch-icon" href="{{$tv_pub_url}}/images/favicon.png" />
  <title>{{$tv_browse_title}}</title>
  <!--最重要的關鍵字-->
  <meta name="description" content="{{$tv_web_name_meta}} - description">
  <!--描述字:最多50字-->
  <meta name="keywords" content="{{$tv_web_name_meta}}">
  <!--作者介紹-->
  <meta name="author" content="{{$tv_web_name_meta}}">
  <meta name="copyright" CONTENT="版權所有{{$tv_web_name_meta}} - {{$tv_browse_title}}">
  <meta name="URL" content="{{$tv_base_url}}">
  <meta http-equiv="imagetoolbar" content="no">
  <meta name="application-name" content="{{$tv_web_name_meta}} - {{$tv_browse_title}}">
  <!--索引你的網頁內容及連結內容-->
  <!--後台 robots 網路蜘蛛不要產生網頁的索引及庫存-->
  <meta name="robots" content="noindex, nofollow">
  <meta name="googlebot" content="noindex, nofollow">
  <!--FACEBOOK-->
  <meta property="og:title" content="{{$tv_web_name_meta}} - {{$tv_browse_title}}">
  <meta property="og:url" content="{{$tv_base_url}}">
  <meta property="og:type" content="article">
  <meta property="og:image" content="fb分享圖片">
  <meta property="og:site_name" content="{{$tv_web_name_meta}} - {{$tv_browse_title}}">
  <!--針對win7 8 的版本工作列的縮圖-->
  <meta name="msapplication-TileColor" content="#FFFFFF">
  <meta name="msapplication-TileImage" content="{{$tv_pub_url}}/images/favicon.png">
  <meta name="revised" content="">
  <!--更新日期-->
  <link rel="shortcut icon" href="{{$tv_pub_url}}/images/favicon.png">
  <!--分頁標籤圖示-->
  <!--<link rel="stylesheet" href="{{$tv_pub_url}}/theme/bootstrap/css/bootstrap.css">-->
  <!--<link rel="stylesheet" href="{{$tv_pub_url}}/bootstrap/css/bootstrap.min.css">-->
  <link rel="stylesheet" href="{{$tv_pub_url}}/bootstrap-4/css/bootstrap.min.css">
  <!-- 參考網站http://getbootstrap.com/ -->
  <link rel="stylesheet" href="{{$tv_pub_url}}/css/style.css?v={{$tv_rand_str}}">
  <!-- 自訂 -->
  <!--<script type="text/javascript" src="{{$tv_pub_url}}/theme/bootstrap/js/jquery-1.8.2.min.js"></script>-->
  <!--<script src="{{$tv_pub_url}}/js/jquery-1.12.4.min.js"></script>-->
  <script src="{{$tv_pub_url}}/js/jquery-3.5.1.min.js"></script>
  <!--<script type="text/javascript" src="{{$tv_pub_url}}/theme/bootstrap/js/bootstrap.min.js"></script>-->
  <!--<script type="text/javascript" src="{{$tv_pub_url}}/bootstrap/js/bootstrap.min.js"></script>-->
  <script type="text/javascript" src="{{$tv_pub_url}}/bootstrap-4/js/popper.min.js"></script>
  <script type="text/javascript" src="{{$tv_pub_url}}/bootstrap-4/js/bootstrap.min.js"></script>
  
  <link rel="stylesheet" href="{{$tv_pub_url}}/fontawesome/css/all.min.css">
  <!-- ckeditor -->
  <script src="{{$tv_pub_url}}/ckeditor/ckeditor.js"></script>
  <!-- datetimepicker -->
  <!--<link rel="stylesheet" href="{{$tv_pub_url}}/css/bootstrap-datetimepicker.css">-->
  <link rel="stylesheet" href="{{$tv_pub_url}}/css/datetimepicker-4/bootstrap-datetimepicker.min.css">
  <script src="{{$tv_pub_url}}/js/moment.min.js"></script>
  <script src="{{$tv_pub_url}}/js/datetimepicker-4/bootstrap-datetimepicker.min.js"></script>
  <script src="{{$tv_pub_url}}/js/datetimepicker-4/zh-tw.js"></script>
  <!-- <script src="{{$tv_pub_url}}/js/bootstrap-datetimepicker.js"></script> -->
  <!--<script src="{{$tv_pub_url}}/js/bootstrap-datetimepicker.zh-TW.js"></script>-->

  <script src="{{$tv_pub_url}}/js/zi.js?v={{$tv_rand_str}}"></script>
  <!--<script type="text/javascript" src="{{$tv_pub_url}}/js/scrolltop.js"></script>-->
  <!-- ie瀏覽器支援開始 -->
  <!--[if lt IE 9]>
  <script src="{{$tv_pub_url}}/theme/forie/assets/js/ie8-responsive-file-warning.js"></script>
  <script src="{{$tv_pub_url}}/theme/forie/assets/js/html5shiv.js"></script>
  <script src="{{$tv_pub_url}}/theme/forie/assets/js/respond.min.js"></script>
  <![endif]-->
  <style>
    .table_lesson_managment_import {
      border: 1px solid black;
    }
    .td_left_table_lesson_managment_import {
      border: 1px solid black;
      text-align:right;
    }
    .td_right_table_lesson_managment_import {
      border: 1px solid black;
      text-align:left;
    }
    .th_table_lesson_managment_import {
      border: 1px solid black;
      text-align: center;
    }
  </style>
</head>