{{include file="{{$tv_kind}}/meta.html"}}
{{include file="{{$tv_kind}}/header.html"}}
<script src="{{$tv_pub_url}}/js/bootstrap3-typeahead.min.js"></script>

<script>
  $(function(){
    $('.fd_que').click(function(){
      $('#que_kind').val('que');
    });
    $('#f_search').click(function(){
      $('#que_str').val($("#f_que").val());
      $('#fd_que_input').submit();
    });
    $("#f_que").keypress(function(event) {
      if( event.which == 13 ) {
        $('#que_str').val($(this).val());
        $('#f_search').click();
      }
    });
    $(".que_enter").keypress(function(event) {
      if( event.which == 13 ) {
        $('#fd_que_input').submit();
      }
    });
    $("#btn_que").click(function(){
      $('#fd_que_input').submit();
      return;
    });
    $('#btn_que_close').click(function(){
      $("#btn_que_reset").click(); // 清除查詢資料
      $('.pop-que').modal("hide");
    })
    
    $(document).on("click", ".del", function () {
      var s_num = $(this).data('s_num');
      $(".modal-footer #f_del_s_num").val(s_num);
    });

    $("#del").click(function(){
      var err_msg = '';
      var s_num = $(".modal-footer #f_del_s_num").val();
      $.ajax({
        type:'post',
        url: '{{$tv_del_link}}',
        data: {s_num:s_num},
        error: function(xhr) {
          err_msg = 'Ajax request發生錯誤[{{$tv_del_link}}]:'+xhr+'\n請重試';
          alert(err_msg);
        },
        success: function (rs) {
          if(rs=='ok') {
            alert("{{$tv_del_ok}}");
            location.replace("{{$tv_return_link}}");
          }
          else {
            alert("{{$tv_del_ng}}");
            //alert(rs);
          }
        }
      })
      return;
    });
    $("input[name^='is_available']").click(function(){
      var s_num = $(this).data('s_num');
      if($(this).prop("checked")) { // 打勾
        var is_available = 1;
        var old_is_flag = false;
      }
      else {
        var is_available = 0;
        var old_is_flag = true;
      }
      $.ajax({
        type:'post',
        url: '{{$tv_save_link}}upd_is_available',
        data: {f_kind:'upd_is_available',f_s_num:s_num,f_is_available:is_available},
        error: function(xhr) {
          strMsg += 'Ajax request發生錯誤[{{$tv_save_link}}]upd_is_available:'+xhr+'\n請重試';
        },
        success: function (rs) {
          if(rs=='ok') {
          }
          else {
            alert("{{$tv_upd_ng}}");
            $('#is_available_'+s_num).prop('checked',old_is_flag);
            //alert(rs);
          }
        }
      })
    });
    $(".fd_order").click(function(){
      $('#que_kind').val('order');
      var fd_name = $(this).data('fd_name');
      var order_kind = $(this).data('order_kind');
      if('asc'==order_kind) {
        $(this).data('order_kind','desc');
        //$('#icon_'+fd_name).html('<i class="fas fa-sort-down"></i>');
        order_kind = 'desc';
      }
      else {
        $(this).data('order_kind','asc');
        //$('#icon_'+fd_name).html('<i class="fas fa-sort-up"></i>');
        order_kind = 'asc';
      }
      //order_kind = $(this).data('order_kind');
      $('#que_order_fd_name').val(fd_name);
      $('#que_order_kind').val(order_kind);
      //console.log(fd_name);
      //console.log(order_kind);
      $('#fd_que_input').submit();
    });
    //console.log('{{$tv_que_order_fd_name}}');
    {{if '' != $tv_que_order_fd_name}}
      if('asc'=='{{$tv_que_order_kind}}') {
        $('#icon_'+'{{$tv_que_order_fd_name}}').html('<i class="fas fa-sort-up"></i>');
        $('#{{$tv_que_order_fd_name}}').data('order_kind','asc');
        $('#fd_'+'{{$tv_que_order_fd_name}}').data('order_kind','asc');
      }
      else {
        $('#icon_'+'{{$tv_que_order_fd_name}}').html('<i class="fas fa-sort-down"></i>');
        $('#{{$tv_que_order_fd_name}}').data('order_kind','desc');
        $('#fd_'+'{{$tv_que_order_fd_name}}').data('order_kind','desc');
      }
      $('#que_order_fd_name').val('{{$tv_que_order_fd_name}}');
      $('#que_order_kind').val('{{$tv_que_order_kind}}');
      //console.log($('#que_order_fd_name').val());
      //console.log($('#que_order_kind').val());
    {{/if}}
    $('#que_str').val('{{$tv_que_str}}');

    $(".download").click(function() {
      var strMsg = '';
      var s_num = $(this).data('s_num');
      var download_info  = '<div class="progress progress-striped active">';
          download_info += '   <div class="progress-bar progress-bar-striped progress-bar-animated" style="width:100%;">';
          download_info += '    <span>資料處理中，請稍候...</span>';
          download_info += '   </div>';
          download_info += ' </div>';
      $('#show_download_info').html(download_info);
      $('#show_download_info_btn').hide();
      //console.log(s_num);
      $.ajax({
        type:'post',
        url: '{{$tv_download_link}}'+s_num,
        error: function(xhr) {
          strMsg += 'Ajax request發生錯誤[{{$tv_download_link}}]:'+xhr+'\n請重試';
        },
        success: function (rs) {
          rs = JSON.parse(rs);
          $("#download_type").val(""); 
          $('#show_download_info').html(rs);
          $('#show_download_info_btn').show();
          return;
        }
      })
    });

    $("body").tooltip({ selector: '[data-toggle=tooltip]' });
    $('#download_blank_ct_name').typeahead({
      items: 'all',
      minLength: '1',
      autoSelect: false,
      selectOnBlur: false,
      menu: '<ul class="typeahead dropdown-menu" role="listbox"></ul>',
      item: '<li data-toggle="tooltip" data-placement="top" title="選此案主"><a class="dropdown-item2" href="#" role="option"></a></li>',
      source: function (q, process) {
        // console.log(q);
        $.ajax({
          type:'post',
          url: '{{$tv_que_ct_link}}',
          data: {q:q},
          error: function(xhr) {
            err_msg = 'Ajax request發生錯誤[{{$tv_que_ct_link}}]:'+xhr+'\n請重試';
            alert(err_msg);
          },
          success: function (rs) {
            //console.log(rs);
            if(rs != 'null') {
              var rs = jQuery.parseJSON(rs);
              process(rs);
              // console.log(rs);  
            }
          }
        });
      },
      updater: function (item) {
        //var item_name = $(this)[0].$element[0].name;
        var item = item.split(';;');
        $('#download_blank_ct_s_num').val(item[2]);
        $('#download_blank_ct_name').val(item[0]);
        return item[0]; // 更新目前的欄位值
      }
    });

    $("#download_blank_btn").click(function() {
      var strMsg = '';
      var ct_s_num = $('#download_blank_ct_s_num').val();
      var download_info  = '<div class="progress progress-striped active">';
          download_info += '   <div class="progress-bar progress-bar-striped progress-bar-animated" style="width:100%;">';
          download_info += '    <span>資料處理中，請稍候...</span>';
          download_info += '   </div>';
          download_info += ' </div>';

      $('#show_download_info_btn').hide();
      $('#show_download_info').html(download_info);
      $('.pop-download').modal('show');
      $.ajax({
        type:'post',
        url: '{{$tv_download_blank_link}}'+ct_s_num,
        error: function(xhr) {
          strMsg += 'Ajax request發生錯誤[{{$tv_download_blank_link}}]:'+xhr+'\n請重試';
        },
        success: function (rs) {
          rs = JSON.parse(rs);
          $("#download_type").val(""); 
          $('#show_download_info').html(rs);
          $('#show_download_info_btn').show();
          $('#download_blank_ct_s_num').val('');
          $('#download_blank_ct_name').val('');
          return;
        }
      })
    });
  });
</script>
<div class="right-content">
  <div class="page-title clearfix">
    <div class="float-left">
      <h1>電訪記錄</h1>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">案主管理</a></li>
        <li class="breadcrumb-item"><a href="#">電訪記錄</a></li>
        <li class="breadcrumb-item active">{{$tv_breadcrumb3}}</li>
      </ol>
    </div>
    <div class="float-right">
      <div class="visible-xs"><div class="maT10"></div></div>
      <button type="button" class="btn btn-light btn-sm" data-toggle="modal" data-target=".pop-download_blank">電訪紀錄表（空白）</button>
      <button type="button" class="btn btn-light btn-sm" onclick="location.href='{{$tv_add_link}}';">{{$tv_add_btn}} <i class="fas fa-plus"></i></button>
      <button type="button" class="btn btn-light btn-sm" onclick="location.href='{{$tv_return_link}}';">{{$tv_list_btn}} <i class="fas fa-list"></i></button>
      <button type="button" class="btn btn-light btn-sm fd_que" data-toggle="modal"  data-backdrop='static' data-keyboard="false" data-target=".pop-que">{{$tv_que_btn}} <i class="fas fa-search"></i></button>
    </div>
  </div>
  <div class="container-fluid">
    <!-- 表格區塊 Begin-->
    <div class="white-wrapper">
      <!-- 篩選＆搜尋表格 Begin -->
      <div class="table-filter">
        <div class="row">
          <div class="col-6 col-sm-4 col-md-4 col-lg-4 col-xl-3 ml-3">
            <div class="row">
              <div class="input-group">
                <input type="text" id="f_que" name="f_que" class="form-control form-control-sm" placeholder="請輸入搜尋內容" value="{{$tv_f_que}}">
                <div class="input-group-prepend">
                  <button id="f_search" name="f_search" class="btn btn-C1 btn-sm ml-1" type="button">{{$tv_que_btn}}</button>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12">
            <p class="text-right">Total: {{$tv_total_rows|number_format|default:''}}</p>
          </div>
        </div>
      </div>
      <!-- 篩選＆搜尋表格 End -->
      <div class="table-responsive">
        <table class="table table-bordered table-striped table-hover table-sm">
          <thead>
            <tr class="thead-light">
              <th class="text-nowrap"><span id="fd_phw02_sw_s_num" class="fd_order cursorpointer" data-fd_name="phw02_sw_s_num" data-order_kind="">區域</span><span id="icon_phw02_sw_s_num"><i class="fas fa-sort"></i></span></th><!--2-->
              <th class="text-nowrap"><span id="fd_phw02_sw_s_num" class="fd_order cursorpointer" data-fd_name="phw02_sw_s_num" data-order_kind="">案主名稱</span><span id="icon_phw02_sw_s_num"><i class="fas fa-sort"></i></span></th><!--2-->
              <th class="text-nowrap"><span id="fd_phw01" class="fd_order cursorpointer" data-fd_name="phw01" data-order_kind="">訪問時間</span><span id="icon_phw01"><i class="fas fa-sort"></i></span></th><!--1-->
              <th class="text-nowrap"><span id="fd_phw02_sw_s_num" class="fd_order cursorpointer" data-fd_name="phw02_sw_s_num" data-order_kind="">電訪者</span><span id="icon_phw02_sw_s_num"><i class="fas fa-sort"></i></span></th><!--2-->
              <th class="text-nowrap"><span id="fd_phw03_sw_s_num" class="fd_order cursorpointer" data-fd_name="phw03_sw_s_num" data-order_kind="">檢閱者</span><span id="icon_phw03_sw_s_num"><i class="fas fa-sort"></i></span></th><!--3-->
              <th class="text-left"></th>
            </tr>
          </thead>
          <tbody>
            {{foreach from=$tv_phone_interview_row key=k item=v}}
              <tr>
                <td class="text-left"><a href="{{$tv_disp_link}}{{$v.s_num}}" class="text-dark">{{$v.ct14|default:''}}</a></td><!--1.區域-->
                <td class="text-left"><a href="{{$tv_disp_link}}{{$v.s_num}}" class="text-dark">{{$v.ct01|default:''}}{{$v.ct02|default:''}}</a></td><!--1.案主名稱-->
                <td class="text-left"><a href="{{$tv_disp_link}}{{$v.s_num}}" class="text-dark">{{$v.phw01|default:''}}</a></td><!--1.訪問時間-->
                <td class="text-left"><a href="{{$tv_disp_link}}{{$v.s_num}}" class="text-dark">{{$v.sw_name|default:''}}</a></td><!--2.電訪者(tw_social_worker.s_num)-->
                <td class="text-left"><a href="{{$tv_disp_link}}{{$v.s_num}}" class="text-dark">{{$v.sw_chk_name|default:''}}</a></td><!--3.檢閱者(tw_social_worker.s_num)-->
                <td class="text-right">
                  <button type="button" class="btn btn-info btn-sm download" data-s_num="{{$v.s_num}}" data-toggle="modal" data-target=".pop-download">電訪紀錄表</button>
                  <button type="button" class="btn btn-C4 btn-sm" onclick="location.href='{{$tv_upd_link}}{{$v.s_num}}';">{{$tv_upd_btn}}</button>
                  <button type="button" class="btn btn-C2 btn-sm del" data-s_num="{{$v.s_num}}" data-toggle="modal" data-backdrop='static' data-keyboard="false" data-target=".pop-del">{{$tv_del_btn}}</button>
                </td>
              </tr>
            {{foreachelse}}
            <tr>
              <td colspan="99" class="alert alert-warning">
                  查無資料!!!
              </td>
            </tr>
            {{/foreach}}
          </tbody>
        </table>
      </div>
      <!-- 頁籤 Begin -->
      <ul class="pagination justify-content-center pagination-sm" style="margin:20px 0">
        {{$tv_pg_link|default:''}}
      </ul>
      <!-- 頁籤 End -->
    </div>
    <!-- 表格區塊 End -->
  </div>
  <!-- 刪除確認彈出 Begin -->
  <div class="modal fade pop-del" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
    <div class="modal-dialog  modal-sm" role="document">
      <div class="modal-content  modal-C1 ">
        <div class="text-center paTB20">
          <h1><i class="fa fa-info-circle mainC2 maB10" aria-hidden="true"></i><br></h1>
          真的要刪除此電訪記錄資料嗎？
        </div>
        <div class="modal-footer text-center">
          <input type="hidden" id='f_del_s_num' value="">
          <button type="button" class="btn btn-C1-line" data-dismiss="modal">取消</button>
          <button type="button" id="del" class="btn btn-C1" data-dismiss="modal">確定</button>
        </div>
      </div>
    </div>
  </div>
  <!-- 刪除確認彈出 End -->
  <!-- 查詢2彈出 Begin-->
  <div class="modal fade pop-que" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
    <div class="modal-dialog  modal-lg" role="document">
      <div class="modal-content modal-C1 ">
        <form class="maT20" action="{{$tv_que_link}}" id="fd_que_input" name="fd_que_input" method="GET" enctype="multipart/form-data">
          <input type='hidden' id='que_kind' name='que_kind' class='form-control form-control-sm que_enter' value='que'>
          <input type='hidden' id='que_order_fd_name' name='que_order_fd_name' class='form-control form-control-sm que_enter' placeholder='請輸入排序' value=''>
          <input type='hidden' id='que_order_kind' name='que_order_kind' class='form-control form-control-sm que_enter' placeholder='請輸入排序' value=''>
          <div class="text-center paTB20">
            {{*<h1><i class="far fa-keyboard" aria-hidden="true"></i><br></h1>*}}
            <h2>請輸入查詢條件</h2>
          </div>
          <div class="modal-body text-left">
            <table class="table xtable-bordered table-hover table-sm">
              {{assign var="swidth_left" value="col-3"}}
              {{assign var="swidth_right" value="col-9"}}
              <tbody>
                {{*
                <tr class='d-flex'>
                  <td class='{{$swidth_left}} table-secondary text-right'>訪問時間</td>
                  <td class='{{$swidth_right}} table-light'>
                    <span class='form-group'>
                      <div class='input-group input-group-sm'>
                        <input type='text' id='que_phw01' name='que_phw01' class='col-7 form-control form-control-sm que_enter form_date' placeholder='請輸入訪問時間' value=''>
                        <div class='input-group-append'>
                          <span id='helpBlock_que_phw01' class='help-block ml-2'></span>
                        </div>
                      </div>
                      <div class='help-block with-errors'></div>
                    </span>
                  </td>
                </tr>
                <tr class='d-flex'>
                  <td class='{{$swidth_left}} table-secondary text-right'>電訪者(tw_social_worker.s_num)</td>
                  <td class='{{$swidth_right}} table-light'>
                    <span class='form-group'>
                      <div class='input-group input-group-sm'>
                        <input type='text' id='que_phw02_sw_s_num' name='que_phw02_sw_s_num' class='col-7 form-control form-control-sm que_enter ' placeholder='請輸入電訪者(tw_social_worker.s_num)' value=''>
                        <div class='input-group-append'>
                          <span id='helpBlock_que_phw02_sw_s_num' class='help-block ml-2'></span>
                        </div>
                      </div>
                      <div class='help-block with-errors'></div>
                    </span>
                  </td>
                </tr>
                <tr class='d-flex'>
                  <td class='{{$swidth_left}} table-secondary text-right'>檢閱者(tw_social_worker.s_num)</td>
                  <td class='{{$swidth_right}} table-light'>
                    <span class='form-group'>
                      <div class='input-group input-group-sm'>
                        <input type='text' id='que_phw03_sw_s_num' name='que_phw03_sw_s_num' class='col-7 form-control form-control-sm que_enter ' placeholder='請輸入檢閱者(tw_social_worker.s_num)' value=''>
                        <div class='input-group-append'>
                          <span id='helpBlock_que_phw03_sw_s_num' class='help-block ml-2'></span>
                        </div>
                      </div>
                      <div class='help-block with-errors'></div>
                    </span>
                  </td>
                </tr>
                <tr class='d-flex'>
                  <td class='{{$swidth_left}} table-secondary text-right'>tw_clients.s_num</td>
                  <td class='{{$swidth_right}} table-light'>
                    <span class='form-group'>
                      <div class='input-group input-group-sm'>
                        <input type='text' id='que_phw04_ct_s_num' name='que_phw04_ct_s_num' class='col-7 form-control form-control-sm que_enter ' placeholder='請輸入tw_clients.s_num' value=''>
                        <div class='input-group-append'>
                          <span id='helpBlock_que_phw04_ct_s_num' class='help-block ml-2'></span>
                        </div>
                      </div>
                      <div class='help-block with-errors'></div>
                    </span>
                  </td>
                </tr>
                *}}
                <tr class='d-flex'>
                  <td class='{{$swidth_left}} table-secondary text-right'>全文檢索</td>
                  <td class='{{$swidth_right}} table-light'>
                    <span class='form-group'>
                      <span class='input-group input-group-sm'>
                        <input type='text' id='que_str' name='que_str' class='col-7 form-control form-control-sm que_enter' placeholder='' value=''>
                        <div class="input-group-append">
                          <span id='helpBlock_que_str' class='help-block ml-2'>(所有欄位搜尋)</span>
                        </div>
                      </span>
                    </span>
                  </td>
                </tr>
              </tbody>
              <tfoot>
                <tr class='d-flex'>
                  <td class='{{$swidth_left}}'></td>
                  <td class='{{$swidth_right}} table-light'>
                    <button type="button" id="btn_que" class="btn btn-C1 col-3" data-dismiss="modal">確定 <i class="far fa-check-circle"></i></button>
                    <button id="btn_que_reset" type="reset" class="btn btn-C1-line col-3">清除 <i class="fas fa-eraser"></i></button>
                    <button type="button" id="btn_que_close" class="btn btn-C1-line col-3">關閉 <i class="far fa-times-circle"></i></button>
                  </td>
                </tr>
              </tfoot>
            </table>
          </div>
        </form>
      </div>
    </div>
  </div>
  <!-- 查詢2彈出 End-->
  <!-- 蓋章表(空白)下載 BEGIN -->
    <div class="modal fade pop-download_blank" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content  modal-C1 ">
          <div class="text-center paT20 paB5">
            <h2><i class="fa fa-info-circle mainC2 maB10" aria-hidden="true"> 電訪記錄表（空白）下載 </i><br></h2>
            <div class="row maT10">
              <div class="col-12">
                <div class="text-left ml-3 row">
                  <label for="reh_s_num" class="col-sm-3 col-form-label pr-0 text-right">案主名稱：</label>
                  <div class="col-sm-7 p-0 mt-1">
                    <span class="form-group">
                      <input type='text' id='download_blank_ct_name' class='form-control form-control-sm' placeholder='請輸入案主姓名' value=''>
                      <input type='hidden' id='download_blank_ct_s_num' name='ct_s_num'>
                    </span>
                  </div>
                </div>
              </div>
            </div>
            <div class="modal-footer text-center maT20">
              <button type="button" id="download_blank_btn" class="btn btn-primary" data-dismiss="modal">確定</button>
              <button type="reset" id="download_blank_close_btn" class="btn btn-C2 modal_close" data-dismiss="modal">關閉</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  <!-- 蓋章表(空白)下載 End-->
  {{include file="{{$tv_kind}}/download_info_modal.html"}}
</div>