{{include file="{{$tv_kind}}/meta.html"}}
{{include file="{{$tv_kind}}/header.html"}}
<script>
  $(function(){
  });
</script>
<div class="right-content">
  <div class="page-title clearfix">
    <div class="float-left">
      <h1>問卷資料</h1>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">問卷管理</a></li>
        <li class="breadcrumb-item"><a href="#">問卷資料</a></li>
        <li class="breadcrumb-item active">{{$tv_breadcrumb3}}</li>
      </ol>
    </div>
    <div class="float-right">
      <div class="visible-xs"><div class="maT10"></div></div>
      <button type="button" class="btn btn-light btn-sm" onclick="location.href='{{$tv_upd_link}}{{$tv_questionnaire_h_row->s_num}}';">{{$tv_upd_btn}} <i class="fas fa-pencil-alt"></i></button>
      <button type="button" class="btn btn-light btn-sm" onclick="location.href='{{$tv_add_link}}';">{{$tv_add_btn}} <i class="fas fa-plus"></i></button>
      <button class="btn btn-light btn-sm" type="button" onclick="location.href='{{$tv_return_link}}';">{{$tv_list_btn}} <i class="fas fa-list"></i></button>
    </div>
  </div>
  <!-- container-fluid -->
  <div class="container-fluid">
    <br>
    <div class="float-right">建檔:<span class="mainC1">{{$tv_questionnaire_h_row->b_acc_name|default:''}}({{$tv_questionnaire_h_row->b_date|default:''}})</span>-修改:<span class="mainC1">{{$tv_questionnaire_h_row->e_acc_name|default:''}}({{$tv_questionnaire_h_row->e_date|default:""}})</span></div>
    <div class="table-responsive">
      <table class="table table-bordered table-hover table-sm">
        {{assign var="swidth_left" value="20%"}}
        {{assign var="swidth_right" value="80%"}}
        <tbody>
          <tr class="d-flex">
            <td width="{{$swidth_left}}" class="table-secondary text-right">問卷名稱</td>
            <td width="{{$swidth_right}}" class="table-light"><span class="text-dark">{{$tv_questionnaire_h_row->qh01|default:''}}</span></td>
          </tr>
        </tbody>
      </table>
      <h2 class="bg-secondary text-white text-center">問卷題目</h2>
      <table class="table table-bordered table-striped table-hover table-sm">
        <thead>
          <tr class="thead-light">
            <td width="02%" class="text-nowrap">序號</td>
            <td width="02%" class="text-nowrap">題目序號</td>
            <td width="15%" class="text-nowrap">題目類型</td>
            <td width="32%" class="text-nowrap">題目</td>
            <td width="32%" class="text-nowrap">題目選項</td>
          </tr>
        </thead>
        <tbody id="questionnaire_b">
          {{assign var="snum" value="1"}}
          {{foreach from=$tv_questionnaire_b_row key=k item=v}}
            <tr>
              <td class="text-center">{{$snum}}</td>
              <td class="text-center"><span class="">{{$v.qb_order|default:''}}</span></td>
              <td class="text-left"><span class="">{{$v.qb02_str|default:''}}</span></td>
              <td class="text-left"><span class="">{{$v.qb01|default:''}}</span></td>
              <td class="text-left"><span class="">{{$v.qb03|default:''}}</span></td>
            </tr>
            {{assign var="snum" value="{{$snum+1}}"}}
          {{/foreach}}
        </tbody>
      </table>
    </div>
  </div>
  <!-- container-fluid end-->
</div>