{{include file="{{$tv_kind}}/meta.html"}}
{{include file="{{$tv_kind}}/header.html"}}
<!-- BT TABLE -->
<link rel="stylesheet" href="{{$tv_pub_url}}/bootstrap-table/bootstrap-table.min.css">
<script src="{{$tv_pub_url}}/bootstrap-table/bootstrap-table.min.js"></script>
<link rel="stylesheet" href="https://unpkg.com/jquery-resizable-columns@0.2.3/dist/jquery.resizableColumns.css">
<script src="https://unpkg.com/jquery-resizable-columns@0.2.3/dist/jquery.resizableColumns.min.js"></script>
<script>
  $(function(){
  });
</script>
<div class="right-content">
  <div class="page-title clearfix">
    <div class="float-left">
      <h1>送餐路徑資料</h1>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">送餐路徑管理</a></li>
        <li class="breadcrumb-item"><a href="#">送餐路徑資料</a></li>
        <li class="breadcrumb-item active">{{$tv_breadcrumb3}}</li>
      </ol>
    </div>
    <div class="float-right">
      <div class="visible-xs"><div class="maT10"></div></div>
      <button type="button" class="btn btn-light btn-sm" onclick="location.href='{{$tv_upd_link}}{{$tv_route_h_row->s_num}}';">{{$tv_upd_btn}} <i class="fas fa-pencil-alt"></i></button>
      <button type="button" class="btn btn-light btn-sm" onclick="location.href='{{$tv_add_link}}';">{{$tv_add_btn}} <i class="fas fa-plus"></i></button>
      <button class="btn btn-light btn-sm" type="button" onclick="location.href='{{$tv_return_link}}';">{{$tv_list_btn}} <i class="fas fa-list"></i></button>
    </div>
  </div>
  <!-- container-fluid -->
  <div class="container-fluid">
    <br>
    <div class="float-right">建檔:<span class="mainC1">{{$tv_route_h_row->b_acc_name|default:''}}({{$tv_route_h_row->b_date|default:''}})</span>-修改:<span class="mainC1">{{$tv_route_h_row->e_acc_name|default:''}}({{$tv_route_h_row->e_date|default:""}})</span></div>
    <div class="table-responsive">
      <table class="table table-bordered table-hover table-sm">
        {{assign var="swidth_left" value="20%"}}
        {{assign var="swidth_right" value="80%"}}
        <tbody>
          <tr class="d-flex">
            <td width="{{$swidth_left}}" class="table-secondary text-right">路線序號</td>
            <td width="{{$swidth_right}}" class="table-light"><span class="text-dark">{{$tv_route_h_row->reh01|default:''}}</span></td>
          </tr>
          <tr class="d-flex">
            <td width="{{$swidth_left}}" class="table-secondary text-right">路線負責人</td>
            <td width="{{$swidth_right}}" class="table-light"><span class="text-dark">{{$tv_route_h_row->dp_name|default:''}}</span></td>
          </tr>
          <tr class="d-flex">
            <td width="{{$swidth_left}}" class="table-secondary text-right">路線名稱</td>
            <td width="{{$swidth_right}}" class="table-light"><span class="text-dark">{{$tv_route_h_row->reh02|default:''}}</span></td>
          </tr>
          <tr class="d-flex">
            <td width="{{$swidth_left}}" class="table-secondary text-right">路線類別</td>
            <td width="{{$swidth_right}}" class="table-light"><span class="text-dark">{{$tv_route_h_row->reh03_str|default:''}}</span></td>
          </tr>
          <tr class="d-flex">
            <td width="{{$swidth_left}}" class="table-secondary text-right">適用時段</td>
            <td width="{{$swidth_right}}" class="table-light"><span class="text-dark">{{$tv_route_h_row->reh05_str|default:''}}</span></td>
          </tr>
          <tr class="d-flex">
            <td width="{{$swidth_left}}" class="table-secondary text-right">路線顏色</td>
            <td width="{{$swidth_right}}" class="table-light"><span class="text-dark"><i class="fas fa-square-full" style="color:{{$tv_route_h_row->reh08|default:''}};"></i></span></td>
          </tr>
          <tr class="d-flex">
            <td width="{{$swidth_left}}" class="table-secondary text-right">餐條顏色</td>
            <td width="{{$swidth_right}}" class="table-light"><span class="text-dark">{{$tv_route_h_row->reh07_str|default:''}}</span></td>
          </tr>
          <tr class="d-flex">
            <td width="{{$swidth_left}}" class="table-secondary text-right">輔助社工</td>
            <td width="{{$swidth_right}}" class="table-light">
              <span class="text-dark">
                {{foreach from=$tv_route_sw_row key=k item=v name=sw}}
                 {{$v.dp01}}{{$v.dp02}}
                 {{if !$smarty.foreach.sw.last}}
                 、
                 {{/if}}
                {{/foreach}}
              </span>
            </td>
          </tr>
          <tr class="d-flex">
            <td width="{{$swidth_left}}" class="table-secondary text-right">上限人數</td>
            <td width="{{$swidth_right}}" class="table-light"><span class="text-dark">{{$tv_route_h_row->reh04|default:''}}</span></td>
          </tr>
          <tr class="d-flex">
            <td width="{{$swidth_left}}" class="table-secondary text-right">備註</td>
            <td width="{{$swidth_right}}" class="table-light"><span class="text-dark">{{$tv_route_h_row->reh99|default:''}}</span></td>
          </tr>
        </tbody>
      </table>
      <table class="table table-bordered table-striped table-hover table-sm maB10">
        <thead>
          <tr class="tr-class-1 gbcF7e">
            <th data-field="title" colspan="5" class="bg-secondary text-white text-center"><h2>每日送餐員資料</h2></th>
          </tr>
          <tr class="thead-light">
            <td width="20%" class="text-nowrap">星期一</td>
            <td width="20%" class="text-nowrap">星期二</td>
            <td width="20%" class="text-nowrap">星期三</td>
            <td width="20%" class="text-nowrap">星期四</td>
            <td width="20%" class="text-nowrap">星期五</td>
          </tr>
        </thead>
        <tbody>
          <td class='table-light'><span class="text-dark">{{$tv_route_h_row->reh06_mon_dp_name|default:''}}</span></td>
          <td class='table-light'><span class="text-dark">{{$tv_route_h_row->reh06_tue_dp_name|default:''}}</span></td>
          <td class='table-light'><span class="text-dark">{{$tv_route_h_row->reh06_wed_dp_name|default:''}}</span></td>
          <td class='table-light'><span class="text-dark">{{$tv_route_h_row->reh06_thu_dp_name|default:''}}</span></td>
          <td class='table-light'><span class="text-dark">{{$tv_route_h_row->reh06_fri_dp_name|default:''}}</span></td>
        </tbody>
      </table>
      <table class="table table-bordered table-hover table-sm" data-toggle='table' data-height="485" data-search="true" data-pagination="true" data-page-size="25" data-page-list="[25]" data-search-highlight="true" data-resizable="true">
        <thead>
          <tr class="tr-class-1 gbcF7e">
            <th data-field="title" colspan="5" class="bg-secondary text-white text-center"><h2>案主明細資料</h2></th>
          </tr>
          <tr class="thead-light">
            <th data-width="06" data-width-unit="%" data-field='snum' class="text-nowrap">序</th>
            <th data-width="20" data-width-unit="%" data-field='ct_name' class="text-nowrap">案主名稱</th>
            <th data-width="20" data-width-unit="%" data-field='reb01' class="text-nowrap">送餐順位</th>
            <th data-width="20" data-width-unit="%" data-field='reb99' class="text-nowrap">備註</th>
            <th data-width="12" data-width-unit="%" data-field='move' class="text-nowrap"></th>
          </tr>
        </thead>
        <tbody>
          {{assign var="snum" value="1"}}
          {{foreach from=$tv_route_b_row key=k item=v name=classify}}
            <tr>
              <td class="text-center">{{$snum}}</td>
              <td class="text-left"><span class="">{{$v.ct_name|default:''}}</span></td>
              <td class="text-right"><span class="">{{$v.reb01|default:''}}</span></td>
              <td class="text-left"><span class="">{{$v.reb99|default:''}}</span></td>
              <td align='right'>
              {{if !$smarty.foreach.classify.first}}
               <button type="button" class="btn btn-secondary btn-sm" onclick="location.href='{{$tv_sort_up_link}}?reh_s_num={{$v.reh_s_num}}&ct_s_num={{$v.ct_s_num}}&before_sort={{$v.reb01}}';">上移</button>
              {{/if}}
              {{if !$smarty.foreach.classify.last}}
                <button type="button" class="btn btn-secondary btn-sm" onclick="location.href='{{$tv_sort_down_link}}?reh_s_num={{$v.reh_s_num}}&ct_s_num={{$v.ct_s_num}}&before_sort={{$v.reb01}}';">下移</button>
              {{/if}}
              </td>
            </tr>
            {{assign var="snum" value="{{$snum+1}}"}}
          {{foreachelse}}
            <tr>
              <td colspan="99" class="alert alert-warning">
                查無資料!!!
              </td>
            </tr>
          {{/foreach}}
        </tbody>
      </table>
    </div>
  </div>
  <!-- container-fluid end-->
</div>