{{include file="{{$tv_kind}}/meta.html"}}
{{include file="{{$tv_kind}}/header.html"}}
<script src="{{$tv_pub_url}}/js/validator.min.js"></script>
<script>
  $(function(){
    $(".form_month").datetimepicker({
      locale: 'tw',
      format: 'YYYY-MM',
      showTodayButton: true,
      showClear: true,
      showClose: true,
      allowInputToggle: true,
      tooltips: {
          today: '今天',
          clear: '清除',
          close: '關閉',
          selectMonth: '選取月',
          prevMonth: '上個月',
          nextMonth: '下個月',
          selectYear: '選擇年',
          prevYear: '上一年',
          nextYear: '下一年',
          selectDecade: '選取十年',
          prevDecade: '上十年',
          nextDecade: '下十年',
          prevCentury: '上世紀',
          nextCentury: '下世紀'
      },
      icons: {
        time: 'far fa-clock',
        date: 'far fa-calendar',
        up: 'fas fa-arrow-up',
        down: 'fas fa-arrow-down',
        previous: 'fas fa-chevron-left',
        next: 'fas fa-chevron-right',
        today: 'fas fa-calendar-check',
        clear: 'far fa-trash-alt',
        close: 'far fa-times-circle'
      }
    });
    
    $('#btn_prn').click(function(){
      var download_info  = '<div class="progress progress-striped active">';
          download_info += '   <div class="progress-bar progress-bar-striped progress-bar-animated" style="width:100%;">';
          download_info += '    <span>資料處理中，請稍候...</span>';
          download_info += '   </div>';
          download_info += ' </div>';
      $('#show_download_info').html(download_info);
      $('#show_download_info_btn').hide();
      //console.log(s_num);
      var strMsg = '';
      $.ajax({
        type:'post',
        data: $("#fd_input").serialize(),
        url: '{{$tv_download_link}}',
        error: function(xhr) {
          strMsg += 'Ajax request發生錯誤[{{$tv_download_link}}]:'+xhr+'\n請重試';
        },
        success: function (rs) {
          //console.log(rs);
          $('#show_download_info').html(rs);
          $('#show_download_info_btn').show();
          return;
          //if(rs=='ok') {
          //}
          //else {
          //  alert(rs);
          //}
        }
      })
    });
    
    $("#rpt_type").change(function(){
      if($(this).val() == 1) {
        $("#date_tr").hide();
        $("#date_tr").removeClass("d-flex");
        $("#month_tr").show();
        $("#month_tr").addClass("d-flex");
      }
      else {
        $("#date_tr").show();
        $("#date_tr").addClass("d-flex");
        $("#month_tr").hide();
        $("#month_tr").removeClass("d-flex");
      }
      $(".rpt_dys01").val('');
    });
  });
</script>
<div class="right-content">
  <div class="page-title clearfix no_print">
    <div class="float-left">
      <h1>核銷報表</h1>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">報表下載</a></li>
        <li class="breadcrumb-item"><a href="#">核銷報表</a></li>
        <li class="breadcrumb-item active">{{$tv_breadcrumb3}}</li>
      </ol>
    </div>
    <div class="float-right">
      <div class="visible-xs"><div class="maT10"></div></div>
    </div>
  </div>
  <div class="container-fluid">
    <!-- 表格區塊 -->
    <div class="white-wrapper">
      {{*
      <div class="alert alert-danger" role="alert">
        程式尚未完成，請勿使用!!!
      </div>
      *}}
      <!-- 篩選＆搜尋表格 -->
      <div class="table-filter no_print">
        <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content  modal-C1 ">
            <form class="maT20" action="" id="fd_input" name="fd_input" method="POST" enctype="multipart/form-data" data-toggle="validator">
              <div class="text-center">
                {{*<h1><i class="far fa-keyboard" aria-hidden="true"></i><br></h1>*}}
                <h2>請選擇下載條件</h2>
              </div>
              <div class="modal-body text-left">
                <table class="table xtable-bordered table-hover table-sm">
                  {{assign var="swidth_left" value="col-3"}}
                  {{assign var="swidth_right" value="col-9"}}
                  <tbody>
                    <tr class='d-flex'>
                      <td class='{{$swidth_left}} table-secondary text-right'><span class="text-danger">*</span>報表類型</td>
                        <td class='{{$swidth_right}} table-light'>
                          <span class='form-group'>
                            <select id='rpt_type' name='rpt_type' class='col-12 form-control form-control-sm prn_enter' required>
                              <option value='' selected>-請選擇-</option>
                              <option value='1'>月報表</option>
                              <option value='2'>日報表</option>
                            </select>
                          </span>
                        </td>
                      </tr>
                      <tr class='d-flex'>
                      <td class='{{$swidth_left}} table-secondary text-right'><span class="text-danger">*</span>送餐時段</td>
                        <td class='{{$swidth_right}} table-light'>
                          <span class='form-group'>
                            <select id='rpt_dys09' name='rpt_dys09' class='col-12 form-control form-control-sm prn_enter' required>
                              <option value='' selected>-請選擇-</option>
                              <option value='1'>午間</option>
                              <option value='2'>中晚</option>
                              <option value='3'>夜間</option>
                            </select>
                          </span>
                        </td>
                      </tr>
                      <tr id="month_tr" class='d-flex'>
                        <td class='{{$swidth_left}} table-secondary text-right'><span class="text-danger">*</span>時間</td>
                        <td class='{{$swidth_right}} table-light'>
                          <span class='form-group'>
                            <div class='input-group form_month'>
                              <div id="dys01_type" class='input-group-prepend'>
                                <span class='input-group-text'><i class='far fa-calendar-alt'></i></span>
                              </div>
                              <input type='text' id='rpt_month_dys01' name='rpt_month_dys01' class='form-control form-control-sm' placeholder='請輸入時間' value='' required>
                            </div>
                            <span id='helpBlock_rpt_month_dys01' class='help-block'>月報表時間輸入格式:西元年-月份，範例:2021-06</span>
                            <div class='help-block with-errors'></div>
                          </span>
                        </td>
                      </tr>
                      <tr id="date_tr" style="display:none">
                        <td class='{{$swidth_left}} table-secondary text-right'><span class="text-danger">*</span>時間</td>
                        <td class='{{$swidth_right}} table-light'>
                          <span class='form-group'>
                            <div class='input-group form_date'>
                              <div id="dys01_type" class='input-group-prepend'>
                                <span class='input-group-text'><i class='far fa-calendar-alt'></i></span>
                              </div>
                              <input type='text' id='rpt_date_dys01' name='rpt_date_dys01' class='form-control form-control-sm' placeholder='請輸入時間' value='' required>
                            </div>
                            <span id='helpBlock_rpt_date_dys01' class='help-block'>日報表時間輸入格式:西元年-月份-日期，範例:2021-06-01</span>
                            <div class='help-block with-errors'></div>
                          </span>
                        </td>
                      </tr>
                    </tbody>
                    <tfoot>
                      <tr class='d-flex'>
                        <td class='{{$swidth_left}}'></td>
                        <td class='{{$swidth_right}} table-light'>
                          <button type="button" id="btn_prn" class="btn btn-C1 col-3" data-toggle="modal" data-target=".pop-download">確定下載 <i class="fas fa-download"></i></button>
                          <button id="btn_prn_reset" type="reset" class="btn btn-C1-line col-3">重新輸入 <i class="fas fa-eraser"></i></button>
                        </td>
                      </tr>
                    </tfoot>
                  </table>
              </div>
            </form>
          </div>
        </div>
      </div>
      <!-- 篩選＆搜尋表格 -->
    </div>
  </div>
  <!-- 下載資訊視窗彈出 -->
  <div class="modal fade pop-download" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog" role="document">
      <div class="modal-content  modal-C1">
	   <div class="modal-body">
		<div class="text-center paT10">
		  <h1><i class="fa fa-info-circle mainC2 maB15" aria-hidden="true"> 資料下載</i><br></h1>
		  <span id="show_download_info"></span>
          </div>
	   </div>
	   <div class="modal-footer text-center">
	     <button type="button" id="show_download_info_btn" class="btn btn-C1" data-dismiss="modal">關閉</button>
        </div>
      </div>
    </div>
  </div>
  <!-- 下載資訊視窗彈出 end-->
</div>
