{{include file="{{$tv_kind}}/meta.html"}}
{{include file="{{$tv_kind}}/header.html"}}
<script src="{{$tv_pub_url}}/js/bootstrap3-typeahead.min.js"></script>
<script src="{{$tv_pub_url}}/js/validator.min.js"></script>
<script src="{{$tv_pub_url}}/js/chosen.jquery.min.js"></script>
<link rel="stylesheet" href="{{$tv_pub_url}}/css/chosen.css">

<script>
  $(function(){
    //CKEDITOR.replace('field_name', { height: '300px', width: '100%'});

    $("#save").click(function(){
      var err_msg = '';
      $('#fd_input').validator('validate');
      if($('.with-errors').text() != '') {
        alert('{{$tv_validate_err}}');
        return;
      }
      for ( instance in CKEDITOR.instances ) {
        CKEDITOR.instances[instance].updateElement();
      }
      $.ajax({
        type:'post',
        url: '{{$tv_save_link}}',
        data: $("#fd_input").serialize(),
        error: function(xhr) {
          err_msg = 'Ajax request發生錯誤[{{$tv_save_link}}]:'+xhr+'\n請重試';
          alert(err_msg);
        },
        success: function (rs) {
          if(rs=='ok') {
            alert("{{$tv_save_ok}}");
            location.replace("{{$tv_return_link}}");
          }
          else {
            //console.log(rs);
            alert(rs);
          }
        }
      })
    });
    $(document).on('click',"input[name='files']",function() {
      $(this).fileupload({
        dataType: 'json',
        done: function (e, data) {
          $.each(data.result.files, function (index, file) {
            if(file.error) {
              alert(file.error);
              return;
            }
            //file.name = decodeURIComponent(file.name); // 對應
            //console.log(file.name);
            var att_name = data.att_name;
            $('#'+att_name).val(file.name);
            $('#'+att_name+'_str').text(file.name);
          });
        }
      });
    });

    /*chosen select*/
    var config = {
      '.chosen-select-deselect'  : { allow_single_deselect: true, width: '100%', no_results_text: 'Oops, nothing found!', search_contains: true },
      '.chosen-select-width'     : { width: '380pt', no_results_text: '查無輸入的資料', search_contains: true },
      '.chosen-select-ass'     : { width: '100%', no_results_text: '查無輸入的資料', max_selected_options: 2, search_contains: true } //限選2個
    }
    for (var selector in config) {
      $(selector).chosen(config[selector]);
    }
    // 檔案刪除用 Begin //
    $(document).on("click", ".del", function () {
      var del_fd_name = $(this).data('del_fd_name');
      $(".modal-footer #f_del_fd_name").val(del_fd_name);
    });
    $('#del_file').click(function(){
      var del_fd_name = $('#f_del_fd_name').val();
      $('#'+del_fd_name).val('');
      $('#'+del_fd_name+'_str').text('');
    });
    // 檔案刪除用 End //

    function clear_tag(str){
      return str.replace(/<[^>]+>/g,"");//去掉所有的html標記
    }

    $("body").tooltip({ selector: '[data-toggle=tooltip]' });
    $('#ct_name').typeahead({
      items: 'all',
      minLength: '1',
      autoSelect: false,
      selectOnBlur: false,
      menu: '<ul class="typeahead dropdown-menu" role="listbox"></ul>',
      item: '<li data-toggle="tooltip" data-placement="top" title="選此案主"><a class="dropdown-item2" href="#" role="option"></a></li>',
      source: function (q, process) {
        // console.log(q);
        $.ajax({
          type:'post',
          url: '{{$tv_que_ct_link}}',
          data: {q:q},
          error: function(xhr) {
            err_msg = 'Ajax request發生錯誤[{{$tv_que_ct_link}}]:'+xhr+'\n請重試';
            alert(err_msg);
          },
          success: function (rs) {
            //console.log(rs);
            if(rs != 'null') {
              var rs = jQuery.parseJSON(rs);
              process(rs);
              // console.log(rs);  
            }
          }
        });
      },
      updater: function (item) {
        //var item_name = $(this)[0].$element[0].name;
        var item = item.split(';;');
        $('#ct_s_num').val(item[2]);
        $('#ct_name').val(item[0]);
        if('' != item[2]) {
          $("#sec_sel").empty().trigger("chosen:updated");
          $("#ml01").text('');
          $("#mil_m01_1_str").text('');
          $("#mil_m01_2_str").text('');
          $("#mil_m01_3_str").text('');
          $("#mil_m01_4_str").text('');
          $("#mil_m01_5_str").text('');
          $.ajax({
            type:'post',
            url: '{{$tv_que_sec_link}}',
            data: {ct_s_num:item[2]},
            error: function(xhr) {
              err_msg = 'Ajax request發生錯誤[{{$tv_que_sec_link}}]:'+xhr+'\n請重試';
              alert(err_msg);
            },
            success: function (rs) {
              var rs_row = JSON.parse(rs);
              if(rs_row != null) {
                $("#sec_sel").append("<option value=''>-請選擇-</option>").trigger("chosen:updated");
                $.each(rs_row , function(k , v) {
                  var sec99 = clear_tag(v.sec99);
                  $("#sec_sel").append("<option value='" + v.s_num + "' data-sec01='" + v.sec01 + "' data-reh_type='" + v.reh_type + "' data-mih_cnt='" + v.mih_cnt + "'>" + v.sec04_str + "(" + v.sec02 +"開始)(" + sec99 + ")</option>").trigger("chosen:updated");
                })
              }
            }
          })
        }
        return item[0]; // 更新目前的欄位值
      }
    });

    $("#sec_sel").on("change" , function() {
      var que_type = 1;
      var produce_date = 1;
      var sec_s_num = $(this).val();
      if(sec_s_num != '') {
        $("#sec_s_num").val($(this).val());
        var ct_s_num = $("#ct_s_num").val();
        var reh_type = $("#sec_sel").find(':selected').data('reh_type');
        $.ajax({
          type:'post',
          url: '{{$tv_que_client_route_data_link}}',
          data: {ct_s_num:ct_s_num , ocl_r01:reh_type},
          error: function(xhr) {
            err_msg = 'Ajax request發生錯誤[{{$tv_que_client_route_data_link}}]:'+xhr+'\n請重試';
            alert(err_msg);
          },
          success: function (rs) {
            rs = JSON.parse(rs);
            $("#reh01").text(rs['reh01']);
            $("#reh_s_num").val(eval(rs['s_num']));
          }
        })

        $.ajax({
          type:'post',
          url: '{{$tv_que_client_data_link}}',
          data: {sec_s_num:sec_s_num, que_type:que_type, produce_date:'{{$tv_today}}'},
          error: function(xhr) {
            err_msg = 'Ajax request發生錯誤[{{$tv_que_client_data_link}}]:'+xhr+'\n請重試';
            alert(err_msg);
          },
          success: function (rs) {
            rs = JSON.parse(rs);
            $.each(rs, function(k, v) {
              $("#" + k).text(v);
            });
          }
        })
      }
    });

  });
</script>
<div class="right-content">
  <div class="page-title clearfix">
    <div class="float-left">
      <h1>客訴處理單(營養師)</h1>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">個案服務管理</a></li>
        <li class="breadcrumb-item"><a href="#">客訴處理單(營養師)</a></li>
        <li class="breadcrumb-item active">{{$tv_breadcrumb3}}</li>
      </ol>
    </div>
    <div class="float-right">
      <div class="visible-xs"><div class="maT10"></div></div>
      <button id="save" class="btn btn-C1 btn-sm one_click" type="button">{{$tv_save_btn}} <i class="far fa-save"></i></button>
      <button class="btn btn-light btn-sm" type="button" onclick="location.href='{{$tv_return_link}}';">{{$tv_list_btn}} <i class="fas fa-list"></i></button>
    </div>
  </div>
  <!-- container-fluid -->
  <div class="container-fluid">
    {{if $tv_msel <> 'add' and $tv_msel <> 'cpy'}}
      <br>
      <div class="float-right">建檔:<span class="mainC1">{{$tv_service_case_complaint_row->b_acc_name|default:''}}({{$tv_service_case_complaint_row->b_date|default:''}})</span>-修改:<span class="mainC1">{{$tv_service_case_complaint_row->e_acc_name|default:''}}({{$tv_service_case_complaint_row->e_date|default:""}})</span></div>
    {{/if}}
    <form class="maT20" id="fd_input" name="fd_input" method="POST" enctype="multipart/form-data" data-toggle="validator">
      {{if $tv_msel <> 'add' and $tv_msel <> 'cpy'}}
        <input type="hidden" id='s_num' name='s_num' value='{{$tv_service_case_complaint_row->s_num|default:'0'}}'>
      {{/if}}
      <div class="table-responsive">
        <table class="table table-bordered table-hover table-sm">
          {{assign var="swidth_left" value="20%"}}
          {{assign var="swidth_right" value="80%"}}
          {{assign var="swidth_left_2" value="7.5%"}}
          {{assign var="swidth_right_2" value="92.5%"}}
          <tbody>
            <tr class='d-flex'>
              <td width='{{$swidth_left}}' class='table-secondary text-right'><span class="text-danger">*</span>客戶資料</td>
              <td width='{{$swidth_right}}' class='table-light'>
                <table class="table table-hover table-sm">
                  <input type='hidden' id='ct_s_num' name='ct_s_num' value='{{$tv_service_case_complaint_row->ct_s_num|default:''}}'>
                  <input type='hidden' id='sec_s_num' name="sec_s_num" class='col-12 form-control form-control-sm' placeholder='' autocomplete="off" value='{{$tv_service_case_complaint_row->sec_s_num|default:''}}' {{if $tv_msel == "upd"}} readonly {{/if}}>
                  <input type='hidden' id='mil_h_s_num' name='mil_h_s_num' class='form-control form-control-sm' placeholder='請輸入餐食異動序號-MEMO(tw_meal_instruction_log_h.s_num)' value='{{$tv_service_case_complaint_row->mil_h_s_num|default:''}}'>
                  <input type='hidden' id='ocl_h_s_num' name='ocl_h_s_num' class='form-control form-control-sm' placeholder='請輸入非餐食異動序號-MEMO(tw_other_change_log_h.s_num)' value='{{$tv_service_case_complaint_row->ocl_h_s_num|default:''}}'>
                  {{if 'add' == $tv_msel}}
                    {{if 'normal' == $tv_source}}
                      <tr class='d-flex'>
                        <td width='{{$swidth_left_2}}' class='text-right'><span class="text-danger">*</span>案主姓名</td>
                        <td width='{{$swidth_right_2}}' class='table-light'>
                          <span class='form-group'>
                            <input type='text' id='ct_name' class='col-12 form-control form-control-sm' placeholder='請輸入案主姓名' autocomplete="off" value='{{$tv_service_case_complaint_row->ct01|default:''}}{{$tv_service_case_complaint_row->ct02|default:''}}' {{if $tv_msel == "upd"}} readonly {{/if}} required>
                            <span id='helpBlock_ct_name' class='help-block'></span>
                          </span>
                        </td>
                      </tr>
                      {{if $tv_msel == 'add'}}
                        <tr class='d-flex'>
                          <td width='{{$swidth_left_2}}' class='text-right'><span class="text-danger">*</span>餐別</td>
                          <td width='{{$swidth_right_2}}' class='table-light'>
                            <span class='form-group'>
                            <select id='sec_sel' data-placeholder='' class='form-control form-control-sm chosen-select-deselect' data-fd_name="sec">
                              <option value=''>-請選擇-</option>
                            </select>
                            <div class='help-block with-errors'></div>
                            </span>
                          </td>
                        </tr>
                      {{else}}
                        <tr class='d-flex'>
                          <td width='{{$swidth_left_2}}' class='text-right'><span class="text-danger">*</span>服務名稱</td>
                          <td width='{{$swidth_right_2}}' class='table-light'>
                            <span class='form-group'>
                              {{$tv_service_case_complaint_row->sec04_str|default:''}}
                              <span id='helpBlock_ct_name' class='help-block'></span>
                            </span>
                          </td>
                        </tr>
                      {{/if}}
                    {{/if}}
                    {{if 'meal' == $tv_source}}
                      <tr class='d-flex'>
                        <td width='{{$swidth_left_2}}' class='text-right'><span class="text-danger">*</span>案主姓名</td>
                        <td width='{{$swidth_right_2}}' class='table-light'>
                          <span class="text-dark">
                            {{$tv_service_case_complaint_row->ct01|default:''}}{{$tv_service_case_complaint_row->ct02|default:''}}
                          </span>
                        </td>
                      </tr>
                      <tr class='d-flex'>
                        <td width='{{$swidth_left_2}}' class='text-right'><span class="text-danger">*</span>服務名稱</td>
                        <td width='{{$swidth_right_2}}' class='table-light'>
                          <span class="text-dark">
                            {{$tv_service_case_complaint_row->sec04_str|default:''}}
                          </span>
                        </td>
                      </tr>
                    {{/if}}
                    {{if 'item' == $tv_source}}
                    <tr class='d-flex'>
                      <td width='{{$swidth_left_2}}' class='text-right'><span class="text-danger">*</span>案主姓名</td>
                      <td width='{{$swidth_right_2}}' class='table-light'>
                        <span class="text-dark">
                          {{$tv_service_case_complaint_row->ct01|default:''}}{{$tv_service_case_complaint_row->ct02|default:''}}
                        </span>
                      </td>
                    </tr>
                    <tr class='d-flex'>
                      <td width='{{$swidth_left_2}}' class='text-right'><span class="text-danger">*</span>餐別</td>
                      <td width='{{$swidth_right_2}}' class='table-light'>
                        <span class='form-group'>
                        <select id='sec_sel' data-placeholder='' class='form-control form-control-sm chosen-select-deselect' data-fd_name="sec">
                          <option value=''>-請選擇-</option>
                          {{foreach from=$tv_service_case_row key=k item=v}}
                            <option value="{{$v.s_num}}" data-sec01="{{$v.sec01}}" data-reh_type="{{$v.reh_type}}">{{$v.sec04_str}}({{$v.sec02}}開始)({{$v.sec99}})</option>
                          {{/foreach}}
                        </select>
                        <div class='help-block with-errors'></div>
                        </span>
                      </td>
                    </tr>
                    {{/if}}
                  {{/if}}
                  {{if 'upd' == $tv_msel}}
                    <tr class='d-flex'>
                      <td width='{{$swidth_left_2}}' class='text-right'><span class="text-danger">*</span>案主姓名</td>
                      <td width='{{$swidth_right_2}}' class='table-light'>
                        <span class='form-group'>
                          <input type='text' id='ct_name' class='col-12 form-control form-control-sm' placeholder='請輸入案主姓名' autocomplete="off" value='{{$tv_service_case_complaint_row->ct01|default:''}}{{$tv_service_case_complaint_row->ct02|default:''}}' readonly required>
                          <span id='helpBlock_ct_name' class='help-block'></span>
                        </span>
                      </td>
                    </tr>
                    <tr class='d-flex'>
                      <td width='{{$swidth_left_2}}' class='text-right'><span class="text-danger">*</span>服務名稱</td>
                      <td width='{{$swidth_right_2}}' class='table-light'>
                        <span class='form-group'>
                          {{$tv_service_case_complaint_row->sec04_str|default:''}}
                          <span id='helpBlock_ct_name' class='help-block'></span>
                        </span>
                      </td>
                    </tr>
                  {{/if}}
                  <tr class="d-flex">
                    <td width='{{$swidth_left_2}}' class='text-right'>路線</td>
                    <td width="{{$swidth_right_2}}" class="table-light">
                      <input type='hidden' id='reh_s_num' name='reh_s_num' class='form-control form-control-sm' value="{{$tv_service_case_complaint_row->reh_s_num|default:''}}">
                      <span class="text-dark" id="reh01">{{$tv_service_case_complaint_row->reh01|default:''}}</span>
                    </td>
                  </tr>
                  <tr class="d-flex">
                    <td width='{{$swidth_left_2}}' class='text-right'>餐種</td>
                    <td width="{{$swidth_right_2}}" class="table-light">
                      <span class="text-dark" id="ml01">{{$tv_service_case_complaint_row->ml01|default:''}}</span>
                    </td>
                  </tr>
                  <tr class='d-flex'>
                    <td width='{{$swidth_left_2}}' class='text-right'>餐點調整</td>
                    <td width='{{$swidth_right_2}}' class='table-light'>
                      <span>一. 特殊內容：</span>
                      <span class='form-group' id="mil_m01_1_str">{{$tv_service_case_complaint_row->mil_m01_1_str|default:''}}</span>
                      <br/>
                      <span>二. 硬度&份量：</span>
                      <span class='form-group' id="mil_m01_2_str">{{$tv_service_case_complaint_row->mil_m01_2_str|default:''}}</span>
                      <br/>
                      <span>三. 餐食禁忌：</span>
                      <span class='form-group' id="mil_m01_3_str">{{$tv_service_case_complaint_row->mil_m01_3_str|default:''}}</span>
                      <br/>
                      <span>四. 主食禁忌：</span>
                      <span class='form-group' id="mil_m01_4_str">{{$tv_service_case_complaint_row->mil_m01_4_str|default:''}}</span>
                      <br/>
                      <span>五. 治療餐：</span>
                      <span class='form-group' id="mil_m01_5_str">{{$tv_service_case_complaint_row->mil_m01_5_str|default:''}}</span>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
            <tr class='d-flex'>
              <td width='{{$swidth_left}}' class='table-secondary text-right'><span class="text-danger">*</span>客訴情形</td>
              <td width='{{$swidth_right}}' class='table-light'>
                <table class="table table-hover table-sm">
                  <tr class='d-flex'>
                    <td width='{{$swidth_left_2}}' class='text-right'><span class="text-danger">*</span>受理日期</td>
                    <td width='{{$swidth_right_2}}' class='table-light'>
                      <span class='form-group'>
                        <div class='input-group form_date'>
                          <div class='input-group-prepend'>
                            <span class='input-group-text'><i class='far fa-calendar-alt'></i></span>
                          </div>
                          <input type='text' id='sect01' name='sect01' class='form-control form-control-sm' placeholder='請輸入受理日期' value='{{$tv_service_case_complaint_row->sect01|default:''}}' required>
                        </div>
                        <span id='helpBlock_sect01' class='help-block'></span>
                        <div class='help-block with-errors'></div>
                      </span>
                    </td>
                  </tr>
                  <tr class='d-flex'>
                    <td width='{{$swidth_left_2}}' class='text-right'><span class="text-danger">*</span>照會人員</td>
                    <td width='{{$swidth_right_2}}' class='table-light'>
                      <span class='form-group'>
                        <input type='text' id='sect02' name='sect02' class='form-control form-control-sm' placeholder='請輸入照會人員' value='{{$tv_service_case_complaint_row->sect02|default:''}}' required>
                        <span id='helpBlock_sect02' class='help-block'></span>
                        <div class='help-block with-errors'></div>
                      </span>
                    </td>
                  </tr>
                  <tr class='d-flex'>
                    <td width='{{$swidth_left_2}}' class='text-right'><span class="text-danger">*</span>照會事項</td>
                    <td width='{{$swidth_right_2}}' class='table-light'>
                      <span class='form-group'>
                        <input type='text' id='sect03' name='sect03' class='form-control form-control-sm' placeholder='請輸入照會事項' value='{{$tv_service_case_complaint_row->sect03|default:''}}' required>
                        <span id='helpBlock_sect03' class='help-block'></span>
                        <div class='help-block with-errors'></div>
                      </span>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
            <tr class='d-flex'>
              <td width='{{$swidth_left}}' class='table-secondary text-right'>原因分析</td>
              <td width='{{$swidth_right}}' class='table-light'>
                <span class='form-group'>
                  <textarea id='sect04' class='form-control form-control-sm' name='sect04' rows='5' >{{$tv_service_case_complaint_row->sect04|default:''}}</textarea>
                  <span id='helpBlock_sect04' class='help-block'></span>
                  <div class='help-block with-errors'></div>
                </span>
              </td>
            </tr>
            <tr class='d-flex'>
              <td width='{{$swidth_left}}' class='table-secondary text-right'>改善對策</td>
              <td width='{{$swidth_right}}' class='table-light'>
                <span class='form-group'>
                  <textarea id='sect05' class='form-control form-control-sm' name='sect05' rows='5' >{{$tv_service_case_complaint_row->sect05|default:''}}</textarea>
                  <span id='helpBlock_sect05' class='help-block'></span>
                  <div class='help-block with-errors'></div>
                </span>
              </td>
            </tr>
            <tr class='d-flex'>
              <td width='{{$swidth_left}}' class='table-secondary text-right'>處理措施</td>
              <td width='{{$swidth_right}}' class='table-light'>
                <span class='form-group'>
                  <textarea id='sect06' class='form-control form-control-sm' name='sect06' rows='5' >{{$tv_service_case_complaint_row->sect06|default:''}}</textarea>
                  <span id='helpBlock_sect06' class='help-block'></span>
                  <div class='help-block with-errors'></div>
                </span>
              </td>
            </tr>
            <tr class='d-flex'>
              <td width='{{$swidth_left}}' class='table-secondary text-right'>評值</td>
              <td width='{{$swidth_right}}' class='table-light'>
                <span class='form-group'>
                  <textarea id='sect07' class='form-control form-control-sm' name='sect07' rows='5' >{{$tv_service_case_complaint_row->sect07|default:''}}</textarea>
                  <span id='helpBlock_sect07' class='help-block'></span>
                  <div class='help-block with-errors'></div>
                </span>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </form>
  </div>
  <!-- container-fluid end-->
  <!-- 刪除確認彈出 -->
  <div class="modal fade pop-del_file" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
    <div class="modal-dialog  modal-sm" role="document">
      <div class="modal-content  modal-C1 ">
        <div class="text-center paTB20">
          <h1><i class="fa fa-info-circle mainC2 maB10" aria-hidden="true"></i><br></h1>
          真的要刪除此檔案嗎？
          <br>
          ※確定後，需按右上儲存按鈕才會刪除檔案!!
        </div>
        <div class="modal-footer text-center">
          <input type="hidden" id='f_del_fd_name' value="">
          <button type="button" class="btn btn-C1-line" data-dismiss="modal">取消</button>
          <button type="button" id="del_file" class="btn btn-C1" data-dismiss="modal">確定</button>
        </div>
      </div>
    </div>
  </div>
  <!-- 刪除確認彈出 end-->
</div>